<div class="flashcard-admin">
  <h2><%= link_to deck.title, admin_deck_path(deck) %></h2>

  <%= semantic_form_for([:admin, deck, flashcard]) do |f| %>
    <%= f.input :title %>
    <%= f.input :position %>
    <%= f.input :prompt %>
    <%= f.input :answer %>
    <%= f.submit %>
  <% end %>

  <div class="preview-wrapper">
    <p>Note -- the title will not be displayed in the preview</p>
    <div class="flashcard-preview"></div>

    <% content_for :javascript do %>
      <script type="text/javascript">
        $(function() {
          var previewUrl = "<%= admin_deck_flashcard_preview_path(deck) %>";
          var $flashcardForm = $("form.flashcard");
          var $flashcardPreview = $(".flashcard-preview");

          var loadPreview = $.debounce(300, function() {
            var previewFetched = $.post(previewUrl, $flashcardForm.serialize());
            previewFetched.done(function(response) {
              $flashcardPreview.html(response);
              $flashcardPreview.find("code").each(function(_, block) {
                hljs.highlightBlock(block);
              });
            });
          });

          $flashcardForm.on("keyup", loadPreview);
          loadPreview();
        });
      </script>
    <% end %>
  </div>
</div>
