<%= link_to t(".reveal-answer"),
  "javascript:;", class: "reveal-answer" %>

<div class="revealed-answer hidden">
  <div class="flashcard">
    <%= format_markdown question.answer %>
  </div>

  <p>Want to return this question later? Click "Save for review" to have it added to your Review Queue.</p>

  <%= form_for [question, question.attempts.new] do |f| %>
    <%= f.hidden_field :confidence, value: 1 %>
    <%= f.submit "Save for review", class: "keep-flashcard" %>
  <% end %>

  <%= form_for [question, question.attempts.new] do |f| %>
    <%= f.hidden_field :confidence, value: 5 %>
    <%= f.submit "Next flashcard", class: "next-flashcard" %>
  <% end %>
</div>

<% content_for :javascript do -%>
  <script type="text/javascript">
    $(function() {
      $revealAnswerLink = $(".reveal-answer");
      $revealAnswerLink.on("click", function(event) {
        $(".revealed-answer").show();
        $revealAnswerLink.hide();
      });
    });
  </script>
<% end %>
