<h1 class="topic-label"><%= @quiz.title %></h1>

<div class="flashcard">
  <span class="flashcards-count">
    <%= t(".numbered-title",
          position: @question.position,
          total: @quiz.length) %>
  </span>

  <div class="flashcard-prompt">
    <%= format_markdown @question.prompt %>
  </div>
</div>

<% if @reviewing %>
  <%= format_markdown @question.answer %>
  <%= link_to t(".return-to-results"), quiz_results_path(@question.quiz) %>
<% else %>
  <h4><%= t(".answer") %></h4>
  <%= render "questions/hidden_answer",  question: @question %>
<% end %>
