<div class="just-finished">
  <section class="trail just-finished <%= topic_classes(trail.topics) %>">
    <header>
      <%= render trail.topics %>
      <span class="just-finished-subhead">You just finished</span>
      <h1><%= link_to trail, trail %></h1>
    </header>

    <div class="just-finished-mask">
      <section class="progress just-finished">
        <%= render partial: "trails/progress_dot",
          collection: trail.completeables,
          as: "completeable"
        %>
      </section>
    </div>

    <p><%= trail.complete_text %></p>
  </section>
</div>
