<div class="just-finished">
  <section class="trail just-finished <%= topic_class(trail.topic) %>">
    <header>
      <%= link_to trail.topic do %>
        <span class="topic-label"><%= trail.topic %></span>
      <% end %>
      <span class="just-finished-subhead">You just finished</span>
      <h1><%= link_to trail, trail %></h1>
    </header>

    <div class="just-finished-mask">
      <section class="progress just-finished">
        <%= render partial: "trails/progress_dot",
          collection: trail.completeables,
          as: "completeable"
        %>
      </section>
    </div>

    <p><%= trail.complete_text %></p>
  </section>
</div>
