<aside>
  <%= render 'purchases/downloads_info', purchaseable: purchaseable %>

  <% if purchaseable.resources.present? %>
    <div class="resources">
      <h3>Resources</h3>
      <hr>
      <%== format_resources(purchaseable.resources) %>
    </div>
  <% end %>

  <%= render 'shared/sidebar_chat', purchaseable: purchaseable %>

  <% if purchaseable.events.any? %>
    <div class="video-chat">
      <h3>Video Chat Schedule</h3>
      <hr>
      <p>During the following times you can join the teacher and other students in this Google Hangout video chat.</p>
      <hr>
      <ol>
        <%= render purchaseable.events.ordered, section: purchaseable %>
      </ol>
      <%= link_to "Join Video Chat", purchaseable.video_chat_url, class: 'button' %>
    </div>
  <% end %>
</aside>
