<% if current_user_has_access_to_workshops? %>
  <h2 class="active-subscription"><%= t 'workshops.show.free_to_subscribers' %></h2>
  <%= link_to new_workshop_purchase_path(workshop), class: "free-with-prime button" do %>
    <%= register_text %>
  <% end %>
<% elsif current_user_has_active_subscription? %>
  <%= link_to edit_subscription_path, class: "prime-button license-button button" do %>
    <%= t('workshops.show.upgrade') %>
  <% end %>
<% end %>
