<% content_for :page_title, "#{@workshop.name}: a workshop from thoughtbot" %>
<% content_for :meta_description, @workshop.short_description %>
<% content_for :subject, @workshop.name %>

<div class="text-box-wrapper">
  <div class="text-box">
    <% if @workshop.has_online_workshop? %>
      <div class="workshop-alert">
        <%= link_to 'Not in Boston or San Francisco? <b>Take the Online Workshop.</b>'.html_safe, @workshop.online_workshop %>
      </div>
    <% elsif @workshop.has_in_person_workshop? %>
      <div class="workshop-alert">
        <%= link_to 'In Boston or San Francisco? <b>Take the In-Person Workshop.</b>'.html_safe, @workshop.in_person_workshop %>
      </div>
    <% end %>
    <hgroup class="product-title">
      <h2><%= @workshop.short_description %></h2>
      <h3 class="workshop-type">
        <% if @workshop.online? %>
          Online
        <% else %>
          In-Person
        <% end %>
      Workshop</h3>
    </hgroup>
    <%=raw textilize @workshop.description %>
    <%= render 'questions', workshop: @workshop %>
    <%= render @section_teachers %>
  </div>
</div>
<aside>
  <% if @sections.any? %>
    <%= render 'sections/section', sections: @sections, workshop: @workshop %>
  <% else %>
    <%= render 'sections/tbd' %>
  <% end %>
</aside>

<% if @workshop.in_person? %>
  <% content_for :outside do %>
    <section id="additional-information">
      <section id="additional-information-wrapper">
        <section id="main-content">
          <%= render 'follow_up', workshop: @workshop %>

          <section id="terms">
            <h4>By registering for this workshop you agree to the following terms and conditions:</h4>
            <ul>
              <li>
                If you&rsquo;re not happy with a workshop you took, just let us know within 30 days and we&rsquo;ll refund your money. It&rsquo;s as simple as that.
                The ticket will entitle the named holder entrance to this event.
                Tickets may not be resold and are non-transferrable.
              </li>
              <li>
                We may film, take photographs, and use your feedback for marketing purposes.
                thoughtbot, inc. will not be liable for any direct or indirect damage of any nature arising out of the cancellation of the event.
              </li>
            </ul>
          </section>
        </section>
      </section>
    </section>
  <% end %>
<% end %>
