<% content_for :subject_block do %>
  <h1><%= @offering.name %></h1>
  <% if @offering.videos.any? %>
    <h2 class="tagline">Watch or download video lessons, <%= pluralize @offering.published_videos.size, 'lesson' %> in this workshop.</h2>
  <% end %>
<% end %>

<div class="text-box-wrapper">
  <section class="text-box" id="videos">
    <%= render 'workshops/dates', offering: @offering, license: @license %>
    <%= render 'workshops/videos', offering: @offering, license: @license %>
  </section>
</div>

<%= render 'workshops/aside', offering: @offering, license: @license %>
