<%= content_tag_for :li, purchase do %>
  <span class="name">
    <%= purchase.name %>
    <% if purchase.comments.present? %>
      <%= link_to "Note", "javascript:void(0)", title: purchase.comments %>
    <% end %>
  </span>
  <%= link_to "Edit", "/new_admin/purchase/#{purchase.id}/edit" %>
  <%= mail_to purchase.email, 'email', title: "Email" %>
<% end %>
