<% content_for :page_title, 'Team Members' %>
<% content_for :subject_block do %>
  <h1>Your Team</h1>
<% end %>

<div class="text-box-wrapper solo">
  <div class="text-box">
    <h4>
      Members
    </h4>

    <ul class="members">
      <% @team.users.each do |user| %>
        <li class="<%= "owner" if @team.owner?(user) %>">
          <span class="username"><%= user.name %></span>
          <%= link_to(
            "✖",
            membership_path(user),
            method: :delete,
            id: dom_id(user, "remove"),
            data: {
              confirm: "Are you sure you want to remove this user from your team? They will lose access to all the content they have as part of the team."
            }
          ) %>
        </li>
      <% end %>
    </ul>

    <% if @team.invitations.pending.any? %>
      <h4>Pending Invitations</h4>
      <ul class="invitations">
        <% @team.invitations.pending.each do |invitation| %>
          <li>
            <%= invitation.email %>
            <%= link_to(
              "✖",
              invitation_path(invitation),
              method: :delete,
              id: dom_id(invitation, "remove"),
              data: {
                confirm: "Are you sure you want to remove this invitation?"
              }
            ) %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <div class="invite-members">
      <p>Invite a new team member.</p>
      <%= render 'invitations/form', invitation: @team.invitations.build %>
    </div>
  </div>
</div>
