<% content_for :nav do -%>
  <ul>
    <li><%= link_to "Workshops", admin_workshops_path %></li>
    <li><%= link_to 'New Workshop', new_admin_workshop_path, id: 'new-workshop' %></li>
    <li><%= link_to "Coupons", admin_coupons_path %></li>
    <li><%= link_to "Teachers", admin_teachers_path %></li>
    <li><%= link_to "Products", admin_products_path %></li>
    <li><%= link_to "Purchases", admin_purchases_path %></li>
  </ul>
<% end -%>

<ul id='workshop_list'>
  <%= render @workshops %>
</ul>
<% content_for :javascript do %>
  <%= javascript_tag do %>
    $(function() {
      $('#workshop_list').sortable({ axis: 'y' })
      $('#workshop_list').bind('sortupdate', function(event, ui) {
        workshop_id = ui.item.data("workshop_id");
        position = $(this).children().index(ui.item) + 1;
        $.ajax("/admin/workshops/"+workshop_id+"/position.js", {
          data: { position: position },
          type: "PUT"
        });
      });
    });
  <% end %>
<% end %>
