<% content_for :nav do -%>
  <ul>
    <li><%= link_to "Workshops", admin_workshops_path %></li>
    <li class="raquo">&raquo;</li>
    <li><%= link_to "New Workshop", new_admin_workshop_path %></li>
  </ul>
<% end -%>

<%= semantic_form_for [:admin, @workshop] do |form| %>
  <%= render partial: 'fields', locals: { form: form } %>
  <%= form.actions %>
<% end %>
