<section class="root-quizzes">
  <h3><%= t('.title') %></h3>

  <h4><%= t(".subhead") %></h4>

  <p><%= t('.feature_description') %></p>

  <section class="decks">
    <%= render @quizzes %>
  </section>

  <section class="saved-deck">
    <%= render "questions/needing_review" %>
  </section>
</section>
