<%= content_for(:page_title, t(".page_title")) %>
<section class="section about-us">
  <div class="image-crop">
    <%= image_tag "marketing_redesign/man-learning-from-home.jpg", alt: "Man wearing a blue cap and green jacket sits at a table and uses a laptop, with a red mug in front of him in a well-lit room."%>
  </div>
  <div class="about-content">
    <h1><%= t(".section_title") %></h1>

    <p><%= t(".content_1") %></p>
    <p><%= t(".content_2") %></p>
    <p><%= t(".content_3") %></p>

    <%= link_to(
          t(".classic_cta"),
          {controller: "/marketing", action: :show},
          class: "section-cta button button--primary"
        ) %>
  </div>
</section>