<% content_for :page_title, "Sign In to Upcase" %>
<section id="auth-form-container">
  <%= link_to github_auth_path, method: :post, class: 'cta-button secondary-button' do %>
    <%= image_tag("github-black.svg", class: "github-logo", alt: "") %>
    <%= t("authenticating.github_signin") %>
  <% end %>
  <span class="divider">
    <h4 class="text">Or</h4>
  </span>
  <div class="thoughtbot-signin">
    <%= semantic_form_for :session, url: session_path do |form| %>
      <%= hidden_field_tag :return_to, params[:return_to] if params[:return_to] %>
      <%= form.inputs do %>
        <%= form.input :email, as: :email %>
        <%= form.input :password %>
      <% end %>
      <%= form.actions do %>
        <%= form.action :submit, label: "Sign in" %>
      <% end %>
    <% end %>
    <p class="signup-forgot">
      <%= link_to "Forgot password?", new_password_path %>
    </p>
  </div>
</section>
