<section class="hero hero--pattern-background">
  <%= inline_svg("splash/upcase-ruby-tapas-logos.svg") %>

  <h1 class="hero__tagline">
    Upcase & Ruby Tapas
  </h1>

  <h2 class="hero__uvp">
    <strong>Joining forces</strong> to help your team ship faster in 2017.
  </h2>

  <div class="background background--upcase-hero"></div>
  <div class="background background--tapas-hero"></div>
</section>

<section class="page-section">
  <section class="page-content">
    <h2 class="page-content__heading">
      The Perfect Pairing
    </h2>

    <section class="page-split">
      <div class="page-split__section">
        <h2 class="page-split__heading">
          <%= inline_svg "splash/upcase-logo--small.svg" %>
        </h2>

        <p class="page-split__item">
          <strong>Long-form courses</strong> that dive deep on topics like
          TDD in Rails, RSpec best practices and Rails features you'd be
          better off avoiding.
        </p>

        <p class="page-split__item">
          Obsessed with <strong>developer productivity beyond code</strong>:
          courses on Vim, Git, and the Shell will have your coworkers asking
          "how'd you just do that?!"
        </p>

        <p class="page-split__item">
          <strong>Real-world advice from the experts at thoughtbot</strong>
          (authors of factory_girl, Bourbon, and paperclip).
        </p>
      </div>

      <div class="page-split__section">
        <h2 class="page-split__heading">
          <%= inline_svg "splash/ruby-tapas-logo--small.svg" %>
        </h2>

        <p class="page-split__item">
          <strong>Shorter, bite-sized videos</strong> perfect for watching
          over lunch. These go deep into <strong>nitty-gritty Ruby
          features</strong> you'll wish you'd heard about sooner.
        </p>

        <p class="page-split__item">
          Highlights parts of the <strong>Ruby standard library</strong> that
          will have you deleting your home-grown code left and right.
        </p>

        <p class="page-split__item">
          Special guest appearances from luminaries like James Edward Gray II,
          Peter Cooper, and Pat Shaughnessy.
        </p>
      </div>
    </section>
  </section>

  <div class="background background--upcase-solid"></div>
  <div class="background background--tapas-solid"></div>
</section>

<section class="page-section">
  <section class="page-content">
    <h2 class="page-content__heading">
      Ben & Avdi
    </h2>

    <p class="page-content__intro">
      Meet the founders
    </p>

    <section class="bios">
      <div class="bio">
        <%= image_tag "splash/bens-face.png", class: "bio__photo"%>

        <h3 class="bio__name">
          Ben Orenstein
        </h3>

        <p>
          Ben is a thoughtbotter, conference speaker, Vim evangelist,
          and host of Giant Robots Smashing into Other Giant Robots podcast.
        </p>

        <p>
          Lately, he's into strong type systems and even stronger coffee.
        </p>
      </div>

      <div class="bio">
        <%= image_tag "splash/avdis-face.png", class: "bio__photo"%>

        <h3 class="bio__name">
          Avdi Grimm
        </h3>

        <p>
          Avdi is a 15 year Ruby veteran and a recipient of the <a
            href="https://rubyheroes.com/">Ruby Hero award</a>. 
        </p>

        <p>
          As head chef at
          RubyTapas, he has taught advanced Ruby and OO design skills to over
          6,000 developers over the past 5 years.
        </p>
      </div>
    </section>

    <div class="background background--upcase-light"></div>
    <div class="background background--tapas-light"></div>
  </section>
</section>

<section id="testimonials" class="page-section page-section--split">
  <section class="page-section__left">
    <section class="page-content page-content--half">
      <h5 class="testimonial-heading testimonial-heading--upcase">
        Upcase
      </h5>

      <p>
        "thoughtbot provided the top-notch Ruby and Rails experience we needed
        to help drive major improvements to Code Climate. <strong>With Upcase,
        you can learn from some of the best in the business.</strong>"
      </p>

      <figure class="person">
        <%= image_tag "splash/face--michael.png", class: "person__face" %>
        <h5 class="person__name">Bryan Helmkamp, Founder/CEO of Code Climate</h5>
      </figure>
    </section>
  </section>

  <section class="page-section__right">
    <section class="page-content page-content--half">
      <h5 class="testimonial-heading testimonial-heading--tapas">
        Ruby Tapas
      </h5>

      <p>
        "When a new RubyTapas arrives, I'm smarter before I finish my morning coffee."
      </p>

      <figure class="person">
        <%= image_tag "splash/face--sandi.jpg", class: "person__face" %>
        <h5 class="person__name">Sandi Metz, Author of POODR</h5>
      </figure>
    </section>
  </section>
</section>
