<div class="tier">
  <%= render "pages/tapas/deal" %>

  <h2 class="tier__title">
    Gold
  </h2>

  <p class="tier__feature-list">
    Everything in Silver, <mark>plus a private, 60 minute "lunch and
    learn" for your team.</mark> Hosted by Ben and Avdi, conducted
    remotely, focused on development team best pratices (effective code
    review, iteration planning, commnication, etc.). Includes live Q&A!
  </p>

  <div class="tier-price">
    <strike>$2,000</strike>

    <div class="tier-price__price">
      <strong>
        $<%= number_with_delimiter(TapasPaymentsController::TIER_4_PRICE / 100) %>
      </strong> per person (minimum of 5)
    </div>
  </div>

  <div class="tier__sale">
    Only 6 packages remaining
  </div>

  <form action="/upcase/tapas_team_payments" method="POST">
    <div class="tier-quantity">
      <label for="quantity">Number of team members</label>

      <select id="quantity" name="quantity">
        <%= (5..40).each do |number| %>
          <option><%= number %></option>
        <% end %>
      </select>
    </div>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_IUggbBONd079p5jCloGEijOFRBDnq"
            data-amount="<%= TapasPaymentsController::TIER_4_PRICE %>"
            data-name="Upcase"
            data-panel-label="{{amount}} per team member"
            data-description="Tier 4 of Upcase/Tapas Bundle"
            data-image="https://s3.amazonaws.com/stripe-uploads/ZZmGCK8MYKr0FHOuop7OzJe7Spmxk7nrmerchant-icon-1415719897983-twitter-icon-2-2.png"
            data-locale="auto">
    </script>

    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :tier, 4 %>
  </form>
</div>

