<div class="tier">
  <h2 class="tier__title">
    Silver
  </h2>

  <ul class="tier__feature-list">
    <li>
      1 year of Upcase
      <small class="tier__normal-price">normally $290</small>
    </li>

    <li>
      1 year of Ruby Tapas
      <small class="tier__normal-price">normally $349</small>
    </li>
    <li>

      1 copy of <a href="https://www.confidentruby.com/">Confident Ruby</a>
      <small class="tier__normal-price">normally $55</small>
    </li>

    <li>
      1 copy of <a href="https://gumroad.com/l/ruby-science">Ruby Science</a>
      <small class="tier__normal-price">normally $30</small>
    </li>

    <li>
      1 ticket to a 60-minute, live, "ask us anything" hosted by Ben and Avdi
    </li>

    <li>
      1 60-minute video of Ben and Avdi pairing on a programming challenge
    </li>
  </ul>

  <div class="tier-price">
    <strike>$799</strike>

    <div class="tier-price__price">
      <strong>
        $<%= TapasPaymentsController::TIER_3_PRICE / 100 %>
      </strong> per person
    </div>
  </div>

  <div class="tier__sale tier__sale-placeholder">
    Many packages remaining
  </div>

  <form action="/upcase/tapas_payments" method="POST">
    <div class="tier-quantity">
      <label for="quantity">Number of team members</label>

      <select id="quantity" name="quantity">
        <%= (2..40).each do |number| %>
          <option><%= number %></option>
        <% end %>
      </select>
    </div>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_dS1rNV9KKlKqKkgnXzXYPdYzwM228"
            data-amount="<%= TapasPaymentsController::TIER_3_PRICE %>"
            data-name="Upcase"
            data-panel-label="{{amount}} per team member"
            data-description="Silver Tier"
            data-label="I want this"
            data-image="https://s3.amazonaws.com/stripe-uploads/ZZmGCK8MYKr0FHOuop7OzJe7Spmxk7nrmerchant-icon-1415719897983-twitter-icon-2-2.png"
            data-locale="auto">
    </script>

    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :tier, 3 %>
  </form>
</div>
