<%= content_for(:page_title, t(".page_title")) %>
<div class="page-content">
  <section class="section hero">
    <div class="section-header full">
      <h1 class="section-title">
        <%= t("marketing_redesign.home.show.hero_heading") %>
      </h1>
      <p class="section-subtitle">
        <%= t("marketing_redesign.home.show.hero_subheading") %>
      </p>
      <a class="section-cta button button--primary" href="/contact-us">
        <%= t("marketing_redesign.home.show.hero_cta") %>
      </a>
    </div>
  </section>

  <section class="section testimonial">
    <div class="section-header full">
      <h2 class="section-title">
        <%= t("marketing_redesign.home.show.testimonials.heading") %>
      </h2>
    </div>
    <div class="section-content full logo-container">
        <%= image_tag "marketing_redesign/brand-logos/moma.png", alt: "New York City Museum of Modern Art logo", class: "logo" %>
        <%= image_tag "marketing_redesign/brand-logos/hbr.png", alt: "Harvard Business Review logo", class: "logo" %>
        <%= image_tag "marketing_redesign/brand-logos/planned-parenthood.png", alt: "Planned Parenthood logo", class: "logo" %>
        <%= image_tag "marketing_redesign/brand-logos/merck.png", alt: "Merck logo", class: "logo" %>
        <%= image_tag "marketing_redesign/brand-logos/vimeo.png", alt: "Vimeo logo", class: "logo" %>
    </div>
    <div class="quote-container full">
      <q class="quote text-xl"><%= t("marketing_redesign.home.show.testimonials.quotes.patrick_cushing_quote_html") %></q>
      <div class="author">
        <div class="author-avatar">
          <%= image_tag "marketing_redesign/patrick.png", alt: "Vimeo logo", class: "avatar" %>
        </div>
        <div class="author-info">
          <p class="author-name"><strong>Patrick Cushing</strong></p>
          <p class="author-role text-sm"><%= t("marketing_redesign.home.show.testimonials.quotes.patrick_cushing_role") %></p>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <header class="section-header full">
      <h2 class="section-title">
        <%= t("marketing_redesign.home.show.outcomes.heading") %>
      </h2>
    </header>
    <div class="section-content outcome-container full">
      <div class="outcome-item">
        <h4><%= t("marketing_redesign.home.show.outcomes.velocity_heading") %></h4>
        <p><%= t("marketing_redesign.home.show.outcomes.velocity_desc") %></p>
      </div>
      <div class="outcome-item">
        <h4><%= t("marketing_redesign.home.show.outcomes.collaboration_heading") %></h4>
        <p><%= t("marketing_redesign.home.show.outcomes.collaboration_desc") %></p>
      </div>
      <div class="outcome-item">
        <h4><%= t("marketing_redesign.home.show.outcomes.documentation_heading") %></h4>
        <p><%= t("marketing_redesign.home.show.outcomes.documentation_desc") %></p>
      </div>
    </div>
  </section>

  <section class="section">
    <header class="section-header full">
      <h2 class="section-title">
        <%= t("marketing_redesign.home.show.benefits.heading") %>
      </h2>
    </header>
    <div class="section-content full">
        <div class="benefit-item">
          <%= inline_svg_tag(
              "marketing_redesign/benefit-check.svg",
              class: "category-card__image",
            )
            %>
          <div class="benefit-content">
            <h4><%= t("marketing_redesign.home.show.benefits.quality") %></h4>
            <p><%= t("marketing_redesign.home.show.benefits.quality_desc") %></p>
          </div>
        </div>
        <div class="benefit-item">
          <%= inline_svg_tag(
              "marketing_redesign/benefit-check.svg",
              class: "category-card__image",
            )
            %>
          <div class="benefit-content">
            <h4><%= t("marketing_redesign.home.show.benefits.schedule") %></h4>
            <p><%= t("marketing_redesign.home.show.benefits.schedule_desc") %></p>
          </div>
        </div>
        <div class="benefit-item">
          <%= inline_svg_tag(
              "marketing_redesign/benefit-check.svg",
              class: "category-card__image",
            )
            %>
          <div class="benefit-content">
            <h4><%= t("marketing_redesign.home.show.benefits.experts") %></h4>
            <p><%= t("marketing_redesign.home.show.benefits.experts_desc") %></p>
          </div>
        </div>
        <div class="benefit-item">
          <%= inline_svg_tag(
              "marketing_redesign/benefit-check.svg",
              class: "category-card__image",
            )
            %>
          <div class="benefit-content">
            <h4><%= t("marketing_redesign.home.show.benefits.curriculum") %></h4>
            <p><%= t("marketing_redesign.home.show.benefits.curriculum_desc") %></p>
          </div>
        </div>
        </div>
    </div>
  </section>

  <section class="section">
    <header class="section-header full">
      <h2 class="section-title">
        <%= t("marketing_redesign.home.show.classic.heading") %>
      </h2>
    </header>
    <div class="section-content full">
      <%= link_to(
          t("marketing_redesign.home.show.classic.cta"),
          {controller: "/marketing", action: :show},
          class: "section-cta button button--primary"
        ) %>
    </div>
  </section>
</div>
