<aside>
  <% if related.topics.present? %>
    <section class="related">
      <h3><%= t '.topics' %></h3>
      <hr>
      <p class="related-topics"><%= render partial: 'relateds/topic', collection: related.topics %></p>
    </section>
  <% end %>
  <h3><%= t '.products' %></h3>
  <hr>
  <ul class='related-products related-video_tutorials'>
    <% if current_user && !current_user.has_active_subscription? %>
      <li class="subscription">
        <%= link_to subscribe_path do %>
          <span class="icon"><%= t('shared.subscriptions.icon') %></span>
          <hgroup>
            <h4>Access all of our products by subscribing to <%= t('shared.subscription.name') %></h4>
          </hgroup>
        <% end %>
      </li>
    <% end %>
    <%= render partial: 'relateds/video_tutorial', collection: related.video_tutorials %>
    <%= render partial: 'relateds/product', collection: related.products %>
  </ul>
</aside>
