<%= link_to t(".reveal-answer"),
  "javascript:;", class: "reveal-answer small-button" %>

<div class="revealed-answer hidden">
  <div class="flashcard">
    <%= format_markdown flashcard.answer %>
  </div>

  <% if signed_in? %>
    <p>Want to return to this flashcard soon? Just click "<%=
    t(".save-for-review") %>." (If this flashcard is already in your queue,
    clicking "<%= t(".next-flashcard") %>" will remove it.)</p>

    <%= form_for [flashcard, flashcard.attempts.new] do |f| %>
      <%= f.hidden_field :confidence, value: Attempt::LOW_CONFIDENCE %>
      <%= f.submit t(".save-for-review_html"), class: "secondary-button small-button" %>
    <% end %>

    <%= form_for [flashcard, flashcard.attempts.new] do |f| %>
      <%= f.hidden_field :confidence, value: Attempt::HIGH_CONFIDENCE %>
      <%= f.submit t(".next-flashcard_html"), class: "next-flashcard small-button" %>
    <% end %>
  <% else %>
    <% if flashcard.next %>
      <%= link_to t(".next-flashcard_html"), deck_flashcard_path(flashcard.deck, flashcard.next), class: "next-flashcard small-button" %>
    <% else %>
      <%= link_to t(".next-flashcard_html"), deck_results_path(flashcard.deck), class: "next-flashcard small-button" %>
    <% end %>
  <% end %>
</div>

<% content_for :javascript do -%>
  <script type="text/javascript">
    $(function() {
      $revealAnswerLink = $(".reveal-answer");
      $revealAnswerLink.on("click", function(event) {
        $(".revealed-answer").show();
        $revealAnswerLink.hide();
      });
    });
  </script>
<% end %>
