<span class="divider"><h4 class="text"><%= t(".review-queue") %></h4></span>

<% if flashcards_to_review.present? %>
  <ul class="kept-flashcards">
    <% flashcards_to_review.each do |flashcard| %>
      <li class="to-flashcard">
        <%= link_to flashcard.title, deck_flashcard_path(flashcard.deck, flashcard) %>
        <p class="flashcard-about"><%= t("deck-title-teaser", title: flashcard.deck_title) %></p>
        <%= button_to(
          "Remove",
          flashcard_attempt_path(flashcard, flashcard.most_recent_attempt_for(current_user)),
          method: :put,
          params: { confidence: Attempt::HIGH_CONFIDENCE },
          form_class: "remove") %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p><%= t(".blank-state-explanation", save_for_review_text:
           t("flashcards.hidden_answer.save-for-review")) %></p>
<% end %>
