<h1 class="topic-label"><%= @deck.title %></h1>

<div class="flashcard">
  <span class="flashcards-count">
    <%= t(".numbered-title",
          position: @flashcard.position,
          total: @deck.length) %>
  </span>

  <div class="flashcard-prompt">
    <%= format_markdown @flashcard.prompt %>
  </div>
</div>

<% if @reviewing %>
  <%= format_markdown @flashcard.answer %>
  <%= link_to t(".return-to-results"), deck_results_path(@flashcard.deck) %>
<% else %>
  <h4><%= t(".answer") %></h4>
  <%= render "flashcards/hidden_answer",  flashcard: @flashcard %>
<% end %>
