<%= content_tag :div, class: "plan team #{team_plan.sku}", id: team_plan.sku do %>
  <h2><%= team_plan.name %> <span><%= team_price_per_month team_plan %></span></h2>
  <%= render 'plans/features', plan: team_plan %>
  <%= link_to(
    I18n.t('subscriptions.choose_plan_html', plan_name: team_plan.name).html_safe,
    new_teams_team_plan_purchase_path(team_plan),
    class: 'button'
  ) %>
  <section class="plan-details">
    <p>Sign your team up for <%= t('shared.subscription.name') %> today, and give them the finest Ruby on Rails content and the kindest expert teachers.</p>
    <p>Your team gets all of the great benefits of <%= link_to t('shared.subscription.name'), subscribe_path %>, with convenient monthly group billing, as well as a nice discount. <%= t('shared.subscription.name') %> Teams have a minimum of 5 members, and a 10% discount off the normal price. New members can be added at any time.</p>
    <%== team_plan.description %>
    <p><strong>New team members can be added for just <%= individual_price_per_month team_plan %> each.</strong></p>
  </section>
<% end %>
