<section class="topics">
  <h2><strong>Dig into topics:</strong><br>Master tools, best practices and new technologies.</h2>
  <ol>
    <li>
      <a href="/rails/resources" class="topic-card">
        <div class="topic-corner"></div>
        <%= image_tag "topics/rails.svg", alt: "Rails", class: "topic-icon" %>
        <h4>Rails</h4>
        <div class="topic-description">
          <h6><strong>10</strong> resources, including:</h6>
          <ul>
            <li>Intro to Ruby on Rails</li>
            <li>Intermediate Rails</li>
            <li>Test-driven Rails</li>
            <li>Improving Rails Performance</li>
            <li>Vim for Rails Developers</li>
          </ul>
        </div>
      </a>
    </li>
    <li>
      <a href="/test-driven+development/resources" class="topic-card">
        <%= image_tag "topics/test-driven+development.svg", alt: "Test-driven Development", class: "topic-icon" %>
        <h4>Testing</h4>
        <div class="topic-description">
          <h6><strong>6</strong> resources, including:</h6>
          <ul>
            <li>Testing Fundamentals</li>
            <li>Test Doubles</li>
            <li>Four Phases of Testing</li>
            <li>Integration vs Unit Testing</li>
          </ul>
        </div>
      </a>
    </li>
    <li>
      <a href="#" class="topic-card">
        <%= image_tag "topics/ios.svg", alt: "iOS", class: "topic-icon" %>
        <h4>iOS</h4>
        <div class="topic-description">
          <ul>
            <li>Video</li>
            <li>Video</li>
            <li>Video</li>
          </ul>
        </div>
      </a>
    </li>
    <li>
      <a href="#" class="topic-card">
        <%= image_tag "topics/clean+code.svg", alt: "Clean Code", class: "topic-icon" %>
        <h4>Clean Code</h4>
        <div class="topic-description">
          <ul>
            <li>Video</li>
            <li>Video</li>
            <li>Video</li>
          </ul>
        </div>
      </a>
    </li>
    <li>
      <a href="#" class="topic-card">
        <%= image_tag "topics/javascript.svg", alt: "Javascript", class: "topic-icon" %>
        <h4>Javascript</h4>
        <div class="topic-description">
          <ul>
            <li>Video</li>
            <li>Video</li>
            <li>Video</li>
          </ul>
        </div>
      </a>
    </li>
    <li>
      <a href="#" class="topic-card">
        <%= image_tag "topics/vim.svg", alt: "Vim", class: "topic-icon" %>
        <h4>Vim</h4>
        <div class="topic-description">
          <ul>
            <li>Video</li>
            <li>Video</li>
            <li>Video</li>
          </ul>
        </div>
      </a>
    </li>
    <li>
      <a href="#" class="topic-card">
        <%= image_tag "topics/workflow.svg", alt: "Workflow", class: "topic-icon" %>
        <h4>Workflow</h4>
        <div class="topic-description">
          <ul>
            <li>Video</li>
            <li>Video</li>
            <li>Video</li>
          </ul>
        </div>
      </a>
    </li>
    <li>
      <a href="#" class="topic-card">
        <%= image_tag "topics/design.svg", alt: "Design", class: "topic-icon" %>
        <h4>Design</h4>
        <div class="topic-description">
          <ul>
            <li>Video</li>
            <li>Video</li>
            <li>Video</li>
          </ul>
        </div>
      </a>
    </li>
    <li>
      <a href="#" class="topic-card">
        <%= image_tag "topics/clojure.svg", alt: "Clojure", class: "topic-icon" %>
        <h4>Clojure</h4>
        <div class="topic-description">
          <ul>
            <li>Video</li>
            <li>Video</li>
            <li>Video</li>
          </ul>
        </div>
      </a>
    </li>
    <li>
      <a href="#" class="topic-card">
        <%= image_tag "topics/haskell.svg", alt: "Haskell", class: "topic-icon" %>
        <h4>Haskell</h4>
        <div class="topic-description">
          <ul>
            <li>Video</li>
            <li>Video</li>
            <li>Video</li>
          </ul>
        </div>
      </a>
    </li>
    <li>
      <a href="#" class="topic-card">
        <%= image_tag "topics/analytics.svg", alt: "Analytics", class: "topic-icon" %>
        <h4>Analytics</h4>
        <div class="topic-description">
          <ul>
            <li>Video</li>
            <li>Video</li>
            <li>Video</li>
          </ul>
        </div>
      </a>
    </li>
    <li>
      <a href="#" class="topic-card">
        <%= image_tag "topics/foundations.svg", alt: "Foundations", class: "topic-icon" %>
        <h4>Foundations</h4>
        <div class="topic-description">
          <ul>
            <li>Video</li>
            <li>Video</li>
            <li>Video</li>
          </ul>
        </div>
      </a>
    </li>
  </ol>
</section>
