<% content_for :page_title, "Upcase" %>

<div class="landing-page-wrapper">
  <header class="landing-hero">
    <h1>
      Watch One, Do One, Teach One
    </h1>

    <p>
      Upcase is an online training community
      for intermediate and advanced developers.
    </p>
  </header>

  <article>
    <h2>
      1. Watch a video
    </h2>

    <p>
      5-15 minute videos include
      <%= link_to "Ping-Pong Pair Programming", "https://upcase.com/videos/ping-pong-paired-programing" %>,
      <%= link_to "RSpec Best Practices", "https://upcase.com/videos/rspec-best-practices" %>,
      and
      <%= link_to "The Art of Vim", "https://upcase.com/the-art-of-vim" %>.
    </p>
  </article>

  <article>
    <h2>
      2. Write code
    </h2>

    <p>
      Exercises include
      <%= link_to "Refactoring: Explaining Variable", "https://exercises.upcase.com/exercises/explaining-variable" %>
      and
      <%= link_to "Regular Expressions: Repeating Patterns", "https://exercises.upcase.com/exercises/regular-expressions-repeating-patterns" %>.
      Clone the exercise's Git repo.
      Solve the problem on your own machine, then submit your solution.
    </p>
  </article>

  <article>
    <h2>
      3. Review a peer's code
    </h2>

    <p>
      Review other Upcase community members' solutions to exercises.
    </p>
  </article>

  <div class="call-to-action">
    <%= link_to "Join #{@community_size} other developers", new_subscription_path %>
  </div>
</div>
