<%= content_tag :figure, class: workshop_card_classes(workshop) do %>
  <%= link_to workshop, title: workshop.name, 'data-role' => 'workshop' do %>
    <h5>Workshop</h5>
    <%= image_tag(workshop.thumbnail_path) %>
    <h6 class="status"><%= workshop_card_status(workshop) %></h6>
    <h4><%= workshop.name %></h4>
    <p><%= workshop.short_description %></p>
  <% end %>
<% end %>
