<% content_for :nav do -%>
  <ul>
    <li><%= link_to "Workshops", admin_workshops_path %></li>
    <li><%= link_to "Teachers", admin_teachers_path %></li>
  </ul>
  <%= link_to 'Add Teacher', new_admin_teacher_path, id: 'new-action' %>
<% end -%>

<div id="teachers">
  <% @teachers.each do |teacher| %>
    <%= div_for teacher, class: 'cool-list' do %>
      <h3>
        <%= link_to edit_admin_teacher_path(teacher) do %>
          <%= teacher_gravatar(teacher) %>
          <%= teacher.name %>
        <% end %>
      </h3>
    <% end %>
  <% end %>
</div>
