<% content_for :subject_block do %>
  <h1><%= t('shared.subscription.name') %> for Teams</h1>
  <h2 class="tagline">
    Sign your team up for <%= t('shared.subscription.name') %> today, and give them the finest Ruby on Rails content and the best expert teachers.
  </h2>
<% end %>

<p>Your team gets all of the great benefits of <%= link_to t('shared.subscription.name'), prime_path %>, with convenient monthly group billing, as well as a nice discount. <%= t('shared.subscription.name') %> Teams have a minimum of 5 members, and a 10% discount off the normal price. New members can be added at any time.</p>

<section class="plans">
  <%= render @plans %>
</section>

<span class="prime-aside-links">
  <%= link_to "View all the features of #{t('shared.subscription.name')}", prime_path %>
</span>
