<%= content_tag_for :article, article, class: "result thoughtbot #{topic_classes(article.topics)}" do %>
  <%= link_to article.external_url do %>
    <hgroup class="post-link-header">
      <h3><%= article.title %></h3>
      <h6><%= article.published_on.to_s(:short_date) %></h6>
    </hgroup>
    <p class="excerpt"><%== format_content article.body_html, options: { length: 220 } %></p>
  <% end %>
<% end %>
