<ul>
  <li class="button">
    <%= link_to t('.trail_map'), topic_path(topic) %>
  </li>

  <% if topic.courses.only_public.exists? %>
    <li class="button gray">
      <%= link_to t('.workshops'), courses_path %>
    </li>
  <% end %>

  <% if topic.books.exists? %>
    <li class="button gray">
      <%= link_to t('.books'), courses_path %>
    </li>
  <% end %>

  <% if topic.screencasts_and_videos.exists? %>
    <li class="button gray">
      <%= link_to t('.videos'), courses_path %>
    </li>
  <% end %>

  <% if topic.articles.exists? %>
    <li class="button gray">
      <%= link_to t('.blog_posts'), topic.blog_url %>
    </li>
  <% end %>
</ul>
