<div class='promo-container <%= promoted_product.promo_location %>'>
  <div class='promo-detail'>
    <h3><%= promoted_product.name %></h3>
    <p><em><%= promoted_product.tagline %></em></p>
    <%= link_to promoted_product do %>
      <div class='button'>
        <%= t ".#{promoted_product.product_type}.action" %>
      </div>
    <% end %>
  </div>
</div>
