<aside>
  <h3><%= t '.products' %></h3>
  <hr>
  <ul class='related-products related-workshops'>
    <% if subscription_product %>
      <li class="prime">
        <%= link_to prime_path do %>
          <span class="icon"><%= t('shared.subscriptions.icon') %></span>
          <hgroup>
          <h4>Access all of our products by subscribing to <%= subscription_product.name %></h4>
          </hgroup>
        <% end %>
      </li>
    <% end %>
    <%= render partial: 'topics/workshop', collection: @workshops %>
    <%= render partial: 'topics/product', collection: @products %>
  </ul>
</aside>
