<aside>
  <% if @related_topics.present? %>
    <h3><%= t '.topics' %></h3>
    <hr>
    <ul class='related-topics'>
      <%= render partial: 'topics/related_topic', collection: @related_topics %>
    </ul>
  <% end %>
  <h3><%= t '.products' %></h3>
  <hr>
  <ul class='related-products related-workshops'>
    <% if subscription_product %>
      <li class="prime">
        <%= link_to subscription_product do %>
          <span class="icon"><%= t('shared.subscriptions.icon') %></span>
          <hgroup>
          <h4>Access all of these by subscribing to <%= subscription_product.name %></h4>
          </hgroup>
        <% end %>
      </li>
    <% end %>
    <%= render partial: 'topics/workshop', collection: @workshops %>
    <%= render partial: 'topics/product', collection: @products %>
    <li class="view-all">
      <%= link_to 'View all products', products_path %>
    </li>
  </ul>
</aside>
