<div class="results" data-title="<%= title(@topic.try(:name)) %>" data-url="<%= topic_url(@topic) if @topic %>">

  <section id="results-container">
    <section id="results">
      <ul class="books">
        <li class="books"><h2>Books</h2></li>
        <%= render @books %>
      </ul>
      <ul class="webcasts">
        <li class="webcasts"><h2>Webcasts</h2></li>
        <%= render @screencasts %>
      </ul>
      <ul class="workshops">
        <li class="workshops"><h2>Workshops</h2></li>
        <%= render @courses %>
      </ul>
    </section>
  </section>

    <section class="additional-results">
      <ul>
        <%= render @articles %>
      </ul>
    </section>
</div>
