<div class='trail-map-steps'>
  <% trail_map['steps'].each do |step| %>
    <h2><%= step['name'] %></h2>
    <% if step['resources'].present? %>
      <h3><%= t '.resources' %></h3>
      <ul>
        <% step['resources'].each do |resource| %>
          <li>
            <%= link_to_if(resource['uri'].present?, resource['title'], resource['uri']) %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <% if step['validations'].present? %>
      <h3><%= t '.validations' %></h3>
      <ul>
        <% step['validations'].each do |validation| %>
          <li>
            <% if validation.is_a? Hash %>
              <%= link_to_if(validation['uri'].present?, validation['title'], validation['uri']) %>
            <% else %>
              <%= validation %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
