<form class="learn-search">
  <div class="search-bar">
    <input type="text" autocomplete="off" id="search_input" placeholder="What do you want to learn?" value="<%= @topic.name if @topic %>" />
    <%= link_to image_tag("icons/search.png"), "#", class: "search" %>
    <%= link_to image_tag("icons/clear_search.png"), root_url, class: "clear-search" %>
    <%= link_to image_tag("icons/spinner.gif"), '#', class: "spinner" %>
  </div>

  <section class="popular">
  <!-- <h3>Try these popular topics</h3> -->
    <ul>
      <% @featured_topics.each do |topic| %>
        <li><%= link_to topic.name, topic_path(topic) %></li>
      <% end %>
    </ul>
  </section>
</form>

<%= render :partial => 'topics/results' %>
