<section id="learn-header-wrapper">
  <div class="learn-header-container">
    <div class="learn-detail-logo">
      <h1>
        <%= link_to image_tag('learn/learn-ralph-small.png'), root_path %>
        <%= t 'shared.learn' %>
        <span class="learnred"><%= @topic.name %></span>
      </h1>
    </div>
  </div>
</section>

<section class="learn-detail-content">
  <div class="learn-text-box-wrapper">
    <div class="learn-text-box">
    </div>

    <% if @articles.present? %>
      <div class='learn-text-box'>
        <h2><%= t '.related_reading' %></h2>
        <ul>
          <%= render @articles %>
        </ul>
        <div class="view-all-articles">
          <%= link_to t('.view_articles', name: @topic.name),
                topic_articles_path(@topic) %>
        </div>
      </div>
    <% end %>
  </div>

  <%= render 'related' %>
</section>

<% content_for :javascript do %>
  <%= javascript_include_tag 'retina' %>
<% end %>
