<% render "shared/content_specific_head_tags", content: @topic, type: "topic" %>

<% content_for :additional_body_classes, @topic.slug.parameterize %>

<% content_for :subject_block do %>
  <div class="topic-header">
    <div class="topic-image">
      <%= inline_svg_tag "topics/#{@topic.slug}.svg" %>
    </div>

    <div class="topic-content">
      <h1 class="topic-title">
        Learn <%= @topic.name %>
      </h1>

      <% if @topic.summary? %>
        <div class="topic-description">
          <%= format_markdown @topic.summary %>

          <% if @topic.extended_description? %>
            <div class="extended-description">
              <%= format_markdown @topic.extended_description %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<%= render "resources", topic: @topic, video_listing: @video_listing %>
