<section id="learn-header-wrapper">
  <div class="learn-header-container">
    <div class="learn-detail-logo">
      <h1>
        <%= link_to image_tag('learn/learn-ralph-small.png'), root_path %>
        <%= t '.title' %>
        <span class="learnred"><%= @topic.name %></span>
      </h1>
    </div>
  </div>
</section>

<section class="learn-detail-content">
  <div class="learn-text-box">
  </div>

  <% if @articles.present? %>
    <section class='learn-text-box'>
      <h3>Related Reading</h3>
      <ul>
        <%= render @articles %>
      </ul>
      <div class="view-all-articles">
        <%= link_to "View all #{@topic.name} articles", topic_articles_path(@topic) %>
      </div>
    </section>
  <% end %>

</section>

<% content_for :javascript do %>
  <%= javascript_include_tag 'retina' %>
<% end %>
