<section id="learn-header-wrapper">
  <div class="learn-header-container">
    <div class="learn-detail-logo">
      <h1>
        <%= link_to image_tag('learn/learn-ralph-small.png'), root_path %>
        <%= t '.title' %>
        <span class="learnred"><%= @topic.name %></span>
      </h1>
    </div>
  </div>
</section>

<section id="learn-detail-nav">
  <%= render partial: 'nav', locals: { topic: @topic } %>
</section>

<section class="learn-detail-content">
  <div class="learn-text-box">
  </div>
</section>

<% if @articles.present? %>
  <section class='learn-detail-related-reading'>
    <h2>Related Reading</h2>
    <%= link_to "View all #{@topic.name} articles", topic_articles_path(@topic) %>
    <ul>
      <%= render @articles %>
    </ul>
  </section>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag 'retina' %>
<% end %>
