<% content_for :meta_description, @topic.summary %>
<% content_for :meta_keywords, @topic.keywords %>
<% content_for :page_title, "Learn #{@topic.name}" %>
<% content_for :subject, @topic.name %>
<%= render 'smart_app_banner' %>

<% if @topic.summary.present? %>
  <div class="summary">
    <p><%= @topic.summary %></p>
      <% if @related_topics.present? %>
      <p>
        Related topics:
        <%= render partial: 'topics/related_topic', collection: @related_topics %>
      </p>
    <% end %>
  </div>
<% end %>

<% if @trail %>
  <%= render 'trail', trail: @trail %>
<% end %>

<% if @articles.present? %>
  <div class="related-reading">
    <p><%= link_to 'View related Giant Robots articles &rarr;'.html_safe, topic_articles_path(@topic) %></p>
    <p><%= link_to 'View related Prime Bytes &rarr;'.html_safe %></p>
  </div>
<% end %>

<%= render 'related' %>
