<% content_for :meta_description, @topic.summary %>
<% content_for :meta_keywords, @topic.keywords %>
<% content_for :page_title, "Learn #{@topic.name}" %>
<% content_for :subject, @topic.name %>

<% if @topic.summary.present? %>
  <div class="summary">
    <p><%= @topic.summary %></p>
  </div>
<% end %>

<div class="text-box-wrapper">
  <% if @trail %>
    <div class="text-box">
      <%= render 'trail', trail: @trail %>
    </div>
  <% end %>

  <% if @articles.present? %>
    <div class='text-box related-reading'>
      <h2><%= t '.related_reading' %></h2>
      <ul>
        <%= render @articles %>
      </ul>
      <div class="view-all-articles">
        <%= link_to t('.view_articles', name: @topic.name),
          topic_articles_path(@topic) %>
      </div>
    </div>
  <% end %>
</div>

<%= render 'related' %>
