<% content_for :meta_description, @topic.summary %>
<% content_for :page_title, "Learn #{@topic.name}" %>
<%= render 'learn_header', subject: @topic.name %>

<section class="learn-detail-content">
      <% if @topic.summary.present? %>
      <div class="learn-topic-summary">
        <p><%= @topic.summary %></p>
      </div>
    <% end %>
  <div class="learn-text-box-wrapper">
    <% if @topic.trail_map.present? %>
      <div class="learn-text-box">
        <%= render 'trail_map', trail_map: @topic.trail_map %>
      </div>
    <% end %>

    <% if @articles.present? %>
      <div class='learn-text-box related-reading'>
        <h2><%= t '.related_reading' %></h2>
        <ul>
          <%= render @articles %>
        </ul>
        <div class="view-all-articles">
          <%= link_to t('.view_articles', name: @topic.name),
                topic_articles_path(@topic) %>
        </div>
      </div>
    <% end %>
  </div>

  <%= render 'related' %>
</section>

<% content_for :javascript do %>
  <%= javascript_include_tag 'retina' %>
<% end %>
