<document>
  <listTemplate>
    <banner>
      <background>
        <img src="<%= image_url("apple_tv/WI-TV.jpg") %>" width="1920" height="360" />
      </background>
    </banner>
    <list>
      <header>
        <title>The Weekly Iteration</title>
      </header>
      <section>
        <header>
          <title>Episodes</title>
        </header>
        <% @show.videos_with_status.each do |video| %>
          <listItemLockup data-role="video" data-video="<%= video.download_url("original") %>">
          <title data-role="primary-title"><%= video.name %></title>
          <relatedContent>
            <lockup>
              <img src="${this.BASEURL}resources/images/italy/italy_1.jpg" width="857" height="482" />
              <title><%= video.name %></title>
              <subtitle data-role="subtitle"><%= video.published_on.to_formatted_s(:simple) %></subtitle>
              <description data-role="description"><%= video.summary %></description>
            </lockup>
          </relatedContent>
        </listItemLockup>
        <% end %>
      </section>
    </list>
  </listTemplate>
</document>
