<%= link_to "< all quizzes", admin_quizzes_path %>

<h1><%= @quiz.title %></h1>

<h3>Flashcards:</h3>
<table class="flashcards-list">
  <% @quiz.flashcards.each do |flashcard| %>
    <tr class="flashcard" data-id="<%= flashcard.id %>">
      <td><%= flashcard.position %></td>
      <td class="title"><%= flashcard.title %></td>
      <td><%= link_to "Edit", edit_admin_quiz_flashcard_path(@quiz, flashcard) %></td>
      <td><%= link_to "View", quiz_flashcard_path(@quiz, flashcard) %></td>
    </tr>
  <% end %>
</table>

<%= link_to "Add Flashcard", new_admin_quiz_flashcard_path(@quiz) %>
