<%= semantic_form_for [:admin, @course, @section] do |form| %>
  <%= render :partial => 'inputs',
             :locals  => { :form     => form,
                           :course   => @course,
                           :teachers => @teachers } %>

  <div id="admin-section-right">
    <div id="student-list" class="cool-list">
      <h3>
        <%= pluralize @section.registrations.size, "Student" %> [<%= mail_to 'workshops@thoughtbot.com', 'email', :subject => @section.course.name, :bcc => @section.registrations.map(&:email).join(",") %>]
        <%= link_to 'Add Student', new_admin_section_registration_path(@section), :id => 'add-student' %>
      </h3>
      <ul>
        <% @section.registrations.each do |registration| %>
          <%= content_tag_for :li, registration do %>
            <span class="name"><%= registration.name %></span>
            <%= link_to "View receipt", registration.freshbooks_invoice_url %>
            <%= mail_to registration.email, 'email', :title => "Email" %>
            <%= link_to "X", admin_section_registration_path(@section, registration), :method => :delete, :confirm => "Are you sure want to delete the registration for this student?", :class => "remove-teacher", :title => "Delete" %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <%= form.buttons do %>
    <%= form.commit_button 'Save Section' %>
  <% end %>
<% end %>
