<% semantic_form_for [:admin, @course, @section] do |form| %>
  <%= render :partial => 'inputs',
             :locals  => { :form     => form,
                           :course   => @course,
                           :teachers => @teachers } %>

  <div id="admin-section-right">
    <div id="seats-available" class="clearfix">
      <label>
        <input type="text" value="12" />
        Seats Available
      </label>
    </div>
    <div id="student-list" class="cool-list">
      <h3>
        <%= pluralize @section.students.size, "Student" %>
        <%= link_to 'Add Student', new_admin_section_registration_path(@section), :id => 'add-student' %>
      </h3>
      <ul>
        <% @section.students.each do |user| %>
          <li>
            <%= link_to h(user.name), '#' %>
            <a href="#" class="remove-teacher">X</a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <% form.buttons do %>
    <%= form.commit_button 'Save Section' %>
  <% end %>
<% end %>
