<%= semantic_form_for [:admin, @workshop, @section] do |form| %>
  <%= render partial: 'inputs',
             locals: { form: form,
                           workshop: @workshop,
                           teachers: @teachers } %>

  <%= form.actions do %>
    <%= form.action :submit, label: 'Save Section' %>
  <% end %>
<% end %>

<div id="admin-section-right">
  <div id="student-list" class="cool-list">
    <h3>
      <%= pluralize @section.paid_purchases.size, "Student" %> [<%= mail_to 'learn@thoughtbot.com', 'email', subject: @section.workshop.name, bcc: @section.paid_purchases.map(&:email).join(",") %>]
    </h3>
    <ul id="paid">
      <%= render @section.paid_purchases %>
    </ul>
    <h3>Pending Payment</h3>
    <ul id="unpaid">
      <%= render @section.unpaid_purchases %>
    </ul>
  </div>
</div>
