<div class='text-box'>
  <%= semantic_form_for current_user.subscription, url: subscription_path(current_user.subscription) do |form| %>
    <%= form.inputs "Your Billing Info", id: 'billing-information' do %>
      <li class="subscription-errors"></li>
      <li id="purchase_cc_input" class="stripe">
        <label for='card-number'>Card Number</label>
        <input type='text' size='20' autocomplete='off' id='card-number' class='card-number'/>
      </li>
      <li id="purchase_expiration_input" class="stripe">
        <label>Expiration</label>
        <%= select_month nil, { prompt: 'Month', add_month_numbers: true }, class: 'card-expiry-month' %>
        <%= select_year nil, { prompt: 'Year', start_year: Date.today.year, end_year: 10.years.from_now.year }, class: 'card-expiry-year' %>
      </li>
      <li id="purchase_cvc_input" class="stripe">
        <label for='card-cvc'>CVC</label>
        <input type='text' size='4' autocomplete='off' id='card-cvc' class='card-cvc'/>
      </li>
    <% end %>

    <%= form.actions do %>
      <%= form.action :submit, label: 'Update Your Card' %>
    <% end %>
  <% end %>
</div>
