<div class="text_field">
  <%= hidden_field_tag :return_to, params[:return_to] if params[:return_to] %>
  <%= form.label :first_name, 'Your Name' %>
  <%= form.text_field :first_name, { placeholder: 'First name' } %>
  <%= form.text_field :last_name, { placeholder: 'Last name' }%>

  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>

  <%= form.label :github_username %>
  <%= form.text_field :github_username %>
</div>
<div class="password_field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>

