<%= content_for :subject, 'Account' %>

<div class="text-box-wrapper">
  <div class="text-box">
    <%= semantic_form_for current_user, url: my_account_path do |form| %>
      <%= form.inputs "Your Information [#{link_to('Sign out', sign_out_path, method: :delete)}]" do %>
        <%= form.input :first_name, label: 'Your Name', input_html: { placeholder: "First name" } %>
        <%= form.input :last_name, label: false, input_html: { placeholder: "Last name" } %>
        <%= form.input :email, as: :email %>
        <%= form.input :github_username %>
        <% if !current_user.external_auth? %>
          <%= form.input :password %>
        <% end %>
      <% end %>

      <%= form.actions do %>
        <li><%= form.submit 'Update account' %></li>
      <% end %>
    <% end %>
  </div>

  <% if current_user.subscription && current_user.stripe_customer %>
    <div class='text-box'>
      <%= semantic_form_for current_user.subscription, url: subscription_path(current_user.subscription) do |form| %>
        <%= form.inputs "Your Subscription Billing Info", id: 'billing-information' do %>
          <%= render 'shared/credit_card_form' %>
        <% end %>
        <%= form.actions do %>
          <%= form.action :submit, label: 'Update Your Card' %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<aside id="account-sidebar">
  <% if current_user.has_purchased? %>
    <h3>Your purchases</h3>
    <ol class="purchases">
      <%= render current_user.paid_purchases %>
    </ol>

    <p class="chat">Every product includes support for any questions you may have about the topic. Visit our <%= link_to "live chat", CHAT_LINK %>.</p>
  <% end %>

  <% if current_user.has_active_subscription? %>
    <h3>Your Subscription</h3>
    <ol class="purchases">
      <%= render current_user.subscription %>
    </ol>
  <% end %>
</aside>

<% content_for :javascript do -%>
  <script type="text/javascript" charset="utf-8">
    Stripe.setPublishableKey('<%= STRIPE_PUBLIC_KEY %>');

    stripeResponseHandler = function(status, response){
      if (response.error) {
        $('fieldset.actions input').removeAttr('disabled');
        $('.subscription-errors').html(response.error.message);
      } else {
        $form = $('form.subscription');
        token = response['id'];
        $form.append("<input type='hidden' name='stripe_token' value='" + token + "' />");
        $form.get(0).submit();
      }
    }

    $(document).ready(function() {
      $('form.subscription').submit(function(event){
        $form = $(this);
        $form.find('fieldset.actions input').prop('disabled', true);
        Stripe.createToken({
          number:    $('.card-number').val(),
          cvc:       $('.card-cvc').val(),
          exp_month: $('.card-expiry-month').val(),
          exp_year:  $('.card-expiry-year').val()
        }, stripeResponseHandler);

        return false;
      });
    });
  </script>
<% end %>
