<% content_for :subject_block do %>
  <header class="page-header">
    <h1 class="page-header__title">
      Account
    </h1>
    <%= link_to(t("shared.header.sign_out"), sign_out_path, method: :delete) %>
  </header>
<% end %>

<div class="text-box-wrapper right">
  <% if current_user.previously_subscribed? %>
    <%= render "resubscribe", user: current_user %>
  <% elsif current_user.scheduled_for_deactivation? %>
    <%= render "reactivate", user: current_user %>
  <% end %>

  <div class="text-box">
    <%= semantic_form_for current_user, url: edit_my_account_path do |form| %>
      <%= form.inputs "Your Information" do %>
        <%= form.input :name, label: "Your Name", input_html: { placeholder: "Name" } %>
        <%= form.input :bio, label: "About You", as: :text, input_html: { rows: 4 } %>
        <%= form.input :email, as: :email %>
        <%= form.input :github_username %>
        <%= form.input :password, label: "Password (not required for GitHub auth)" %>
        <%= form.input :unsubscribed_from_emails %>
      <% end %>

      <%= form.actions do %>
        <li><%= form.submit "Update account" %></li>
      <% end %>
    <% end %>
  </div>

  <% if current_user.has_credit_card? %>
    <%= render "credit_card_form" %>
  <% end %>

  <div class="text-box">
    <%= semantic_form_for current_user, url: edit_my_account_path do |form| %>
      <%= form.inputs "Your Billing Address" do %>
        <%= render "users/address_fields", form: form %>
      <% end %>

      <%= form.actions do %>
        <li><%= form.submit "Update address" %></li>
      <% end %>
    <% end %>
  </div>
</div>

<aside id="account-sidebar">
  <% if current_user.subscriptions.any? %>
    <h3>Your subscription</h3>
    <ol class="subscription">
      <% if current_user.subscription %>
        <%= render current_user.subscription %>
      <% end %>
      <%= link_to "View all invoices", subscriber_invoices_path, class: "invoices" %>
    </ol>

    <h3><%= t(".refer_a_friend") %></h3>
    <p><%= t(".referral_benefits", percent: referral_discount) %></p>
    <%= link_to t(".referral_link"), "#", class: "cta-button squatchpop" %>
  <% end %>

  <% if show_upgrade_to_annual_cta? %>
    <h3><%= t(".annual_plan_title") %></h3>
    <p><%= t(".annual_plan_benefits") %></p>
    <%= link_to t(".annual_plan_link"), new_annual_billing_path, class: "cta-button" %>
  <% end %>

  <% if current_team %>
    <h3>Your Team</h3>
    <%= render current_team %>
  <% end %>

  <div class="contact">
    <h3><%= t(".have_any_questions") %></h3>
    <p><%= t(".here_to_help") %></p>
    <%= mail_to ENV.fetch("SUPPORT_EMAIL"), t(".contact_us"), class: "cta-button" %>
  </div>
</aside>
