<%= content_for :subject, 'Account' %>

<div class="text-box-wrapper">
  <%= semantic_form_for current_user, url: my_account_path do |form| %>
    <%= form.inputs "Your Information [#{link_to('Sign out', sign_out_path, method: :delete)}]" do %>
      <%= form.input :first_name, label: 'Your Name', input_html: { placeholder: "First name" } %>
      <%= form.input :last_name, label: false, input_html: { placeholder: "Last name" } %>
      <%= form.input :email, as: :email %>
      <%= form.input :github_username %>
      <% if !current_user.external_auth? %>
        <%= form.input :password %>
      <% end %>
    <% end %>

    <%= form.actions do %>
      <li><%= form.submit 'Update account' %></li>
    <% end %>
  <% end %>
</div>

<% if current_user.has_purchased? %>
  <aside id="account-sidebar">
    <% if current_user.paid_purchases.present? %>
      <h3>Your purchases</h3>
      <ol class="purchases">
        <%= render current_user.paid_purchases %>
      </ol>
    <% end %>

    <p><em>Every product includes support for any questions you may have about the topic. Visit our <%= link_to "live chat", CHAT_LINK %>.</em></p>
  </aside>
<% end %>

<% if current_user.has_active_subscription? %>
  <aside id="account-sidebar">
    <h3>Your Subscription</h3>
    <ol class="purchases">
      <%= render current_user.subscription %>
    </ol>
  </aside>
<% end %>


</section>
