<% content_for :subject_block do %>
  <header class="page-header">
    <h1 class="page-header__title">
      Account
    </h1>
    <%= link_to(t("shared.header.sign_out"), sign_out_path, method: :delete) %>
  </header>
<% end %>

<div class="text-box-wrapper right">
  <div class="text-box">
    <%= semantic_form_for current_user, url: edit_my_account_path, html: { id: :information_form } do |form| %>
      <%= form.inputs "Your Information" do %>
        <%= form.input :name, label: "Your Name", input_html: { placeholder: "Name" } %>
        <%= form.input :bio, label: "About You", as: :text, input_html: { rows: 4 } %>
        <%= form.input :email, as: :email %>
        <%= form.input :github_username %>
        <%= form.input :password, label: "Password (not required for GitHub auth)" %>
        <%= form.input :unsubscribed_from_emails %>
      <% end %>

      <%= form.actions do %>
        <li><%= form.submit "Update account" %></li>
      <% end %>
    <% end %>
  </div>
</div>

<aside id="account-sidebar">
  <% if current_team %>
    <h3>Your Team</h3>
    <%= render current_team %>
  <% end %>

  <div class="contact">
    <h3><%= t(".have_any_questions") %></h3>
    <p><%= t(".here_to_help") %></p>
    <%= mail_to ENV.fetch("SUPPORT_EMAIL"), t(".contact_us"), class: "cta-button" %>
  </div>
</aside>
