<% content_for :subject_block do %>
  <h1>Account</h1>
  <%= link_to(t("shared.header.sign_out"), sign_out_path, method: :delete) %>
<% end %>

<div class="text-box-wrapper right">
  <% if current_user.scheduled_for_deactivation? %>
    <%= render "reactivate", user: current_user, card: current_user.credit_card %>
  <% end %>

  <div class="text-box">
    <%= semantic_form_for current_user, url: edit_my_account_path do |form| %>
      <%= form.inputs "Your Information" do %>
        <%= form.input :name, label: "Your Name", input_html: { placeholder: "Name" } %>
        <%= form.input :bio, label: "About You", as: :text, input_html: { rows: 4 } %>
        <%= form.input :email, as: :email %>
        <%= form.input :github_username %>
        <% if !current_user.external_auth? %>
          <%= form.input :password %>
        <% end %>
      <% end %>

      <%= form.actions do %>
        <li><%= form.submit "Update account" %></li>
      <% end %>
    <% end %>
  </div>

  <% if current_user.has_credit_card? %>
    <%= render "credit_card_form" %>
  <% end %>

  <div class="text-box">
    <%= semantic_form_for current_user, url: edit_my_account_path do |form| %>
      <%= form.inputs "Your Billing Address" do %>
        <%= render "users/address_fields", form: form %>
      <% end %>

      <%= form.actions do %>
        <li><%= form.submit "Update address" %></li>
      <% end %>
    <% end %>
  </div>
</div>

<aside id="account-sidebar">
  <% if current_user.subscriptions.any? %>
    <h3>Your subscription</h3>
    <ol class="subscription">
      <% if current_user.subscription %>
        <%= render current_user.subscription %>
      <% end %>
      <%= link_to "View all invoices", subscriber_invoices_path, class: "invoices" %>
    </ol>
  <% end %>

  <% if current_team %>
    <h3>Your Team</h3>
    <%= render current_team %>
  <% end %>

  <div class="contact">
    <h3><%= t(".have_any_questions") %></h3>
    <p><%= t(".here_to_help") %></p>
    <%= mail_to ENV.fetch("SUPPORT_EMAIL"), t(".contact_us"), class: "cta-button" %>
  </div>
</aside>
