<h2>My Account</h2>

<%= semantic_form_for current_user, url: my_account_path do |form| %>
  <%= form.inputs do %>
    <%= form.input :first_name, input_html: { placeholder: "First name" } %>
    <%= form.input :last_name, input_html: { placeholder: "Last name" } %>
    <%= form.input :email, as: :email %>
    <%= form.input :github_username %>
    <%= form.input :password %>
  <% end %>

  <%= form.actions do %>
    <%= form.submit 'Update account' %>
  <% end %>
<% end %>

<% if current_user.purchases.present? %>
  <h2>My Purchases</h2>
  <ul class="purchases">
    <%= render current_user.purchases %>
  </ul>
<% end %>
