<%= semantic_form_for @registration, url: section_registrations_path(@section), html: { method: 'post' } do |form| %>
  <%= hidden_field_tag 'coupon_id' %>
  <% if signed_out? %>
    <div class="workshop-sign-in">Already have an account? <%= link_to 'Sign in.', sign_in_path(return_to: request.fullpath) %></div>
  <% end %>
  <%= form.inputs 'Your information' do %>
    <%= form.input :first_name %>
    <%= form.input :last_name %>
    <%= form.input :email %>
    <%= form.input :comments, :label => 'Do you have any dietary restrictions or special requests?' %>
  <% end %>

  <%= form.inputs 'For your receipt' do %>
    <%= form.input :billing_email, required: false, hint: "The receipt will be sent to this address." %>
    <%= form.input :organization, required: false %>
    <%= form.input :phone %>
    <%= form.input :address1, label: 'Address 1' %>
    <%= form.input :address2, label: 'Address 2' %>
    <%= form.input :city %>
    <%= form.input :state %>
    <%= form.input :zip_code %>
  <% end %>

  <%= form.actions do %>
    <%= form.action :submit, label: 'Proceed to checkout' %>
  <% end %>
<% end %>
