<% content_for :nav do -%>
  <ul>
    <li><%= link_to "Courses", courses_path %></li>
    <li><%= link_to "Coupons", coupons_path %></li>
  </ul>
  <%= link_to 'New Coupon', new_coupon_path, :id => 'new-action' %>
<% end -%>

<% @coupons.each do |coupon| %>
  <% div_for(coupon, :class => 'coupon-list cool-list') do %>
    <h3>
      <% link_to edit_coupon_path(coupon) do %>
        <%= h(coupon.code) %> (<%= number_to_percentage coupon.percentage, :precision => 0 %>)
      <% end %>
    </h3>
  <% end %>
<% end %>
