<%= semantic_form_for @purchase, url: polymorphic_path([@purchaseable, :purchases]), html: { method: 'post' } do |form| %>
  <%= form.semantic_errors %>
  <%= hidden_field_tag 'coupon_id' %>

  <% if !@purchaseable.subscription? && !current_user_has_active_subscription? %>
    <% if subscription_product %>
      <section id='subscription-banner'>
        <%= link_to subscription_product do %>
          <h3><span><%= t('shared.subscriptions.icon') %></span> Get this <%= @purchaseable.product_type %> and all of our other products and workshops by subscribing to <%= subscription_product.name %> <span class="fakebutton">purchase</span></h3>
        <% end %>
      </section>
    <% end %>
  <% end %>

  <%= form.inputs 'Your information' do %>
    <%= form.input :stripe_coupon_id, as: :hidden %>
    <%= form.input :variant, as: :hidden %>
    <%= form.input :name %>
    <%= form.input :email, hint: "The receipt will be sent to this address if billing email is blank." %>
    <% if @purchaseable.subscription? && current_user.github_username.blank? %>
      <%= render 'first_github_username', label: 'GitHub username', purchase: @purchase %>
    <% end %>
    <% if @purchaseable.fulfillment_method == 'in-person' %>
      <%= form.input :comments, label: t('purchase.comments') %>
    <% end %>
  <% end %>

  <%= render partial: 'purchases/github_usernames', locals: { purchase: @purchase, form: form } %>

  <%= form.inputs 'For your receipt' do %>
    <%= form.input :billing_email, required: false, hint: "The receipt will be sent to this address by default." %>
    <%= form.input :organization %>
    <%= form.input :address1, label: 'Address 1' %>
    <%= form.input :address2, label: 'Address 2' %>
    <%= form.input :city %>
    <%= form.input :state, label: "State / Province" %>
    <%= form.input :zip_code, label: "Postal / Zip Code" %>
    <%= form.input :country, as: :string %>
  <% end %>

  <%= form.inputs 'Billing Information', id: 'billing-information' do %>
    <li class="radio required" id="purchase_payment_method_input">
      <%= radio_button_tag "purchase[payment_method]", "stripe", @purchase.stripe?, id: "purchase_payment_method_stripe" %>
      <label for="purchase_payment_method_stripe">
        <%= image_tag "icons/visa.png" %><%= image_tag "icons/master.png" %><%= image_tag "icons/american_express.png" %>
      </label>
      <% unless @purchase.subscription? %>
        <%= radio_button_tag "purchase[payment_method]", "paypal", @purchase.paypal?, id: "purchase_payment_method_paypal" %>
        <label for="purchase_payment_method_paypal">
          <img src="https://www.paypal.com/en_US/i/logo/PayPal_mark_37x23.gif" alt="PayPal Express Logo">
        </label>
      <% end %>
    </li>
    <li class="payment-errors"></li>
    <% if @active_card %>
      <li id="purchase_cc_existing" class="stripe">
        <input type="checkbox" id="use_existing_card" name="use_existing_card" class="use_existing_card" />
        <label for="use_existing_card">
          Use existing card (<%= display_card_type(@active_card["type"]) %> ending in <%= @active_card["last4"] %>)
        </label>
      </li>
    <% end %>
    <li id="purchase_cc_input" class="stripe">
      <label for='card-number'>Card Number</label>
      <input type='text' size='20' autocomplete='off' id='card-number' class='card-number'/>
    </li>
    <li id="purchase_expiration_input" class="stripe">
      <label>Expiration</label>
      <%= select_month nil, { prompt: 'Month', add_month_numbers: true }, class: 'card-expiry-month' %>
      <%= select_year nil, { prompt: 'Year', start_year: Date.today.year, end_year: 10.years.from_now.year }, class: 'card-expiry-year' %>
    </li>
    <li id="purchase_cvc_input" class="stripe">
      <label for='card-cvc'>CVC</label>
      <input type='text' size='4' autocomplete='off' id='card-cvc' class='card-cvc'/>
    </li>
    <li class="overflow"></li>
  <% end %>
  <%= form.actions do %>
    <%= form.action :submit, label: 'Submit Payment' %>
  <% end %>
<% end %>
