<% if purchase.fulfilled_with_github? %>
  <%= form.inputs 'GitHub Usernames' do %>
    <%= render 'first_reader', label: '1st Reader', purchase: purchase %>
    <% if purchase.variant == "company" %>
      <li>Enter the <strong>GitHub usernames</strong> of up to 9 additional readers. You can add more names later by emailing <%= mail_to "learn@thoughtbot.com", "learn@thoughtbot.com" %>.</li>
      <% (2...11).each do |reader| %>
        <li>
          <label for="reader_<%= reader %>"><%= reader.ordinalize %> Reader</label>
          <input type="text" name="purchase[readers][]" class="reader"/>
        </li>
      <% end %>
    <% end %>
  <% end %>
<% end %>
