<%= render 'learn_header', subject: @product.name %>

<section class="learn-detail-content">
  <%= render 'checkout_form',
             title: t('purchase.product.heading_html', name: @product.name),
             price: @purchase.price,
             form_partial: 'purchases/form' %>

  <aside>
    <h4 class="terms">Terms and conditions</h3>
    <p>By purchasing this product you agree to the following terms and conditions:</p>
    <ul>
      <li>If you&rsquo;re not happy with the product, just let us know within 30 days and we&rsquo;ll refund your money. It&rsquo;s as simple as that.</li>
      <%= @product.terms %>
    </ul>
  </aside>
</section>

<%= render partial: "shared/github_check" %>

<% content_for :javascript do -%>
  <%= javascript_tag do %>
    $(document).ready(function(){
      $('#new_purchase').submit(function(){
        var email = $('#purchase_email').val();
        _kmq.push(['identify', email]);
      });
      $('#purchase_payment_method_input input').change(function() {
        $("li.stripe").toggle($("#purchase_payment_method_stripe").is(":checked"));
        if($("#purchase_payment_method_stripe").is(":checked")) {
          $('#new_purchase fieldset.actions input').val("Submit Payment");
        } else {
          $('#new_purchase fieldset.actions input').val("Proceed to Checkout");
        }
      });
    });
  <% end %>

  <script type="text/javascript">
    // this identifies your website in the createToken call below
  Stripe.setPublishableKey('<%= STRIPE_PUBLIC_KEY %>');

  function stripeResponseHandler(status, response) {
    if (response.error) {
      // re-enable the submit button
      $('fieldset.actions input').removeAttr("disabled");
      // show the errors on the form
      $(".payment-errors").html(response.error.message);
    } else {
      var form$ = $("#new_purchase");
      // token contains id, last4, and card type
      var token = response['id'];
      // insert the token into the form so it gets submitted to the server
      form$.append("<input type='hidden' name='purchase[stripe_token]' value='" + token + "' />");
      // and submit
      form$.get(0).submit();
    }
  }

  $(document).ready(function() {
    $("#new_purchase").submit(function(event) {
      $("input.reader[required]").each(checkReader);

      if($('li.error .reader').length == 0) {
        if($("input.use_existing_card").is(":checked")) {
          return true;
        }

        // disable the submit button to prevent repeated clicks
        $('fieldset.actions input').prop("disabled", true);
        if($("#purchase_payment_method_stripe").is(":checked")) {
          <% unless Rails.env.test? %>
          // createToken returns immediately
          // the supplied callback submits the form if there are no errors
          Stripe.createToken({
            number: $('.card-number').val(),
            cvc: $('.card-cvc').val(),
            exp_month: $('.card-expiry-month').val(),
            exp_year: $('.card-expiry-year').val()
          }, stripeResponseHandler);
          return false; // submit from callback
          <% end %>
        }
      } else {
        return false;
      }
      return true;
    });

    $(".use_existing_card").click(function(event){
      $("#purchase_cc_input").toggle();
      $("#purchase_expiration_input").toggle();
      $("#purchase_cvc_input").toggle();
    });
  });
  </script>
<% end %>
