<section id="container">
<h2>Thank you for purchasing <%= @purchase.product.name %>.</h2>
<p>You should also receive an email with the link to this page.</p>
  <% if @purchase.product.videos.any? %>
    <h4><%=link_to "Watch or download video", watch_product_purchase_path(@purchase.product, @purchase) %></h4>
  <% end %>
  
  <% unless @purchase.product.downloads.empty? %>
    <h4>Download files</h4>
    If the download links expire, you can reload this web page to get valid links again.
    <ul class = "download_items">
      <% @product.downloads.each do |download|%>
        <li>
          <%= link_to download.display_name, (download.download.respond_to?(:expiring_url) ? download.download.expiring_url(300) : download.download.url), target: "_blank" %>
          <p><%= download.description %></p>
        </li>
      <% end %>
    </ul>
  <% end %>

<% if @purchase.product.fulfillment_method == "github" -%>
  <p>You have been added to the GitHub repo at <%= link_to @purchase.product.github_url, @purchase.product.github_url %>.</p>
  <p>You should also receive a notification from GitHub. Please contact us at <%= mail_to "learn@thoughtbot.com", "learn@thoughtbot.com" %> if you do not get access to this repository.</p>
<% end -%>

<p class="chat">Every product includes support for any questions you may have about the topic. Visit our <%= link_to "live chat", CHAT_LINK %>.</p>

<section class="receipt">
<h3>RECEIPT</h3>

<p>Date <%= @purchase.created_at.to_s(:short_date) %></p>

<p><strong>Billing address</strong><br/>
<%= @purchase.name %><br/>
<% unless @purchase.organization.blank? -%>
  <%= @purchase.organization %><br/>
<% end -%>
<%= @purchase.address1 %><br/>
<% unless @purchase.address2.blank? -%>
  <%= @purchase.address2 %><br/>
<% end -%>
<%= @purchase.city %>, <%= @purchase.state %> <%= @purchase.zip_code %></p>

<p class="item"><strong><%= @purchase.product.name %> - <%= @purchase.variant %></strong> for <strong><%= number_to_currency @purchase.price, precision: 2 %></strong></td>

<table>
  <tr>
    <td>Subtotal</td><td class="amount"><%= number_to_currency @purchase.price, precision: 2 %> USD</td>
  </tr>
  <tr>
    <td>Tax</td><td class="amount">$0.00 USD</td>
  </tr>
  <tr>
    <td>Shipping</td><td class="amount">$0.00 USD</td>
  </tr>
  <tr>
    <td><strong>Total</strong></td><td class="amount"><%= number_to_currency @purchase.price, precision: 2 %> USD</td>
  </tr>
</table>
</section>
</section>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    $(document).ready(function(){
      _kmq.push(['record', 'Viewed Receipt', {'Product':'<%= @purchase.product.name %>'}]);
    });
  <% end %>
<% end %>
