<% content_for :subject, @purchase.purchaseable_name %>

<div class="text-box">
  <section class="screen">
    <h2>Thank you for purchasing <%= @purchase.purchaseable_name %>.</h2>

    <%= render 'video_info', purchase: @purchase %>
    <%= render 'downloads_info', purchase: @purchase %>
    <%= render 'github_repo_info', purchaseable: @purchase.purchaseable %>

    <p><em>Every <%= @purchase.purchaseable.product_type %> includes support for any questions you may have about the topic. Visit our <%= link_to "live chat", CHAT_LINK %>.</em></p>
  </section>

  <%= render 'receipt', purchase: @purchase %>
</div>
