<section id="head-wrapper">
  <section id="homepage-top">
    <h1><%= @product.name%></h1>
    <section id="course-info">
      <section id="course-description">
      <p><%= render 'video_code', video_hash_id: @product.video_hash_id %><p>
        <div class="assets">
          Download:
          <a class="asset original" href="http://thoughtbot-2.wistia.com/medias/<%= @product.wistia_id %>/download?asset=original">
            Original (720p)
            <span class="size"><%= @product.video_sizes["OriginalFile"]%></span>
          </a>
          <a class="asset iphone" href="http://thoughtbot-2.wistia.com/medias/<%= @product.wistia_id %>/download?asset=iphone">
            iPhone
            <span class="size"><%= @product.video_sizes["IphoneVideoFile"]%></span>
          </a>
          <a class="asset hd_mp4" href="http://thoughtbot-2.wistia.com/medias/<%= @product.wistia_id %>/download?asset=hd_mp4">
            HD MP4
            <span class="size"><%= @product.video_sizes["HdMp4VideoFile"]%></span>
          </a>
          <a class="asset hd_flash" href="http://thoughtbot-2.wistia.com/medias/<%= @product.wistia_id %>/download?asset=hd_flash">
            HD Flash
            <span class="size"><%= @product.video_sizes["HdFlashVideoFile"]%></span>
          </a>
          <a class="asset flash" href="http://thoughtbot-2.wistia.com/medias/<%= @product.wistia_id %>/download?asset=flash">
            Flash
            <span class="size"><%= @product.video_sizes["FlashVideoFile"]%></span>
          </a>
        </div>

        </section>
        <%=link_to "Return to purchase receipt page", product_purchase_path(@product, @purchase), class: "no_underscore" %>
    </section>

    <section id="products">
      <h2>More from thoughtbot</h2>
      <% Product.active.each_with_index do |product, index| %>
        <% if product != @product %>
          <aside class="<%= "first" if index.zero? %>">
            <h2><%= link_to product.name, product_path(product, utm_source: "oss") %></h2>
            <p><%= product.short_description %></p>
          </aside>
        <% end %>
      <% end %>
    </section>
  </section>
</section>

<div id="flash"></div>

