<section id="head-wrapper">
  <section id="homepage-top">
    <h1><%= @product.name%></h1>
    <section id="course-info">
      <section id="course-description">
      <p><%= render 'video_code', video_hash_id: @product.video_hash_id %><p>
        <div class="assets">
          Download:
          <%=render 'purchases/download_link', download_type_key: "OriginalFile", download_type: "original", size_display: "Original (720p)", product: @product %>
          <%=render 'purchases/download_link', download_type_key: "IphoneVideoFile", download_type: "iphone", size_display: "iPhone", product: @product %>
          <%=render 'purchases/download_link', download_type_key: "HdMp4VideoFile", download_type: "hd_mp4", size_display: "HD MP4", product: @product %>
          <%=render 'purchases/download_link', download_type_key: "HdFlashVideoFile", download_type: "hd_flash", size_display: "HD Flash", product: @product %>
          <%=render 'purchases/download_link', download_type_key: "FlashVideoFile", download_type: "flash", size_display: "Flash", product: @product %>
        </div>

        </section>
        <%=link_to "Return to purchase receipt page", product_purchase_path(@product, @purchase), class: "no_underscore" %>
    </section>

    <section id="products">
      <h2>More from thoughtbot</h2>
      <% Product.active.each_with_index do |product, index| %>
        <% if product != @product %>
          <aside class="<%= "first" if index.zero? %>">
            <h2><%= link_to product.name, product_path(product, utm_source: "oss") %></h2>
            <p><%= product.short_description %></p>
          </aside>
        <% end %>
      <% end %>
    </section>
  </section>
</section>

<div id="flash"></div>

