<div class="video-text">
  <%= link_to video_path(video) do %>
    <h3><%= video.name %></h3>
  <% end %>
  <div class="video-tags">
    <%= render video.topics %>
  </div>
  <p class="video-length" data-wistia-id="<%= video.clip.wistia_id %>">
    <%= video.length_in_minutes %> minutes
  </p>
  <p class="video-summary">
    <%= format_markdown(video.summary) %>
  </p>
</div>
