<div class="step <%= video.state.parameterize %>-exercise">
  <% if video.can_be_accessed? %>
    <%= completeable_link video_path(video), title: video.name do %>
      <div class="dot"></div>
    <% end %>
  <% else %>
    <div class="dot"></div>
  <% end %>

  <div class="tooltip">
    <figure class="exercise card <%= video.state.parameterize %>-exercise">
      <h5>
        <%= t(video.state.parameterize, scope: [:videos, :statuses]) %>
      </h5>
      <h4><%= video.name %></h4>
      <p><%= video.summary %></p>
    </figure>
  </div>
</div>
