<figure class="tile weekly-iteration <%= topic_slugs(video) %> <%= video.status_class %>">
  <div class="video-overview title-tags">
    <%= link_to video_path(video) do %>
      <h1 class="video-text"><%= video.name %></h1>

      <p class="video-length" data-wistia-id="<%= video.clip.wistia_id %>">
        <%= video.length_in_minutes %> minutes
      </p>
    <% end %>

    <div class="video-tags">
      <%= render video.topics %>
    </div>
  </div>

  <div class="video-overview hosts">
    <div class="hosts-copy">
      <small class="hosted-by">Hosted by</small>
      <h3 class="teacher-names"><%= teacher_names(video.teachers) %></h3>
    </div>

    <div class="hosts-images">
      <%= render video.teachers %>
    </div>
  </div>

  <p class="description">
    <%= truncate_html(video.summary_or_notes, length: 250) %>
  </p>
</figure>
