<figure class="exercise <%= video.state.parameterize %>-exercise">
  <!-- <div class="dot-container">
    <div class="dot"></div>
  </div> -->

  <div class="video">
    <div class="video-wrapper">
        <iframe src="http://www.youtube.com/embed/8ItNE_DX6Cc?showinfo=0&iv_load_policy=3&controls=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <%= completeable_link video_path(video), title: video.name do %>
    <h3><%= video.name %></h3>
    <p><%= video.summary %></p>
  <% end %>

  <% unless current_user_has_access_to?(:trails) %>
    <%= render "products/locked" %>
  <% end %>
</figure>
