<figure class="exercise <%= video.state.parameterize %>-exercise">
  <div class="dot"></div>

  <%= completeable_link video_path(video), title: video.name do %>
    <h3><%= video.name %></h3>
    <p><%= video.summary %></p>
  <% end %>

  <% unless current_user_has_access_to?(:exercises) %>
    <%= render "products/locked" %>
  <% end %>
</figure>
