<%= render video.clip %>

<div class="mark-as-complete">
  <%= form_tag video_completions_path(video) do |f| %>
    <%= submit_tag t("videos.show.mark-as-complete"), class:"small-button" %>
  <% end %>
</div>

<% if video.has_notes? %>
  <div class="text-box">
    <section class='video-notes' data-markers="<%= video.markers.to_json %>">
      <h3>Notes</h3>
      <%= format_markdown(video.notes) %>
    </section>
  </div>
<% end %>

<%= render "seek_buttons" %>

<%= render "comments", video: video %>
