<%= render video.clip %>

<% if video.part_of_trail? %>
  <div class="mark-as-complete">
    <%= form_tag video_completions_path(video) do |f| %>
      <%= submit_tag t("videos.show.mark-as-complete") %>
    <% end %>
  </div>
<% end %>

<% if video.has_notes? %>
  <div class="text-box">
    <section class='video-notes'>
      <h3>Notes</h3>
      <%= raw(video.notes_html) %>
    </section>
  </div>
<% end %>

<%= render "comments", video: video %>
