<% unless single_video?(@purchaseable) %>
  <% content_for :additional_header_links do %>
    <li class="all-videos"><%= link_to 'All Videos', @purchase %></li>
  <% end %>
<% end %>

<% content_for :subject_block do %>
  <h1><%= @purchaseable.name %></h1>
  <h2 class="tagline">
    <% if single_video?(@purchaseable) %>
      Watch or download video
    <% else %>
      Watch or download videos,
      <%= pluralize @purchaseable.videos.size, 'video' %> in the series.
    <% end %>
  </h2>
<% end %>

<div class="text-box-wrapper">
  <div class="text-box">
    <%= render 'watch_video', video: @video, purchase: @purchase %>
  </div>
</div>

<%= render "#{@purchaseable.product_type.pluralize}/aside", purchaseable: @purchaseable, purchase: @purchase %>
