<% if @video_page.collection? %>
  <% content_for :additional_header_links do %>
    <li class="all-videos"><%= link_to 'All Videos', @video_page.purchase %></li>
  <% end %>
<% end %>

<% content_for :subject_block do %>
  <h1><%= @video_page.name %></h1>
  <h2 class="tagline">
    <% if @video_page.collection? %>
      <%= @video_page.video_title %>
    <% else %>
      Watch or download video
    <% end %>
  </h2>
<% end %>

<div class="text-box-wrapper">
  <div class="text-box">
    <%= render 'watch_video', video: @video_page.video, purchase: @video_page.purchase %>
  </div>
</div>

<%= render @video_page.to_aside_partial, purchaseable: @video_page.purchaseable, purchase: @video_page.purchase %>
