<% content_for :page_title, @video.title.html_safe %>

<% content_for :landing_page_back_link do %>
  <%= link_to '&larr; All Videos'.html_safe, '/the-weekly-iteration' %>
<% end %>

<div class="text-box-wrapper">
  <div class="text-box">
    <%= render @video.preview, title: @video.title %>

    <section class='video-notes'>
      <h3>Notes</h3>
      <%= raw(@video.notes_html) %>
    </section>
  </div>

  <%= render "comments", video: @video %>
</div>

<aside>
  <%= render "products/license", offering: @offering %>
  <%= render 'products/terms', offering: @offering %>
</aside>
