<% content_for :page_title, @video.name.html_safe %>

<% if @video.preview_wistia_id.present? %>
  <% content_for :head do %>
    <%= render "twitter_player_cards/meta", video: @video %>
  <% end %>
<% end %>

<% content_for :landing_page_back_link do %>
  <%= link_to '&larr; All Videos'.html_safe, '/the-weekly-iteration' %>
<% end %>

<div class="text-box-wrapper">
  <%= render "watchables/preview" %>
  <div class="text-box">
    <span class="divider">
      <h4 class="text">Video</h4>
    </span>

    <% if @video.trail.present? %>
      <%= render "trails/progress", trail: @video.trail %>
    <% end %>

    <%= render @video.preview, name: @video.name %>

    <section class='video-notes'>
      <h3>Notes</h3>
      <%= raw(@video.notes_html) %>
    </section>
  </div>

  <%= render "comments", video: @video %>
</div>

<aside>
  <section id="license" class="<%= @watchable.offering_type %>">
    <% if @watchable.active? %>
      <%= render "products/subscription", offering: @watchable %>
      <%= render "watchables/link", watchable: @watchable %>
    <% else %>
      <%= render "watchables/inactive", watchable: @watchable %>
    <% end %>
  </section>

  <%= render 'watchables/terms', watchable: @watchable %>
</aside>
