<% render "shared/content_specific_head_tags", content: @video, type: "video" %>

<% if @video.preview_wistia_id? %>
  <% content_for :head do %>
    <%= render "twitter_player_cards/meta", video: @video %>
  <% end %>
<% end %>

<% content_for :subject_block do %>
  <header class="page-header">
    <h1 class="page-header__title"><%= @video.name %></h1>
    <h2 class="parent-collection">
      <%= link_to @video.watchable_name, @video.watchable %>
    </h2>
    <% if @video.length_in_minutes %>
      <h3 class="page-header__time-to-complete">
        <%= completion_time(@video.length_in_minutes) %>
      </h3>
    <% end  %>
  </header>
<% end %>

<% if signed_in? %>
  <%= render "video_player", video: @video %>
<% else %>
  <%= render "video_player_placeholder", video: @video %>
<% end %>

<% if @video.has_notes? %>
  <div class="text-box">
    <section class="video-notes">
      <header class="video-notes-header">
        <h3>Notes</h3>
      </header>

      <div class="video-notes-content">
        <%= format_markdown(@video.notes) %>
      </div>
    </section>
  </div>
<% end %>

<% if @video.published? %>
  <%= render "comments", video: @video %>
<% end %>

<% if signed_in? %>
  <%= render "seek_buttons", markers: @video.markers %>
<% end %>
