<% render "shared/content_specific_head_tags", content: @video, type: "video" %>

<% if @video.preview_wistia_id.present? %>
  <% content_for :head do %>
    <%= render "twitter_player_cards/meta", video: @video %>
  <% end %>
<% end %>

<% content_for :subject_block do %>
  <header class="page-header">
    <h1 class="page-header__title"><%= @video.name %></h1>
    <h2 class="parent-collection">
      <%= link_to @video.watchable_name, @video.watchable %>
    </h2>
    <% if @video.length_in_minutes %>
      <h3 class="page-header__time-to-complete">
        <%= "#{@video.length_in_minutes} minutes" %>
      </h3>
    <% end  %>
  </header>
<% end %>

<% unless current_user.subscriber? %>
  <%= render "videos/access_callout", video: @video %>
<% end %>

<span class="divider">
  <h4 class="text">Video</h4>
</span>

<div class="video-player">
  <% if current_user_has_access_to?(@video) %>
    <%= render @video.clip %>

    <div class="actions">
      <%= render "clips/download_links", clip: @video.clip %>

      <div class="mark-as-complete">
        <%= form_tag video_completions_path(@video) do %>
          <%= submit_tag t("videos.show.mark-as-complete"), class:"small-button" %>
        <% end %>
      </div>
    </div>
  <% else %>
    <%= render @video.preview, name: @video.name %>
  <% end %>
</div>

<% if @video.part_of_trail? %>
  <%= render "trails/progress",
    trail: TrailWithProgress.new(
      @video.trail,
      user: current_user,
      status_finder: StatusFinder.new(user: current_user),
    )
  %>
<% end %>

<% if @video.has_notes? %>
  <div class="text-box">
    <section class="video-notes">
      <header class="video-notes-header">
        <h3>Notes</h3>
      </header>

      <div class="video-notes-content">
        <%= format_markdown(@video.notes) %>
      </div>
    </section>
  </div>
<% end %>

<% if @video.published? %>
  <%= render "comments", video: @video %>
<% end %>

<% if current_user_has_access_to?(@video) %>
  <%= render "seek_buttons", markers: @video.markers %>
<% end %>
