<% content_for :page_title, @video.name.html_safe %>

<% content_for :additional_header_links do %>
  <li class="all-videos"><%= link_to 'All Videos', @video.watchable %></li>
<% end %>

<% content_for :subject_block do %>
  <h1><%= @video.watchable_name %></h1>
  <h2 class="tagline">
    <%= @video.name %>
  </h2>
<% end %>

<% if @video.trail.present? %>
  <%= render "trails/progress", trail: TrailWithProgress.new(@video.trail, user: current_user) %>
<% end %>

<span class="divider">
  <h4 class="text">Video</h4>
</span>

<%= render "watch_video", video: @video %>
