<% content_for :subject, @purchaseable.name %>
<%= adwords_conversion_tracker(flash[:purchase_paid_price]) %>

<div class="text-box-wrapper">
  <div class="text-box">
    <hgroup class="product-title">
      <h2>Watch or Download Video</h2>
      <% unless single_video?(@purchaseable) %>
        <h3 class="workshop-type"><%= pluralize @purchaseable.videos.size, 'video' %> in the series</h3>
      <% end %>
    </hgroup>

    <% if single_video?(@purchaseable) %>
      <%= render 'videos/watch_video', video: @purchaseable.videos.first, purchase: @purchase %>
    <% else %>
      <section id="videos">
        <%= render @purchaseable.videos.ordered, purchase: @purchase %>
      </section>
    <% end %>
  </div>
</div>

<%= render 'videos/aside', purchaseable: @purchaseable, purchase: @purchase %>
