<% content_for :subject_block do %>
  <h1><%= @purchaseable.name %></h1>
  <h2 class="tagline">
    <% if single_video?(@purchaseable) %>
      Watch or download video
    <% else %>
      Watch or download videos,
      <%= pluralize @purchaseable.videos.size, 'video' %> in the series.
    <% end %>
  </h2>
<% end %>

<div class="text-box-wrapper">
  <div class="text-box">
    <% if single_video?(@purchaseable) %>
      <%= render 'videos/watch_video', video: @purchaseable.videos.first, purchase: @purchase %>
    <% else %>
      <section id="videos">
        <%= render @purchaseable.videos.ordered, purchase: @purchase %>
      </section>
    <% end %>
  </div>
</div>

<%= render 'videos/aside', purchaseable: @purchaseable, purchase: @purchase %>
