<footer>
  <nav>
    <section id="thoughtbot">
      <ul>
        <% if signed_in? %>
          <li><%= link_to('Sign out', sign_out_path, method: :delete) %></li>
        <% else %>
          <li><%= link_to 'Sign in', sign_in_path %></li>
        <% end %>
      </ul>
      <ul>
        <li><a href="http://thoughtbot.com">About thoughtbot</a></li>
        <li><a href="http://apprentice.io">Apprentice.io</a></li>
        <li><a href="http://thoughtbot.com/podcast">Podcast</a></li>
        <li><%= link_to 'Privacy Policy', privacy_path %></li>
        <li><%= link_to 'Terms & Conditions', terms_path %></li>
      </ul>
    </section>

    <section id="trails">
      <h3><%= link_to 'Trail Maps', topics_path %></h3>
      <ul>
        <% topics.each do |topic| %>
          <li><%= link_to topic.name, topic %></li>
        <% end %>
      </ul>
    </section>
  </nav>

  <p id="copyright">© 2012 thoughtbot, inc. The <em>design of a robot</em> and <em>thoughtbot</em> are registered trademarks of thoughtbot,&nbsp;inc.</p>
  <%= render partial: 'shared/admin_sign_out' %>
</footer>

<%= render "chat" %>
