<footer class="links">
<div class="footer-content">
    <ul class="sign-out">
      <% if signed_in? %>
        <li><%= link_to("Sign out", sign_out_path, method: :delete) %></li>
        <li><%= render partial: "shared/admin_sign_out" %></li>
      <% else %>
        <li><%= link_to "Sign in", sign_in_path %></li>
      <% end %>
    </ul>
    <section class="thoughtbot">
      <ul>
        <% if signed_in? %>
          <li>
            <%= link_to "Upcase source code on GitHub", repositories_path %>
          </li>
        <% end %>
        <li><a href="http://thoughtbot.com">About thoughtbot</a></li>
        <li><%= link_to "Privacy Policy", privacy_path %></li>
        <li><%= link_to "Terms & Conditions", terms_path %></li>
        <li><%= mail_to ENV["SUPPORT_EMAIL"], t("footer.contact_us") %></li>
      </ul>
    </section>
  </div>
  <section class="copyright">
    <div>
      <a href="http://www.thoughtbot.com"><%= image_tag("ralph.svg") %></a>
      <p>© 2012 - <%= Time.zone.today.year %> thoughtbot, inc. <em>Upcase</em>, the <em>design of a robot</em>, and <em>thoughtbot</em> are registered trademarks of thoughtbot,&nbsp;inc.</p>
    </div>
  </section>
</footer>
