<section id="header-wrapper" class="<%= 'subscriber' if current_user_has_active_subscription? %>">
  <div class="header-container">
    <h1 class="small-logo">
      <%= link_to root_path do %>
        <%= image_tag('learn/learn-ralph-small.png') %>
        <span><%= t 'shared.learn' %></span>
      <% end %>
    </h1>
    <nav class="left">
      <ul>
        <% if signed_in? %>
          <li class="back"><%= link_to '&larr; Dashboard'.html_safe, root_url %></li>
        <% else %>
          <li class="toggle-slider"><%= link_to 'View all our products', '#', class: 'toggle-slider' %></li>
        <% end %>
        <li class="all-trails"><%= link_to 'All Trails'.html_safe, '/trails' %></li>
      </ul>
    </nav>
    <nav>
      <ul>
        <% if subscription_product && !current_user_has_active_subscription? %>
          <li class="prime">
            <%= link_to prime_path do %>
              <span><%= t('shared.subscriptions.icon') %></span> <%= subscription_product.name %> Membership
            <% end %>
          </li>
        <% end %>
        <% if signed_in? %>
          <li class="account"><%= link_to 'Settings', my_account_path %></li>
        <% else %>
          <li class="account"><%= link_to 'Sign in', sign_in_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</section>

<% if subscription_product && !current_user_has_active_subscription? && !signed_in? %>
  <section class="products card-slider header">
    <a class="nav prev disabled"></a>
    <%= render partial: 'products/workshop', collection: online_workshops %>
    <%= render partial: 'products/workshop', collection: in_person_workshops %>
    <%= render partial: 'products/video', collection: videos %>
    <%= render partial: 'products/book', collection: books %>
    <a class="nav next"></a>
  </section>
<% end %>
