<section id="header-wrapper">
  <div class="header-container">
    <% if content_for?(:subject) %>
      <h1 class="small-logo">
        <%= link_to image_tag('learn/learn-ralph-small.png'), root_path %>
        <%= t 'shared.learn' %>
        <span class="subject"></span>
      </h1>
      <nav>
        <ul>
          <li class="prime"><a href="#">Prime</a></li>
          <li><a href="#">Workshops</a></li>
          <li><a href="#">Videos</a></li>
          <li><a href="#">Books</a></li>
          <li><a href="#">Learning Trails</a></li>
          <ul>
            <li><a href="#">Ruby</a></li>
            <li><a href="#">Ruby on Rails</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Vim</a></li>
            <li><a href="#">Testing</a></li>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Javascript</a></li>
            <li><a href="#">HTML &amp; CSS</a></li>
            <li><a href="#">Sass</a></li>
            <li><a href="#">Git</a></li>
            <li><a href="#">Refactoring</a></li>
            <li><a href="#">Typography</a></li>
            <li><a href="#">UNIX</a></li>
            <li><a href="#">CSS Grids</a></li>
            <li><a href="#">iOS</a></li>
            <li><a href="#">Visual Principles</a></li>
            <li><a href="#">RubyMotion</a></li>
            <li><a href="#">SQL</a></li>
          </ul>
          <li class="account"><a href="#">Account</a></li>
        </ul>
      </nav>
      <div class="myaccount">
        <% if show_account_links? %>
          <% if signed_in? %>
            <%= link_to 'My account', my_account_path, class: 'button' %>
          <% else %>
            <%= link_to 'Sign in', sign_in_path, class: 'button' %>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div class="logo">
        <h1><%= link_to image_tag('learn/learn-ralph.png'), root_path %>
          <%= t 'shared.learn' %></h1>
      </div>
      <div class="intro">
        <%= t 'shared.intro' %>
      </div>
    <% end %>
  </div>
</section>
