<section id="header-wrapper" class="<%= 'subscriber' if current_user_has_active_subscription? %>">
  <div class="header-container">
    <h1 class="small-logo">
      <%= link_to root_path do %>
        <%= image_tag('learn/learn-ralph-small.png') %>
        <span><%= t 'shared.learn' %></span>
      <% end %>
    </h1>
    <% if signed_in? %>
      <nav class="back">
        <ul>
          <li><%= link_to '&larr; Dashboard'.html_safe, root_url %></li>
        </ul>
      </nav>
    <% end %>
    <nav>
      <ul>
        <% if subscription_product && !current_user_has_active_subscription? %>
          <li class="prime">
            <%= link_to prime_path do %>
              <span><%= t('shared.subscriptions.icon') %></span> <%= subscription_product.name %> Membership
            <% end %>
          </li>
        <% end %>
        <% if signed_in? %>
          <li class="account"><%= link_to 'Settings', my_account_path %></li>
        <% else %>
          <li class="account"><%= link_to 'Sign in', sign_in_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</section>
