<section id="header-wrapper">
  <div class="header-container">
    <% if content_for?(:subject) %>
      <div class="detail-logo">
        <h1>
          <%= link_to image_tag('learn/learn-ralph-small.png'), root_path %>
          <%= t 'shared.learn' %>
          <span class="subject"><%= yield(:subject) %></span>
        </h1>
        <div class="myaccount">
          <% if show_account_links? %>
            <% if signed_in? %>
              <%= link_to 'My account', my_account_path, class: 'button' %>
            <% else %>
              <%= link_to 'Sign in', sign_in_path, class: 'button' %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="logo">
        <h1><%= link_to image_tag('learn/learn-ralph.png'), root_path %>
          <%= t 'shared.learn' %></h1>
      </div>
      <div class="intro">
        <%= t 'shared.intro' %>
      </div>
    <% end %>
  </div>
</section>
