<section id="header-wrapper">
  <div class="header-container">
    <% if content_for?(:subject) %>
      <div class="detail-logo">
        <h1>
          <%= link_to image_tag('learn/learn-ralph-small.png'), root_path %>
          <%= t 'shared.learn' %>
          <span class="subject"><%= yield(:subject) %></span>
        </h1>
        <nav>
          <h4>Trails</h4>
          <ul>
            <li><a href="#">Ruby</a></li>
            <li><a href="#">Ruby on Rails</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Vim</a></li>
            <li><a href="#">Testing</a></li>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Javascript</a></li>
            <li><a href="#">HTML &amp; CSS</a></li>
            <li><a href="#">Sass</a></li>
            <li><a href="#">Git</a></li>
            <li><a href="#">Refactoring</a></li>
            <li><a href="#">Typography</a></li>
            <li><a href="#">UNIX</a></li>
            <li><a href="#">CSS Grids</a></li>
            <li><a href="#">iOS</a></li>
            <li><a href="#">Visual Principles</a></li>
            <li><a href="#">RubyMotion</a></li>
            <li><a href="#">SQL</a></li>
          </ul>
          <h4>Online workshops</h4>
          <ul>
            <li><a href="#">Test-Driven Rails</a></li>
            <li><a href="#">Design for Developers</a></li>
            <li><a href="#">Online Workshop</a></li>
          </ul>
          <h4>In-Person workshops</h4>
          <ul>
            <li><a href="#">Intro to Ruby on Rails</a></li>
            <li><a href="#">Intermediate Ruby on Rails</a></li>
            <li><a href="#">Test-Driven Rails</a></li>
            <li><a href="#">Design for Developers</a></li>
          </ul>
          <h4>Books</h4>
          <ul>
            <li><a href="#">Backbone.js on Rails</a></li>
            <li><a href="#">Ruby Science</a></li>
            <li><a href="#">The Playbook</a></li>
          </ul>
          <h4>Videos</h4>
          <ul>
            <li><a href="#">Hidden Secrest of the Chrome Developer Tools</a></li>
            <li><a href="#">Humans Present: Refactoring</a></li>
            <li><a href="#">Humans Present: tmux</a></li>
            <li><a href="#">The Playbook: Video Edition</a></li>
            <li><a href="#">Vim for Rails Developers</a></li>
          </ul>
        </nav>
        <div class="myaccount">
          <% if show_account_links? %>
            <% if signed_in? %>
              <%= link_to 'My account', my_account_path, class: 'button' %>
            <% else %>
              <%= link_to 'Sign in', sign_in_path, class: 'button' %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="logo">
        <h1><%= link_to image_tag('learn/learn-ralph.png'), root_path %>
          <%= t 'shared.learn' %></h1>
      </div>
      <div class="intro">
        <%= t 'shared.intro' %>
      </div>
    <% end %>
  </div>
</section>
