<section id="header-wrapper" class="<%= 'subscriber' if current_user_has_active_subscription? %>">
  <div class="header-container">
    <h1 class="small-logo">
      <%= link_to root_path do %>
        <% if content_for?(:page_logo) %>
          <%= yield(:page_logo) %>
        <% else %>
          <%= image_tag('learn/learn-ralph-small.png') %>
        <% end %>
        <span>Upcase</span>
      <% end %>
    </h1>
    <nav class="left">
      <ul>
        <% if signed_in? %>
          <li class="back"><%= link_to '&larr; Dashboard'.html_safe, dashboard_path %></li>
        <% else %>
          <li class="view-plans"><%= link_to t('subscriptions.join_cta'), new_subscription_path %></li>
        <% end %>
        <%= yield(:additional_header_links) %>
      </ul>
    </nav>
    <nav>
      <ul>
        <% if signed_in? %>
          <% if !current_user_has_active_subscription? %>
            <li class="prime">
              <%= link_to subscribe_path do %>
                <span><%= t('shared.subscriptions.icon') %></span> <%= t('shared.subscription.name') %> Membership
              <% end %>
            </li>
          <% end %>
          <li class="account"><%= link_to 'Settings', my_account_path %></li>
        <% else %>
          <li class="account"><%= link_to 'Sign in', sign_in_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</section>
