<section id="header-wrapper" class="<%= "subscriber" if current_user_has_active_subscription? %>">
  <div class="header-container">
    <h1 class="small-logo">
      <%= link_to root_path do %>
        <%= image_tag("upcase/upcase-header-logo-small.svg") %>
      <% end %>
    </h1>
    <nav>
      <ul>
        <% if signed_in? %>
          <li class="back"><%= link_to "Dashboard".html_safe, dashboard_path %></li>
          <li class="forum"><a href="">Forum</a></li>
          <% if show_upgrade_to_annual_cta? %>
            <li class="account">
              <%= render "shared/annual_billing" %>
            </li>
          <% end %>
          <% unless current_user_has_active_subscription? %>
            <li class="subscription">
              <%= link_to subscribe_path do %>
                <span><%= t("shared.subscriptions.icon") %></span>
                <%= t("shared.subscription.name") %> Membership
              <% end %>
            </li>
          <% end %>
          <%= yield :additional_header_links %>
          <li class="account"><%= link_to "Settings", my_account_path %></li>
          <%= render "shared/masquerade_link" if masquerading? %>
        <% else %>
          <li class="view-plans">
            <%= link_to t("subscriptions.join_cta"), new_subscription_path %>
          </li>
          <li class="account"><%= link_to "Sign in", sign_in_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</section>
