<section id="header-wrapper" class="<%= "subscriber" if current_user_has_active_subscription? %>">
  <div class="header-container">
    <h1 class="small-logo">
      <%= link_to root_path do %>
        <%= image_tag("upcase/upcase-header-logo-small.svg") %>
      <% end %>
    </h1>
    <nav>
      <ul>
        <% if signed_in? %>
          <li class="practice">
            <%= link_to t("shared.header.practice"), practice_path %>
          </li>
          <li>
            <% if current_user.has_access_to?(:quizzes) %>
              <%= link_to t("shared.header.quizzes"), quizzes_path %>
            <% end %>
          </li>
          <li class="explore">
            <%= link_to t("shared.header.explore"), explore_path %>
          </li>
          <li class="discuss">
            <%= link_to t("shared.header.discuss"), Forum.url %>
          </li>
          <% if show_upgrade_to_annual_cta? %>
            <li class="annual">
              <%= render "shared/annual_billing" %>
            </li>
          <% end %>
          <% unless current_user_has_active_subscription? %>
            <li class="subscription">
              <%= link_to new_subscription_path do %>
                <span><%= t("shared.subscriptions.icon") %></span>
                <%= t("shared.subscription.name") %> Membership
              <% end %>
            </li>
          <% end %>
          <%= yield :additional_header_links %>
          <li class="account">
            <%= link_to my_account_path do %>
              <%= image_tag gravatar_url(current_user.email, size: "30") %>
            <% end %>
          </li>
          <%= render "shared/masquerade_link" if masquerading? %>
        <% else %>
          <li class="view-plans">
            <%= link_to t("subscriptions.join_cta"), new_subscription_path %>
          </li>
          <li><%= link_to "Sign in", sign_in_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</section>
