<%= javascript_include_tag :defaults, 'prefilled_input'  %>

<%== km.js! %>

<%= yield :javascript %>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1485842-14']);
  _gaq.push(['_trackPageview']);

  (function() {
   var ga = document.createElement('script'); ga.type =
   'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
     'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0];
   s.parentNode.insertBefore(ga, s);
   })();
</script>
<script src="//d1nu2rn22elx8m.cloudfront.net/performable/pax/3tbRq2.js" type="text/javascript"></script>

<% if Rails.env.test? || Rails.env.cucumber? %>
  <%= javascript_tag do %>
    jQuery.fx.off = true;
    $.ajaxSetup({ async: false });
  <% end %>
<% end %>
<%= javascript_tag do %>
  function tumblr(resp) {
    var posts = resp.posts;
    $('#blog-footer .loading').replaceWith('<ul/>');
    var $ul = $('#blog-footer ul');
    for (var i=0; i<posts.length; i++) {
      var p = posts[i];
      var title = p['regular-title'] || p['link-text'] || null;
      if (title) {
        $ul.append('<li><a href="'+p['url']+'">'+title+'</a></li>');
      }
    }
  }
<% end %>

<script type="text/javascript">
  <% Split::Experiment.all.each do |experiment| %>
    _kmq.push(['set', { '<%= experiment.name %>': '<%= ab_test(experiment.name, *experiment.alternative_names) %>' }]);
  <% end %>
</script>

<%= render 'shared/javascript_olark' %>
