<% if ActiveModel::Type::Boolean.new.serialize(ENV["ENABLE_MARKETING_REDESIGN"]) %>
  <div class="persistent-toast">
    <div class="icon-container">
      <%= inline_svg_tag "icons/info.svg" %>
    </div>
    <p class="toast-content">
      <%= t(".content_html")%>
    </p>
    <div class="toast-cta-container">
      <%= link_to({controller: "/marketing_redesign/home", action: :show}) do %>
        <%= t(".cta_go")%>
        <%= inline_svg_tag "icons/arrow-right.svg" %>
      <% end %>
      <button class="toast-button">
        <%= t(".cta_dismiss")%>
      </button>
    </div>
  </div>
<% end %>
