<section class="table-of-contents" data-role="table-of-contents">
  <div class="table-of-contents-outer-container">
    <a href="#" class="table-of-contents-close" data-role="table-of-contents-close">&times;</a>
    <h2>15 Full Courses, 100+ Screencasts &amp; New Content Weekly</h2>
    <div class="table-of-contents-container">
      <ul>
        <li>
          <%= image_tag "topics/rails.svg" %>
          <h3><%= link_to "Master Rails", "/rails" %></h3>
        </li>
        <li>
          <%= link_to "Advanced ActiveRecord Querying", "/advanced-activerecord-querying" %>
        </li>
        <li>
          <%= link_to "Test-Driven Rails", "/test-driven-rails" %>
        </li>
        <li>
          <%= link_to "Form Objects", "/videos/form_objects" %>
        </li>
        <li class="see-all">
          <%= link_to "See all Rails content...", "/rails" %>
        </li>
      </ul>

      <ul>
        <li>
          <%= image_tag "topics/vim.svg" %>
          <h3><%= link_to "Learn Vim", "/vim" %></h3>
        </li>
        <li>
          <%= link_to "Onramp to Vim", "/onramp-to-vim" %>
        </li>
        <li>
          <%= link_to "The Art of Vim", "/the-art-of-vim" %>
        </li>
        <li>
          <%= link_to "Navigating Ruby in Vim", "/navigating-ruby-files-with-vim" %>
        </li>
        <li class="see-all">
          <%= link_to "See all Vim content...", "/vim" %>
        </li>
      </ul>

      <ul>
        <li>
          <%= image_tag "topics/workflow.svg" %>
          <h3><%= link_to "Seamless Workflow", "/workflow" %></h3>
        </li>
        <li>
          <%= link_to "Learn tmux", "/tmux" %>
        </li>
        <li>
          <%= link_to "Introduction to Dotfiles", "/videos/intro-to-dotfiles" %>
        </li>
        <li>
          <%= link_to "Let's Build a CLI", "/videos/lets-build-a-cli" %>
        </li>
        <li class="see-all">
          <%= link_to "See all workflow content...", "/workflow" %>
        </li>
        </li>
      </ul>

      <ul>
        <li>
          <%= image_tag "topics/testing.svg" %>
          <h3><%= link_to "Ruby Testing", "/testing" %></h3>
        </li>
        <li>
          <%= link_to "Testing Fundamentals", "/testing-fundamentals" %>
        </li>
        <li>
          <%= link_to "Test Doubles", "/test-doubles" %>
        </li>
        <li>
          <%= link_to "Route, Controller, Action", "/videos/route-controller-action" %>
        </li>
        <li class="see-all">
          <%= link_to "See all testing content...", "/testing" %>
        </li>
      </ul>

      <ul>
        <li>
          <%= image_tag "topics/workflow.svg" %>
          <h3><%= link_to "Up Your Git Game", "/git" %></h3>
        </li>
        <li>
          <%= link_to "Mastering Git", "/mastering-git" %>
        </li>
        <li>
          <%= link_to "Git Workflow", "/videos/git-workflow" %>
        </li>
        <li>
          <%= link_to "Gitsh - the Git Shell", "/videos/gitsh" %>
        </li>
        <li class="see-all">
          <%= link_to "See all Git content...", "/git" %>
        </li>
      </ul>

      <ul>
        <li>
          <%= image_tag "topics/clean-code.svg" %>
          <h3><%= link_to "Cleaner Ruby", "/clean-code" %></h3>
        </li>
        <li>
          <%= link_to "Refactoring", "/refactoring" %>
        </li>
        <li>
          <%= link_to "Form Objects", "/videos/form_objects" %>
        </li>
        <li>
          <%= link_to "Ruby Science: Move Method", "/videos/ruby-science-move-method" %>
        </li>
        <li class="see-all">
          <%= link_to "See all clean code content...", "/clean-code" %>
        </li>
      </ul>

      <ul>
        <li>
          <%= image_tag "topics/javascript.svg" %>
          <h3><%= link_to "Learn JavaScript", "/javascript" %></h3>
        </li>
        <li>
          <%= link_to "Intro to React", "/videos/intro-to-react" %>
        </li>
        <li>
          <%= link_to "Intro to Ember", "/videos/intro-to-ember" %>
        </li>
        <li>
          <%= link_to "Unit Testing JavaScript", "/videos/unit-testing-javascript" %>
        </li>
        <li class="see-all">
          <%= link_to "See all JavaScript content...", "/javascript" %>
        </li>
      </ul>

      <ul>
        <li>
          <%= image_tag "topics/foundations.svg" %>
          <h3>Fix Your Code</h3>
        </li>
        <li>
          <%= link_to "Chrome Dev Tools", "/videos/chrome-dev-tools" %>
        </li>
        <li>
          <%= link_to "Debugging", "/videos/debugging-for-fun-and-profit" %>
        </li>
        <li>
          <%= link_to "Code Review", "/videos/tips-for-code-review" %>
        </li>
      </ul>

      <ul>
        <li>
          <%= image_tag "topics/design.svg" %>
          <h3><%= link_to "Explore Design", "/design" %></h3>
        </li>
        <li>
          <%= link_to "Design for Developers", "/design-for-developers" %>
        </li>
        <li>
          <%= link_to "The Playbook: Video Edition", "/the-playbook-video-edition" %>
        </li>
        <li>
          <%= link_to "Serving Your Front-End", "/videos/serving-your-front-end" %>
        </li>
        <li class="see-all">
          <%= link_to "See all design content...", "/design" %>
        </li>
      </ul>
    </div>
  </div>
</section>
