<div class="episode">
  <hgroup class="post-link-header">
    <%= link_to episode do %>
      <h3><%= episode.full_title %></h3>
    <% end %>
    <h6 class="info">
      <%= episode.published_on.to_time.to_s(:short_date) %> • <%= distance_of_time_in_words episode.duration %>
    </h6>
  </hgroup>
  <p><%= episode.description %></p>
</div>
