<div class="episode">
  <%= link_to episode do %>
    <hgroup class="post-link-header">
      <h3><%= episode.full_title %></h3>
      <h6 class="info">
        <%= episode.published_on.to_time.to_s(:short_date) %> • <%= distance_of_time_in_words episode.duration %>
      </h6>
    </hgroup>
    <p><%= episode.description %></p>
  <% end %>
</div>
