<div class="summary">
  <%= link_to image_tag("podcast/#{show.slug}-small.png", class: 'cover', width: 145, height: 145), show_episodes_path(show) %>

  <%== show.description %>

  <p class="links">
    <%= link_to show.itunes_url do %>
      <%= image_tag("podcast/itunes.png", class: 'itunes', width: 12, height: 12) %> Subscribe in iTunes
    <% end %>
    <%= link_to show_episodes_path(show, format: :xml) do %>
      <%= image_tag("podcast/rss.png", class: 'rss', width: 12, height: 12) %> Subscribe via RSS
    <% end %>
    <% if show.stitcher_url.present? %>
      <%= link_to show.stitcher_url do %>
        <%= image_tag("podcast/stitcher.png", class: 'rss', width: 12, height: 12) %> Listen via Stitcher
      <% end %>
    <% end %>
  </p>
</div>
