<% content_for :page_logo do %>
  <%= image_tag("podcast/#{@show.slug}-small.png") %>
<% end %>

<% content_for :subject_block do %>
  <h1><%= @show.title %></h1>
  <h2 class="tagline">
    <%= link_to 'iTunes', @show.itunes_url %>
    <%= link_to 'RSS', show_episodes_path(@show, format: :xml) %>
    <% if @show.stitcher_url.present? %>
      <%= link_to 'Stitcher', @show.stitcher_url %>
    <% end %>
  </h2>
<% end %>

<div class="text-box-wrapper">
  <div class="text-box">
    <%== @show.description %>
    <%= render @show.episodes.published %>
  </div>
</div>

<aside>
  <%= render 'credits', show: @show %>
</aside>
