<% content_for :page_logo do %>
  <%= image_tag("podcast/#{@episode.show.slug}-small.png") %>
<% end %>

<% content_for :additional_header_links do %>
  <li class="all-episodes"><%= link_to 'All Episodes', show_episodes_path(@episode.show) %></li>
<% end %>

<% content_for :subject_block do %>
  <h1><%= @episode.show.title %></h1>
  <h2 class="tagline">
    <%= link_to 'iTunes', @episode.show.itunes_url %>
    <%= link_to 'RSS', show_episodes_path(@episode.show, format: :xml) %>
    <% if @episode.show.stitcher_url.present? %>
      <%= link_to 'Stitcher', @episode.show.stitcher_url %>
    <% end %>
  </h2>
<% end %>

<div class="text-box-wrapper">
  <div class="text-box">
    <hgroup class="product-title">
      <h2><%= @episode.title %></h2>
      <h3>Episode #<%= @episode.number %></h3>
    </hgroup>

    <p><%= @episode.description %></p>

    <div class="listen">
      <audio preload="none" controls="controls">
        <%= tag :source,
          src: show_episode_path(@episode.show, @episode, format: :mp3),
          type: 'audio/mpeg' %>
      </audio>
      <%= link_to show_episode_path(@episode.show, @episode, format: :mp3) do %>
        Direct Download
      <% end %>
      (<%= number_to_human_size @episode.file_size, precision: 2 %>,
      <%= distance_of_time_in_words @episode.duration %>)
    </div>

    <% unless @episode.notes.blank? %>
      <h3>Notes &amp; Links</h3>
      <%== format_podcast_notes @episode.notes %>
    <% end %>

    <section id="podcast-questions">
      <h3>To have your questions answered on the air</h3>
      <p>
        Email your questions to <%= mail_to @episode.show.email %> or Tweet to
        us <a href="http://twitter.com/thoughtbot">@thoughtbot</a>.
      </p>
    </section>
  </div>

  <%= render 'credits', show: @episode.show %>
</div>

<%= render @episode.related %>
