<% content_for :landing_page_back_link do %>
  <%= link_to '&larr; All Videos'.html_safe, '/the-weekly-iteration' %>
<% end %>

<% cache(@video) do %>
  <div class="text-box-wrapper">
    <div class="text-box">
      <% if @video.preview_wistia_id.present? %>
        <%= wistia_video_embed(@video.preview_video_hash_id) %>
      <% else %>
        <%= image_tag @video.full_sized_wistia_thumbnail, alt: @video.title, class: "thumbnail" %>
      <% end %>

      <section class='video-notes'>
        <h3>Notes</h3>
        <%= raw(@video.notes_html) %>
      </section>
    </div>
  </div>

  <aside>
    <% if signed_out? %>
      <%= render 'weekly_iterations/subscribe', plan: @plan, show: @video.watchable %>
    <% else %>
      <%= render @video.watchable.licenses_for(current_user) %>
    <% end %>

    <%= render 'products/terms', product: @video.watchable %>
  </aside>
<% end %>
