<% content_for :landing_page_back_link do %>
  <%= link_to '&larr; All Videos'.html_safe, '/the-weekly-iteration' %>
<% end %>

<% cache(@video) do %>
  <div class="text-box-wrapper">
    <div class="text-box">
      <%= render @video.preview, title: @video.title %>

      <section class='video-notes'>
        <h3>Notes</h3>
        <%= raw(@video.notes_html) %>
      </section>
    </div>
  </div>

  <aside>
    <% if signed_out? %>
      <%= render 'weekly_iterations/subscribe', plan: @plan, show: @video.watchable %>
    <% else %>
      <%= render @video.watchable.licenses_for(current_user) %>
    <% end %>

    <%= render 'products/terms', product: @video.watchable %>
  </aside>
<% end %>
