<section class="section-location">
  <div id="register">
    <% if in_person_section.full? %>
      <h2>
        <span class="location-name">
          <%= google_map_link_to(in_person_section.location, id: 'location', title: "#{in_person_section.address}, #{in_person_section.zip}", target: '_blank') do %>
            <%= in_person_section.city %>
          <% end %>
        </span>
        <span>Sold Out</span>
      </h2>
    <% else %>
      <h2>
        <span class="location-name">
          <%= google_map_link_to(in_person_section.location, id: 'location', title: "#{in_person_section.address}, #{in_person_section.zip}", target: '_blank') do %>
            <%= in_person_section.city %>
          <% end %>
        </span>
      </h2>
      <p class="when">
        <%= formatted_date_range(in_person_section.starts_on, in_person_section.ends_on) %><br>
        <%= in_person_section.time_range %>
      </p>
    <% end %>

    <% if in_person_section.full? %>
      <a href="#new_follow_up" class="button <%= 'free-with-prime' if current_user_has_active_subscription? && subscription_includes_workshops? %>">Get notified</a>
    <% else %>
      <% if current_user_has_active_subscription? && subscription_includes_workshops? %>
        <%= link_to registration_url(in_person_section), class: "free-with-prime button" do %>
          <%= t('workshops.show.register_free_inperson') %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</section>
