<section id="license">
  <% if online_section.full? %>
    <h2>
      <span>Sold Out</span>
    </h2>
    <a href="#new_follow_up" class="button">Get notified</a>
  <% else %>
    <div class="individual-purchase">
      <h2>
        <% unless current_user_has_active_subscription? %>
          Single
        <% end %>
        <span>
          <% if current_user_has_active_subscription? %>
            Free
          <% else %>
            <%= number_to_currency online_section.individual_price, precision: 0 %>
          <% end %>
        </span>
      </h2>
      <div class="license">
        <% if current_user_has_active_subscription? %>
          <h2 class="active-subscription"><%= t 'workshops.show.free_to_subscribers' %></h2>
        <% end %>

        <%= link_to new_section_purchase_path(online_section, variant: :individual), class: "license-button button#{' non-free' unless current_user_has_active_subscription?}" do %>
          <%= t('workshops.show.register') %>
        <% end %>
      </div>
    </div>

    <% unless current_user_has_active_subscription? %>
      <div class="company-purchase">
        <h2>
          Group
          <span><%= number_to_currency online_section.company_price, precision: 0 %></span>
        </h2>

        <div class="license">
          <%= link_to new_section_purchase_path(online_section, variant: :company), class: 'license-button button non-free' do %>
            Purchase for Your Company
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</section>
