<% unless online_section.starts_immediately? %>
  <section class="section-location">
    <div class="when">
      <h3>When</h3>
      <p>
        <%= formatted_date_range(online_section.starts_on, online_section.ends_on) %><br>
        <%= online_section.time_range %>
      </p>
    </div>
  </section>
<% end %>

<section id="license">
  <% if online_section.full? %>
    <h2>
      <span>Sold Out</span>
    </h2>
    <a href="#new_follow_up" class="button">Get notified</a>
  <% elsif current_user_has_active_subscription? && subscription_includes_workshops? %>
    <div class="individual-purchase">
      <div class="license">
        <h2 class="active-subscription"><%= t 'workshops.show.free_to_subscribers' %></h2>
        <%= link_to new_section_purchase_path(online_section, variant: :individual), class: "free-with-prime license-button button" do %>
          <%= t('workshops.show.register_free') %>
        <% end %>
      </div>
    </div>
  <% end %>
</section>
