<section id="date-range">
  <div class="when">
    <h3>When</h3>
    <p data-role=date-range><%= online_section.date_range %></p>
  </div>
</section>

<section id="license">
  <div class="individual-purchase">
    <h2>
      <% unless current_user_has_active_subscription? %>
        Single
      <% end %>
      <span>
        <% if current_user_has_active_subscription? %>
          Free
        <% else %>
          <% if pricing_scheme == "primary" %>
            <%= number_to_currency online_section.individual_price, precision: 0 %>
          <% else %>
            <%= number_to_currency online_section.alternate_individual_price, precision: 0 %>
          <% end %>
        <% end %>
      </span>
    </h2>
    <div class="license">
      <% if current_user_has_active_subscription? %>
        <p><%= t 'workshops.show.free_to_subscribers' %></p>
      <% end %>
      <% if pricing_scheme == "primary" %>
        <%= link_to new_section_purchase_path(online_section, variant: :individual), class: 'license-button button' do %>
          <%= t('workshops.show.register') %>
        <% end %>
      <% else %>
        <%= link_to new_section_purchase_path(online_section, variant: :alternate_individual), class: 'license-button button' do %>
          <%= t('workshops.show.register') %>
        <% end %>
      <% end %>
    </div>
  </div>

  <% unless current_user_has_active_subscription? %>
    <div class="company-purchase">
      <h2>
        Group
        <span>
          <% if pricing_scheme == "primary" %>
            <%= number_to_currency online_section.company_price, precision: 0 %>
          <% else %>
            <%= number_to_currency online_section.alternate_company_price, precision: 0 %>
          <% end %>
        </span>
      </h2>
      <div class="license">
        <% if pricing_scheme == "primary" %>
          <%= link_to new_section_purchase_path(online_section, variant: :company), class: 'license-button button' do %>
            Purchase for Your Company
          <% end %>
        <% else %>
          <%= link_to new_section_purchase_path(online_section, variant: :alternate_company), class: 'license-button button' do %>
            Purchase for Your Company
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</section>

<section id="terms">
  <ul>
    <dd><p>Every online workshop includes support for any questions you may have about the topic, direct from the thoughtbot team.</p></dd>
    <dt><p>What if I'm not happy?</p></dt>
    <dd><p>If you&rsquo;re not happy, just let us know within 30 days and we&rsquo;ll refund your money. It&rsquo;s as simple as that.</p></dd>
  </ul>
</section>
