<% content_for :page_header do %>
  <section id="homepage-top">

    <header>
      <h1>thoughtbot workshops</h1>

      <section id="the-sell">
        <h2>Kickstart your<br>career with us</h2>
        <p class="tagline">We&rsquo;ve trained hundred of people in small, <br>hands-on workshops led by passionate experts.</p>
      </section>
    </header>

    <% if @unscheduled_courses.empty? && @sections.empty? %>
      <p id="no-courses">No courses are running at this time.</p>
    <% else %>
      <ul id="workshop-list">
        <% @sections.each do |section| %>
          <li>
            <% link_to section_path(section), :id => dom_id(section) do %>
              <h3><%=h section.course_name %></h3>
              <p class="date"><%=h section.date_range %></p>
            <% end %>
          </li>
        <% end %>
        <% @unscheduled_courses.each do |course| %>
          <li class="inactive">
            <% link_to course_path(course), :id => dom_id(course) do %>
              <h3><%=h course.name %></h3>
              <p class="date">Tell Me More</p>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </section>
<% end %>

<%= image_tag("/images/home-photo1.jpg", :alt => "thoughtbot training" )%>
<%= image_tag("/images/home-photo2.jpg", :alt => "thoughtbot training", :class => 'right' )%>

<h4 id="why-we-rule">
  We believe the best learning occurs during hands-on, intimate time with passionate experts. Our workshops never have more than a 5-to-1 student-teacher ratio. They are short lectures followed by long pair programming sessions where students develop a real Rails app.
</h4>
<ul id="testimonials" class="clearfix">
  <li>
    Having taken a Thoughtbot training class on my own dime I can say it’s 110% worth it. If you can hook it up, do it.
    <a href="http://joeloliveira.com/">Joel Oliveira</a>
  </li>
  <li>
    After the training session my code style is so fresh, Vogue wants to publish my tests.
    <a href="http://gregsterndale.com/">Greg Sterndale</a>
  </li>
  <li>
    If you're a freelance developer you owe it to your clients to come and learn Rails development &amp; delivery from the team at Thoughtbot.
    <a href="http://bigroomtechnology.com/">Mike Breen</a>
  </li>
</ul>
