<div class="top">
  <div class="wrapper">
    <h2><%= @section.course_name %></h2>
  </div>
</div>
<div id="content">
  <div class="wrapper">
    <div class="dark-content clearfix">
      <div id="course-overview" class="clearfix">
        <div id="course-overview-left">
          <%= textilize @section.course_description %>
        </div>
        <div id="course-overview-right">
          <% google_map_link_to(@section.course_location, :id => 'location') do %>
            <strong>thoughtbot</strong>
            <span id="section-location"><%= h(@section.course_location) %></span>
          <% end %>
          <div id="course-date-time">
            <div id="date"><%= h(@section.date_range) %></div>
            <div id="time"><%= h(@section.time_range) %></div>
          </div>
        </div>
      </div>
      <div class="clearfix">
        <div id="resources" class="clearfix col">
          <h3>Resources</h3>
          <ul>
            <% @section.course.resources.each do |resource| %>
              <li><%= link_to resource.name, resource.url %></li>
            <% end %>
          </ul>
        </div>
        <div id="teachers" class="clearfix col">
          <h3>Who's teaching</h3>
          <%= render 'teachers', :teachers => @section.teachers %>
        </div>
      </div>
      <div id="resources_faq" class="col clearfix">
        <h3>Frequently asked questions</h3>
        <dl>
          <% @section.course.questions.each do |question| %>
            <dt><%= textilize question.question %></dt>
            <dd><%= textilize question.answer %></dd>
          <% end %>
        </dl>
      </div>
    </div>
  </div>
</div>
