<% content_for :page_header do %>
<section id="homepage-top">
  <header>
    <h1>thoughtbot workshops</h1>
  </header>

  <section id="course-info">
    <h2><%= h(@section.course_name) %></h2>
    <p><%= textilize @section.course_description %></p>

    <q>Cannot recommend [Design for Developers] more. It&rsquo;s amazing and I have a totally different outlook on design and web development.</q>
    <p class="source">&mdash;<a href="#">Chuck Vose</a></p>

    <q>Having taken a thoughtbot training class on my own dime I can say it&rsquo;s 110% worth it. If you can hook it up, do it.</q>
    <p class="source">&mdash;<a href="http://joeloliveira.com/">Joel Oliveira</a></p>
  </section>

  <section id="workshop-details">
    <h3>Cost</h3>
    <% unless @section.full? %>
      <p class="cost"><%= number_to_currency @section.calculate_price, :precision => 0, :delimiter => '' %></p>
    <% else %>
      <p class="cost">SOLD OUT</p>
    <% end %>


    <h3>When</h3>
    <p><%= h(@section.date_range) %><br><%= h(@section.time_range) %></p>

    <h3>Where</h3>
    <p>
      <% google_map_link_to(@section.course_location, :id => 'location') do %>
        <%= h(@section.course_location_name) %><br>
        <%= h(@section.course_location) %>
      <% end %>
    </p>

    <section id="register">
      <% unless @section.full? %>
        <% link_to new_section_registration_path(@section), :id => 'register-button' do %>
          Register
        <% end %>
      <% else %>
        <section id="notify-me">
          <% form_for [@section.course, @follow_up] do |form| %>
            <%= form.label :email, "Want to be notified the next time we run this workshop?" %>
            <%= form.text_field :email, :placeholder => "Enter your email address" %>
            <input type="submit" value="Submit" />
          <% end %>
        </section>
      <% end %>
    </section>
  </section>
</section>
<% end %>

<section id="additional-information">
  <section id="faq">
    <h4>Frequently asked questions</h3>
    <dl>
      <% @section.course.questions.each do |question| %>
        <dt><%= textilize question.question %></dt>
        <dd><%= textilize question.answer %></dd>
      <% end %>
    </dl>

    <section id="terms">
      <h4 class="terms">Terms and conditions</h3>
      <%= textilize @section.course.terms_of_service %>
    </section>
  </section>

  <section id="teachers">
    <h4>Who's teaching the workshop</h3>
    <%= render 'teachers', :teachers => @section.teachers %>
  </section>
</section>

