<% content_for :page_header do %>
<section id="homepage-top">
  <header>
    <h1><a href="/">thoughtbot workshops</a></h1>
  </header>

  <section id="course-info">

    <h2><%= h(@section.course_name) %></h2>

    <% if @section.full? %>
    <section id="notify-me">
      <% form_for [@section.course, @follow_up] do |form| %>
        <%= form.label :email, "Want to be notified the next time we run this workshop?" %>
        <%= form.text_field :email, :placeholder => "Enter your email address" %>
        <input type="submit" value="Submit" />
      <% end %>
    </section>
    <% end %>

    <section id="course-description"><%= textilize @section.course_description %></section>
  </section>

  <section id="workshop-details">
    <h3>Cost</h3>
    <% unless @section.full? %>
      <p class="cost"><%= number_to_currency @section.calculate_price, :precision => 0, :delimiter => '' %></p>
    <% else %>
      <p class="cost">SOLD OUT</p>
    <% end %>


    <h3>When</h3>
    <p><%= h(@section.date_range) %><br><%= h(@section.time_range) %></p>

    <h3>Where</h3>
    <p id="section-location">
      <% google_map_link_to(@section.course_location, :id => 'location') do %>
        <%= h(@section.course_location_name) %><br>
        <%= h(@section.course_location) %>
      <% end %>
    </p>

    <section id="register">
      <% unless @section.full? %>
        <% link_to new_section_registration_path(@section), :id => 'register-button' do %>
          Register
        <% end %>
        </section>
      <% end %>
    </section>
  </section>
</section>
<% end %>

<section id="additional-information">
  <section id="faq">
    <h4>Frequently asked questions</h3>
    <dl>
      <% @section.course.questions.each do |question| %>
        <dt><%= textilize question.question %></dt>
        <dd><%= textilize question.answer %></dd>
      <% end %>
    </dl>
  </section>

  <section id="sidebar">
    <h4>Who's teaching the workshop</h3>
    <%= render 'teachers', :teachers => @section.teachers %>

    <section id="terms">
      <h4 class="terms">Terms and conditions</h3>
      <%= textilize @section.course.terms_of_service %>
    </section>
  </section>
</section>

