<% content_for :page_header do %>
<section id="homepage-top">
  <header>
    <h1>thoughtbot workshops</h1>
  </header>

  <section id="course-info">
    <h2><%= h(@section.course_name) %></h2>
    <p><%= textilize @section.course_description %></p>

    <section id="register">
      <% unless @section.full? %>
        <% link_to new_section_registration_path(@section), :id => 'register-button' do %>
          Register
        <% end %>
      <% else %>
        <div class='register-closed'>Workshop is full</div>
      <% end %>
    </section>

    <% if @section.full? %>
      <div id="inactive-notify-me" class="dark-content clearfix">
        <% form_for [@section.course, @follow_up] do |form| %>
          <%= form.label :email, "Want to be notified when this course is rescheduled?" %>
          <%= form.text_field :email, :placeholder => "Enter your email address" %>
          <input type="submit" value="Submit" />
        <% end %>
      </div>
    <% end %>
  </section>

  <section id="workshop-details">
    <h3>When</h3>
    <p><%= h(@section.date_range) %><br><%= h(@section.time_range) %></p>

    <h3>Where</h3>
    <p>
      <% google_map_link_to(@section.course_location, :id => 'location') do %>
        <%= h(@section.course_location_name) %><br>
        <%= h(@section.course_location) %>
      <% end %>
    </p>

    <h3>Cost</h3>
    <p><%= number_to_currency @section.calculate_price, :precision => 0, :delimiter => '' %></p>
  </section>
</section>
<% end %>

<section id="additional-information">
  <section id="faq">
    <h4>Frequently asked questions</h3>
    <dl>
      <% @section.course.questions.each do |question| %>
        <dt><%= textilize question.question %></dt>
        <dd><%= textilize question.answer %></dd>
      <% end %>
    </dl>
  </section>

  <section id="teachers">
    <h4>Teachers</h3>
    <%= render 'teachers', :teachers => @section.teachers %>
  </section>
</section>

<section id="terms">
  <h4 class="terms">Terms and conditions</h3>
  <%= textilize @section.course.terms_of_service %>
</div>
