  <section id="head-wrapper">
    <section id="homepage-top">

      <section id="course-info">
        <h2><%= @section.course_name %></h2>
  
        <% if @section.full? %>
          <section id="notify-me">
            <%= form_for [@section.course, @follow_up] do |form| %>
              <%= form.label :email, "Want to be notified the next time we run this workshop?" %>
              <%= form.text_field :email, :placeholder => "Enter your email address" %>
              <input type="submit" value="Submit" />
            <% end %>
          </section>
        <% end %>
  
        <section id="course-description"><%=raw textilize @section.course_description %></section>

        <%= render :partial => 'courses/questions', :locals => { :course => @section.course }  %>
      </section>

      <section id="workshop-details">
        <section id="register">
          <% unless @section.full? %>
            <%= link_to registration_url(@section), :id => 'register-button' do %>
              Register
            <% end %>
          <% end %>
        </section>

        <h3>Cost</h3>
        <% unless @section.full? %>
          <p class="cost"><%= number_to_currency @section.calculate_price, :precision => 0, :delimiter => '' %></p>
        <% else %>
          <p class="cost sold-out"><%= number_to_currency @section.calculate_price, :precision => 0, :delimiter => '' %></p>
          <p class="notice">Sold Out</p>
        <% end %>
  
        <h3>When</h3>
        <p><%= @section.date_range %><br><%= @section.time_range %></p>
  
        <h3>Where</h3>
        <p id="section-location">
          <% google_map_link_to("#{@section.course_location} #{@section.course_location_name}", :id => 'location') do %>
            <%= @section.course_location %><br> <%= @section.course_location_name %>
          <% end %>
        </p>
  
      </section>

    </section>
  </section>

<section id="additional-information">
  <section id="additional-information-wrapper">
    <section id="main-content">
      <%= render :partial => 'courses/follow_up', :locals => { :course => @section.course } %>

      <section id="terms">
        <h4 class="terms">Terms and conditions</h3>
        <%= t(".terms-conditions", :default => "
          <p>By registering for this workshop you agree to the following terms and conditions:</p>
          <ul>
          <li>If you&rsquo;re not happy with a workshop you took, just let us know and we&rsquo;ll refund your money. It&rsquo;s as simple as that.</li>
          <li>The ticket will entitle the named holder entrance to this event.</li>
          <li>Tickets may not be resold and are non-transferrable.</li>
          <li>Tickets are refundable up until 1 week before the start of the workshop.</li>
          <li>We may film, take photographs, and use your feedback for marketing purposes.</li>
          <li>thoughtbot, inc. will not be liable for any direct or indirect damage of any nature arising out of the cancellation of the event.</li>
          </ul>") %>
      </section>
    </section>

    <section id="sidebar">
      <h4>Who&rsquo;s teaching the workshop</h3>
      <%= render 'teachers', :teachers => @section.teachers %>
    </section>
  </section>
</section>
