<div class="top">
  <div class="wrapper">
    <h2><%= h(@section.course_name) %></h2>
  </div>
</div>
<div id="content">
  <div class="wrapper">
    <div class="dark-content clearfix">
      <div id="register-info" class="clearfix">
        <div id="register-right">
          <% google_map_link_to(@section.course_location, :id => 'location') do %>
            <strong>thoughtbot</strong>
            <span id="section-location"><%= h(@section.course_location) %></span>
          <% end %>
          <% link_to @section.registration_link, :id => 'register-button' do %>
            <div id="register-button-top">
              <div id="register-date"><%= h(@section.date_range) %></div>
              <div id="register-time"><%= h(@section.time_range) %></div>
              <div id="total-price">
                <div id="amount"><%= number_to_currency @section.calculate_price, :precision => 0, :delimiter => '' %></div>
              </div>
            </div>
            <div id="register-for-class">Register</div>
          <% end %>
        </div>
        <div id="register-description">
          <%= textilize @section.course_description %>
        </div>
      </div>
      <div class="clearfix">
        <div id="faq" class="col">
          <h3>Frequently asked questions</h3>
          <dl>
             textilize @course.faq
          </dl>
        </div>
        <div id="teachers" class="col">
          <h3>Teachers</h3>
          <ul>
            <% @section.teachers.each do |teacher| %>
              <% content_tag(:li, teacher) do %>
                <%= image_tag("/images/_teachers/#{teacher.image_name}.jpg", :alt => teacher.image_name)%>
                <h4><%=h teacher.name %></h4>
                <span>
                  <%=h teacher.bio %>
                </span>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
      <% link_to @section.registration_link, :id => "register-button-bottom" do %>
        <div>
          Register for <%= h(@section.course_name) %>
        </div>
        <span>
          <%= h(@section.date_range) %>
        </span>
      <% end %>
      <div id="faq" class="col clearfix">
        <h4>Frequently asked questions</h4>
        <dl>
          <% @section.course.questions.each do |question| %>
            <dt><%= textilize question.question %></dt>
            <dd><%= textilize question.answer %></dd>
          <% end %>
        </dl>
      </div>
      <div id="terms" class="col clearfix">
        <h4>Terms and conditions</h4>
        <%= textilize @section.course.terms_of_service %>
      </div>
    </div>
  </div>
</div>
