<h1 class="topic-label"><%= t(".complete") %></h1>
<h3 class="deck-title"><%= t(".title", title: @quiz.title) %></h3>

<p><%= t(".explanation") %> or <%= link_to t(".back-to-all-quizzes"), quizzes_path %>.</p>

<ul class="kept-flashcards">
  <% @quiz.questions.each do |question| %>
    <li class="to-flashcard" data-question="<%= question.id %>">
      <%= review_link(question) %>
    </li>
  <% end %>
</ul>
