<% if signed_out? %>
  <div class="access-callout">
    <p><%= t("decks.auth_to_access_cta") %></p>

    <%= link_to github_auth_path, class: "pull-right cta-button light-bg" do %>
      <%= image_tag("github-black.svg", class: "logo", alt: "") %>
      <%= t("decks.auth_to_access_link")  %>
    <% end %>
  </div>
<% end %>

<h1 class="topic-label"><%= t(".complete") %></h1>
<h3 class="deck-title"><%= t(".title", title: @deck.title) %></h3>

<p><%= t(".explanation") %> or <%= link_to t(".back-to-all-decks"), decks_path %>.</p>

<ul class="kept-flashcards">
  <%= render collection: @deck.flashcards, partial: "results/flashcard" %>
</ul>
