<h1><%= t(".title", title: @quiz.title) %></h1>

<h3><%= t(".explanation") %> or <%= link_to t(".back-to-all-quizzes"), quizzes_path %>.</h3>

<table class="results">
  <tr>
    <th>Question</th>
    <th>Your rating</th>
  </tr>

  <% @quiz.questions.each do |question| %>
    <tr class="attempt" data-question="<%= question.id %>">
      <td>
        <%= review_link(question) %>
      </td>
      <td class="confidence">
        <%= question.most_recent_attempt_for(current_user).confidence %>
      </td>
    </tr>
  <% end %>
</table>
