<header class="site-header">
  <nav class="site-nav">
    <div class="site-nav__action">
      <%= link_to root_path do %>
        <%= inline_svg "upcase/upcase-header-logo-small.svg",
          class: "site-nav__logo",
          alt: t("layouts.app_name") %>
      <% end %>

      <a class="site-nav__menu-trigger js-toggle-menu-trigger">
        Menu
      </a>
    </div>

    <div class="site-nav__menu">
      <ul>
        <li>
          <%= link_to(
            "Weekly Videos",
            Show.the_weekly_iteration,
            class: "site-nav__link",
          ) %>
        </li>

        <li>
          <%= link_to(
            "Forum",
            "https://forum.upcase.com",
            class: "site-nav__link",
            target: "_blank",
          ) %>
        </li>

        <li>
          <%= link_to(
            t("shared.header.content"),
            "#",
            class: "table-of-contents-toggle site-nav__link",
            data: { role: "table-of-contents-toggle" }
          ) %>
        </li>

        <li>
          <%= link_to(
            t("shared.header.sign_in"),
            sign_in_path,
            class: "site-nav__link",
          ) %>
        </li>

        <li>
          <%= link_to(
            t("shared.subscriptions.single_user"),
            professional_checkout_path,
            class: "js-site-nav-button site-nav__button button button--on-dark"
          ) %>
        </li>
      </ul>
    </div>

    <%= render "shared/table_of_contents" %>
  </nav>
</header>
