<section id="new_languages_modal" class="modal is-open">
  <div class="card card--one-per-line modal__content">
    <div class="card__content">
      <div class="media-object">
        <%= inline_svg "marketing/symbol-#{@language}.svg" %>

        <h1 class="media-object__heading">
          Learn <%= @language.titlecase %> with Upcase!
        </h1>
      </div>

      <p class="card__copy">
        Add your name to the
        pre-lanuch list of our <%= @language.titlecase %>
        class and get <mark>5% off an annual subscription</mark> when the
        class is launched.
      </p>
    </div>

    <div class="card__content card__content--dark">
      <form accept-charset="UTF-8"
        action="https://formkeep.com/f/9baea90e4fc2" method="POST">
        <input type="hidden" name="utf8" value="✓">
        <label for="email-address">Email Address</label>
        <input type="email" id="email-address" name="email">
        <input type="hidden" id="language_name" name="language_name"
          value="<%= @language %>">
        <button class="button button--on-dark" type="submit">
          Add me to the list
        </button>
      </form>
    </div>

    <div class="card__content">
      <a href="" class="js-toggle-close-trigger"
        data-target="#new_languages_modal">
        See what other courses we have on Upcase &rarr;
      </a>
    </div>
  </div>

  <div class="modal__background background background--upcase-<%= @language %>
    js-toggle-close-trigger" data-target="#new_languages_modal">
  </div>

  <div class="modal__tease modal__tease--<%= @language %> js-toggle-close-trigger"
    data-target="#new_languages_modal">
    <%= inline_svg "marketing/symbol-#{@language}.svg" %>

    <strong>
      Add your email to the list to learn <%= @language.titlecase %> &rarr;
    </strong>
  </div>
</section>
