<%- if @language %>
  <%= render "marketing/new_languages" %>
<% end %>

<%- if params[:confirmation]%>
  <script>
    fbq('track', 'CompletedRegistration', {
      language: "<%= params[:language_selected] %>"
    });
  </script>
<% end %>

<%= render "marketing/header" %>
<%= render "shared/table_of_contents" %>

<main>
  <section class="hero hero--upcase-background js-hero">
    <%= inline_svg("welcome/upcase-logo--hero.svg") %>

    <h1 class="hero__tagline">
      Get "junior" out of your title
    </h1>

    <h2 class="hero__uvp">
      We turn <strong>junior developers into ass-kicking name
      takers.</strong> We're not a bootcamp, we're a finishing school.
    </h2>

    <%= link_to(
      "Start Learning Today",
      professional_checkout_path,
      class: "button button--large button--on-dark"
    )%>

    <div class="background background--upcase-hero"></div>
  </section>

  <section>
    <div class="marketing-video">
      <div class="marketing-video__video">
        <iframe
          src="//fast.wistia.net/embed/iframe/wb6xiv8f3b?playerPreference=html5"
          allowtransparency="true" frameborder="0" scrolling="no"
          class="wistia_embed" name="wistia_embed" allowfullscreen
          mozallowfullscreen webkitallowfullscreen oallowfullscreen
          msallowfullscreen></iframe>
        <script src="//fast.wistia.net/assets/external/E-v1.js" async></script>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="page-content">
      <h2 class="page-content__heading">
        A wide variety of challenging exercises.
      </h3>

      <p class="page-content__intro">
        <mark>Stop learning alone!</mark> Join our community of thousands of
        motivated peers and receive mentorship from the best in the business.
      </p>

      <div class="flex-grid">
        <% LandingPageTopics.new.topics.each do |topic|  %>
          <%= link_to(
              topic.target,
              class: "card category-card
                category-card--#{topic.name.downcase.gsub(" ", "-")}"
            ) do %>

            <%= inline_svg(
              "marketing/symbol-#{topic.name.downcase.gsub(" ","-")}.svg",
              class: "category-card__image",
            )
            %>

            <span class="category-card__title">
              <%= topic.name %>
            </span>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="page-content flex-grid">
      <div class="card card--two-per-line">
        <div class="card__content">
          <span class="card__heading">
            Follow expert trails.
          </span>

          <p class="card__copy">
            Curated exercises set in a path of varying difficulty to teach you the
            full spectrum of skills needed to become an expert on a topic.
          </p>

          <%= image_tag "marketing/follow-expert-trails.png" %>
        </div>
      </div>

      <div class="card card--two-per-line">
        <div class="card__content">
          <span class="card__heading">
            New videos, weekly.
          </span>

          <p class="card__copy">
            Learn your way, with videos, code challenges, or flashcards on your
            mobile device.
          </p>

          <%= image_tag "marketing/new-videos-weekly.png" %>
        </div>
      </div>
    </div>

    <div class="page-content flex-grid">
      <%= link_to(
        "Start Learning Today", professional_checkout_path, class: "button"
      )%>
    </div>

    <div class="background background--upcase-light"></div>
  </section>

  <section class="page-section page-section--dark">
    <div class="page-content page-content--reading">
      <span class="testimonial testimonial--large">
        <p>
          thoughtbot provided the top-notch Ruby and Rails experience we needed to
          help drive major improvements to Code Climate. <strong>With Upcase, you
          can learn from some of the best in the business.</strong>
        </p>
      </span>

      <div class="media-object">
        <%= image_tag "marketing/testimonial-bryan.png" %>

        <span>
          Bryan Helmkamp</br>
          CEO at Code Climate
        </span>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="page-content">
      <h2 class="page-content__heading">
        The next best thing to working at thoughtbot fulltime.
      </h3>

      <p class="page-content__intro">
        <mark>Stop learning alone!</mark> Join our community of thousands of
        motivated peers and receive mentorship from the best in the business.
      </p>
    </div>

    <div class="page-content page-content--centered">
      <div class="selling-point">
        <%= inline_svg(
          "marketing/icon-join-our-github.svg",
          class: "selling-point__image"
        )%>

        <strong class="selling-point__title">
          Join our Github
        </strong>

        <p>
          Join our GitHub team and watch us work on real apps (like this one!)
        </p>
      </div>

      <div class="selling-point">
        <%= inline_svg(
          "marketing/icon-huge-forum.svg",
          class: "selling-point__image"
        )%>

        <strong class="selling-point__title">
          Huge Forum
        </strong>

        <p>
          Break out of your learning rut with help from thoughtbot developers
          in our forum.
        </p>
      </div>

      <div class="selling-point">
        <%= inline_svg(
          "marketing/icon-master-vital-skills.svg",
          class: "selling-point__image"
        )%>

        <strong class="selling-point__title">
          Master Vital Skills
        </strong>

        <p>
          Master skills like Test Driven Development, even if you've tried and
          failed at it before.
        </p>
      </div>
    </div>

    <div class="page-content flex-grid">
      <%= link_to(
        "Start Learning Today", professional_checkout_path, class: "button"
      )%>
    </div>
  </section>

  <section class="page-section page-section--split page-section--dark">
    <div class="page-section--split__column">
      <div class="page-content page-content--reading">
        <div class="testimonial">
          <p>
            Without doubt, Upcase was vital to my professional growth and
            <strong>led to my dream Rails job at thoughtbot.</strong>
          </p>

          <div class="media-object">
            <%= image_tag "marketing/testimonial-matt.png" %>

            <span>
              Matt Sumner</br>
              Developer at thoughtbot
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="page-section--split__column">
      <div class="page-content page-content--reading">
        <div class="testimonial">
          <p>
            Training with thoughtbot (who I consider to be the best developers
            in the world), and leveraging Upcase’s vital <strong>community of
            like minded peers has been invaluable for me.</strong>
          </p>

          <p>
            Skilling up in relative isolation in Australia, it provided the
            tools and support for me <strong>to land my first Rails job and
            flourish there.</strong>
          </p>

          <div class="media-object">
            <%= image_tag "marketing/testimonial-ralph.png" %>

            <span>
              Ralph White</br>
              Developer at postinvoice.com
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="page-content flex-grid">
      <div class="card card--one-per-line">
        <div class="card__content">
          <span class="card__heading">
            Join the Upcase community.
          </span>

          <p class="card__copy">
            <mark>
              30-day, hassle-free money back guarantee
            </mark>
          </p>

          <p class="card__copy">
            For aspiring senior developers looking for battle-tested best
            practices, a killer community, and mentorship from the right people.
          </p>
        </div>

        <div class="card__content card__content--halves">
          <div class="card__content">
            <div class="plan">
              <span class="plan__title">
                Monthly Subscription
              </span>

              <span class="plan__cost">
                $29
              </span>

              <span class="plan__payment-frequency">
                per month
              </span>

              <small class="plan__closer">
                Full access for less than $1 a day
              </small>
            </div>

            <%= link_to(
              "Sign Up",
              professional_checkout_path,
              class: "button button--on-dark"
            )%>
          </div>

          <div class="card__content">
            <span>Why Upcase?</span>

            <ul>
              <li>Peer & expert feedback</li>
              <li>Video tutorials</li>
              <li>Coding exercises</li>
              <li>Access to our GitHub repos</li>
              <li>Community forum</li>
              <li>Flashcard decks</li>
              <li>New videos every week</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="page-content flex-grid">
      <strong>
        <%= link_to "Have a team?", teams_path, class: :team %>
      </strong>
    </div>

    <div class="background background--upcase-light"></div>
  </section>
</main>

<%= render "marketing/footer" %>
