<div class="coupon" style="display: none;">
  <%= semantic_form_for(
    :coupon, 
    url: polymorphic_path(
      [@purchaseable, :stripe_redemption], 
      action: :new, 
      variant: params[:variant]
    )
  ) do |form| %>
    <%= form.inputs do %>
      <%= form.input :code %>
      <li class="error" style="display: none;">
        <p class="inline-errors">The coupon code you supplied is not valid.</p>
      </li>
    <% end %>
    <%= form.actions do %>
      <%= form.action :submit, label: "Apply Coupon" %>
    <% end %>
  <% end %>
</div>
