<section id="container">

  <section id="checkout-form">
    <h1>Purchase Backbone.js on Rails Group Access</h1>
    <%= render partial: 'shared/backbone_checkout_intro' %>

    <%= semantic_form_for :cart, url: "https://thoughtbot.myshopify.com/cart/add", html: { id: "backbone_form", method: 'post' } do |form| %>
      <%= hidden_field_tag 'id', '198225102' %>
      <%= hidden_field_tag 'return_to', "https://thoughtbot.myshopify.com/checkout" %>
      <%= form.inputs 'GitHub Usernames' do %>
        <li>Enter the <strong>GitHub usernames</strong> of everyone you'd like to purchase access for. If you don't have a Github account, you can <a href="https://github.com/signup/free">create one for free here</a>.</li>
        <li class="string">
          <label for="first_reader">First Reader<abbr title="required">*</abbr></label>
          <input type="text" name="attributes[first-reader]" id="first_reader" required="required" class="reader"/>
          <p class="inline-hints">Be sure to enter a valid GitHub username.</p>
        </li>
        <li>Enter <strong>the GitHub usernames</strong> of up to 9 additional readers. You can add more names later by emailing <%= mail_to "workshops@thoughtbot.com", "workshops@thoughtbot.com" %>.</li>
        <li class="string">
          <label for="second_reader">Second Reader</label>
          <input type="text" name="attributes[second-reader]" id="second_reader" class="reader"/>
          <p class="inline-errors">Be sure to enter a valid GitHub username.</p>
        </li>
        <li class="string">
          <label for="third_reader">Third Reader</label>
          <input type="text" name="attributes[third-reader]" id="third_reader" class="reader"/>
          <p class="inline-errors">Be sure to enter a valid GitHub username.</p>
        </li>
        <li class="string">
          <label for="fourth_reader">Fourth Reader</label>
          <input type="text" name="attributes[fourth-reader]" id="fourth_reader" class="reader"/>
          <p class="inline-errors">Be sure to enter a valid GitHub username.</p>
        </li>
        <li class="string">
          <label for="fifth_reader">Fifth Reader</label>
          <input type="text" name="attributes[fifth-reader]" id="fifth_reader" class="reader"/>
          <p class="inline-errors">Be sure to enter a valid GitHub username.</p>
        </li>
        <li class="string">
          <label for="sixth_reader">Sixth Reader</label>
          <input type="text" name="attributes[sixth-reader]" id="sixth_reader" class="reader"/>
        </li>
        <li class="string">
          <label for="seventh_reader">Seventh Reader</label>
          <input type="text" name="attributes[seventh-reader]" id="seventh_reader" class="reader"/>
          <p class="inline-errors">Be sure to enter a valid GitHub username.</p>
        </li>
        <li class="string">
          <label for="eigth_reader">Eigth Reader</label>
          <input type="text" name="attributes[eigth-reader]" id="eigth_reader" class="reader"/>
          <p class="inline-errors">Be sure to enter a valid GitHub username.</p>
        </li>
        <li class="string">
          <label for="nineth_reader">Nineth Reader</label>
          <input type="text" name="attributes[nineth-reader]" id="nineth_reader" class="reader"/>
          <p class="inline-errors">Be sure to enter a valid GitHub username.</p>
        </li>
        <li class="string">
          <label for="tenth_reader">Tenth Reader</label>
          <input type="text" name="attributes[tenth-reader]" id="tenth_reader" class="reader"/>
          <p class="inline-errors">Be sure to enter a valid GitHub username.</p>
        </li>
      <% end %>
      <%= form.buttons do %>
        <%= form.commit_button "Proceed to Checkout" %>
      <% end %>
    <% end %>

  </section>

</section>

<%= render partial: "shared/github_check" %>
