<div class="buffet">
  <div class="item">
    <hgroup>
      <h3>Workshops</h3>
      <h4>Study, learn, build</h4>
    </hgroup>
    <div class="figuregroup">
      <figure class="workshop-online product-card">
        <h4>Intro to Ruby on Rails</h4>
        <%= image_tag('workshop_thumbs/intro.png') %>
        <h5>Online and In-Person Workshop</h5>
        <p>Learn how to develop web applications using Ruby on Rails</p>
      </figure>
      <figure class="workshop-online product-card">
        <h4>Intermediate Ruby on Rails</h4>
        <%= image_tag('workshop_thumbs/intermediate.png') %>
        <h5>Online and In-Person Workshop</h5>
        <p>Dig deeper into Ruby on Rails</p>
      </figure>
      <figure class="workshop-online product-card">
        <h4>Design for Developers</h4>
        <%= image_tag('workshop_thumbs/design.png') %>
        <h5>Online and In-Person Workshop</h5>
        <p>Get better at visual design and create something great</p>
      </figure>
      <figure class="workshop-online product-card">
        <h4>Test-Driven Rails</h4>
        <%= image_tag('workshop_thumbs/test.png') %>
        <h5>Online and In-Person Workshop</h5>
        <p>Learn Test-Driven Development using RSpec and Capybara</p>
      </figure>
      <figure class="workshop-online product-card">
        <h4>The Playbook</h4>
        <%= image_tag('workshop_thumbs/playbook.png') %>
        <h5>Online-only Workshop</h5>
        <p>How to design, build, and launch a successful application</p>
      </figure>
    </div>
  </div>
  <div class="item">
    <hgroup>
      <h3>Books</h3>
      <h4>Read, contribute, discuss</h4>
    </hgroup>
    <div class="figuregroup">
      <figure class="book product-card"><%= image_tag('product_images/book/backbone-cover-large.png') %></figure>
      <figure class="book product-card"><%= image_tag('product_images/book/playbook-cover-large.png') %></figure>
      <figure class="book product-card"><%= image_tag('product_images/book/rubyscience-cover-large.png') %></figure>
    </div>
  </div>
  <div class="item">
    <hgroup>
      <h3>Screencasts</h3>
      <h4>Watch and discuss</h4>
    </hgroup>
    <div class="figuregroup">
      <figure class="screencast product-card">
        <h4>Vim for Rails Developers</h4>
        <%= image_tag('screencast_thumbs/vim-for-rails.png') %>
        <h5>Screencast</h5>
        <p>Create and edit your Ruby on Rails code more efficiently</p>
      </figure>
      <figure class="screencast product-card">
        <h4>Hidden Secrets of the Chrome Developer Tools</h4>
        <%= image_tag('screencast_thumbs/secrets.png') %>
        <h5>Screencast</h5>
        <p>Speed up your day-to-day web development work</p>
      </figure>
      <figure class="screencast product-card">
        <h4>Humans Present: Refactoring</h4>
        <%= image_tag('screencast_thumbs/refactoring.png') %>
        <h5>Screencast</h5>
        <p>Make Your Code Better</p>
      </figure>
      <figure class="screencast product-card">
        <h4>Humans Present: tmux</h4>
        <%= image_tag('screencast_thumbs/tmux.png') %>
        <h5>Screencast</h5>
        <p>Improve your workflow and become a better, happier developer</p>
      </figure>
    </div>
  </div>
  <div class="item">
    <hgroup>
      <h3>Prime Bytes</h3>
      <h4>Read and deliberate</h4>
    </hgroup>
    <div class="figuregroup">
      <figure class="byte product-card">
        <h4 class="byte-title">Don't rescue Exception, rescue StandardError.</h4>
        <p>The Exception hierarchy with Ruby starts with Exception. If you can raise it, it's an Exception. If you try to raise it and it's not an Exception, Ruby will complain...</p>
        <p class="date">May 15, 2013</p>
      </figure>
      <figure class="byte product-card">
        <h4 class="byte-title">SASS !default</h4>
        <p>Recently, a client asked us to create a white label app: they wanted their customers to be able to customize things like colors, logo, background, etc., but not all customers will want to use custom branding. How do...</p>
        <p class="date">May 03, 2013</p>
      </figure>
      <figure class="byte product-card">
        <h4 class="byte-title">A git-bisect Duet</h4>
        <p>git bisect uses binary search to find which change introduced a bug, given an old "good" commit and a later "bad" commit.</p>
        <p>DJCP asks: Who's used git bisect? I would like to use it to figure out when something was broken.</p>
        <p class="date">April 24, 2013</p>
      </figure>
      <figure class="byte product-card">
        <h4 class="byte-title">Do new classes increase or lower the complexity of the overall codebase?</h4>
        <p>Draper asks: By introducing a new class/object, are you increasing or lowering the complexity of the overall codebase? In the case that I'm talking about I think its simplifying the interactions...</p>
        <p class="date">April 17, 2013</p>
      </figure>
      <figure class="byte product-card">
        <h4 class="byte-title">How do I compare a zip file of code with the same directory from Git?</h4>
        <p>Dan asks: I have a downloaded directory of code that i received via zip file. I have a cloned version of the same app from git. I want to compare if the two are the same. Is the best way to copy...</p>
        <p class="date">April 10, 2013</p>
      </figure>
    </div>
  </div>
</div>

