<div class="top">
  <div class="wrapper">
    <h2 id="fairhaven-header">Resources</h2>
  </div>
</div>
<div id="content" class="admin">
  <div class="wrapper">
    <div class="dark-content clearfix">
      <div id="fairhaven-content">
        <a href="http://fairhavencapital.com" id="fairhaven-link">Fairhaven Capital</a>
        <h3><%= t(".laptop-setup", :default => "Laptop Setup") %></h3>
        <p>If you're looking to get a good Ruby on Rails development environment installed on Mac OS X, install XCode (from a CD if you have it, otherwise <a href="http://developer.apple.com/technologies/tools/xcode.html">download it</a>), then edit your ~/.bashrc or ~/.zshenv:</p>
<pre><code>ruby -e "$(curl -fsSL https://gist.github.com/raw/323731/install_homebrew.rb)"
brew install postgres imagemagick redis git
bash < <( curl http://rvm.beginrescueend.com/releases/rvm-install-head )
rvm install 1.9.2-p136
rvm --default use 1.9.2
gem install bundler suspenders heroku
ssh-keygen
git config --global user.name "Your Name"
git config --global user.email "your_email@whatever.com"</code></pre>

        <h3><%= t(".accounts", :default => "Accounts") %></h3>
        <p>If you don't already have them, please create <a href="http://github.com">Github</a> and <a href="http://heroku.com">Heroku</a> accounts.</p>

        <h3><%= t(".new-app", :default => "Create a New Rails App") %></h3>
        <p>Here's how to create a Rails app with thoughtbot's standards included, then deploy it to Heroku:</p>
<pre><code>suspenders create my-app
cd my-app
heroku create
git push heroku master
</code></pre>

        <h3><%= t(".brushing-up", :default => "Brushing Up") %></h3>
        <p>The more the class is familiar with the enabling technologies of Ruby on Rails development and deployment, the more we can cover in the class. If you want to brush up on some of these technologies, here is a quick hit list.</p>
        <ul>
          <li><a href="http://gitimmersion.com/lab_03.html">Git Immersion</a>: It's a quick interactive tutorial on the git version control system.</li>
          <li><a href="http://diveintohtml5.org/">Dive Into HTML5</a>: It's a free, very detailed overview of HTML5.</li>
          <li><a href="http://www.amazon.com/Test-Driven-Development-Kent-Beck/dp/0321146530">Test-Driven Development: By Example</a>: The bible of TDD.</li>
        </ul>

        <h3><%= t(".reference", :default => "Reference") %></h3>
        <p>Have these by your side day-to-day, after the class, when you're developing and need to look something up.</p>

        <h4 class="reference"><%= t(".reference-rails", :default => "Ruby on Rails") %></h4>
        <ul>
          <li><a href="http://railsapi.com/doc/rails-v3.0.3/">Ruby on Rails API</a>: This version of the docs has a killer "fast search" feature.</li>
          <li><a href="http://guides.rubyonrails.org/">Ruby on Rails Guides</a>: When you need a quick refresher on routing, or what ActiveRecord's new syntax is, or how to send e-mail, go here.</li>
        </ul>

        <h4 class="reference"><%= t(".reference-sql", :default => "SQL") %></h4>
        <ul>
          <li><a href="http://www.cryer.co.uk/brian/sql/sql_crib_sheet.htm">SQL crib sheet</a>: The basics.</li>
          <li><a href="http://www.amazon.com/Cookbook-Cookbooks-OReilly-Anthony-Molinaro/dp/0596009763">SQL Cookbook</a>: Quick recipes for every major SQL situation.</li>
        </ul>

        <h4 class="reference"><%= t(".reference-testing", :default => "Testing") %></h4>
        <ul>
          <li><a href="http://relishapp.com/rspec/rspec-rails">rspec-rails</a>: Most important is model specs, mailer specs, and matchers.</li>
          <li><a href="http://www.amazon.com/xUnit-Test-Patterns-Refactoring-Code/dp/0131495054">xUnit Text Patterns</a>: All testing knowledge contained in one book.</li>
        </ul>

        <h3><%= t(".scaling-rails-outline", :default => "Scaling Rails Outline") %></h3>
        <p>Here's the plan. Subject to change on game day if the attending students want something slightly different.</p>

        <h4 class="reference"><%= t(".outline-day-one", :default => "Day One") %></h4>
        <p>Day One is focused on version control and automated testing, both important components of achieving a continuous deployment environment.</p>
        <ul>
          <li>Review of the many parts of Rails</li>
          <li>Review of TDD in a git development cycle</li>
          <li>Review of RSpec, Shoulda, and Factory Girl</li>
          <li>Workshop writing a photo app using Outside-In process with Cucumber and Capybara</li>
          <li>Javascript integration testing</li>
        </ul>

        <h4 class="reference"><%= t(".outline-day-two", :default => "Day Two") %></h4>
        <p>Day Two is focused on the performance of your production Rails app and scaling it as traffic and users increase.</p>
        <ul>
          <li>When the cloud works and when it doesn't</li>
          <li>Metrics and monitoring</li>
          <li>Relational database strategies</li>
          <li>Background processes</li>
          <li>HTTP caching</li>
          <li>NoSQL options</li>
      </div>
    </div>
  </div>
</div>
