<form class="learn-search">
  <div class="search-bar">
    <input type="text" placeholder="What do you want to learn?" />
    <a href="#" class="search"><img src="/assets/icons/search.png" /></a>
    <a href="#" class="clear-search"><img src="/assets/icons/clear_search.png" /></a>
  </div>

  <section class="popular">
  <!-- <h3>Try these popular topics</h3> -->
    <ul>
      <li><a href="#">ruby</a></li>
      <li><a href="#">rails</a></li>
      <li><a href="#">design</a></li>
      <li><a href="#">open source</a></li>
      <li><a href="#">testing</a></li>
      <li><a href="#">ruby on rails</a></li>
      <li><a href="#">how to</a></li>
      <li><a href="#">hoptoad</a></li>
      <li><a href="#">shoulda</a></li>
      <li><a href="#">paperclip</a></li>
      <li><a href="#">vim</a></li>
      <li><a href="#">this week in open source</a></li>
      <li><a href="#">boston</a></li>
      <li><a href="#">clearance</a></li>
      <li><a href="#">development</a></li>
      <li><a href="#">web design</a></li>
      <li><a href="#">javascript</a></li>
      <li><a href="#">tdd</a></li>
      <li><a href="#">github</a></li>
    </ul>
  </section>
</form>

<section id="results-container">
  <section id="results">
    <ul>
      <% @books.each_with_index do |product, index| %>
        <%= content_tag_for :li, product, class: "books" do %>
          <% if index == 0 %>
            <h2>Books</h2>
          <% end %>
          <%= link_to product_path(product) do %>
            <h3><%= product.name %></h3>
            <p><%= product.short_description %></p>
          <% end %>
        <% end %>
      <% end %>
      <% @screencasts.each_with_index do |product, index| %>
        <%= content_tag_for :li, product, class: "webcasts" do %>
          <% if index == 0 %>
            <h2>Webcasts</h2>
          <% end %>
          <%= link_to product_path(product) do %>
            <h3><%= product.name %></h3>
            <p><%= product.short_description %></p>
          <% end %>
        <% end %>
      <% end %>
      <% @courses.each_with_index do |course, index| %>
        <%= content_tag_for :li, course, class: "workshops" do %>
          <% if index == 0 %>
            <h2>Workshops</h2>
          <% end %>
          <%= link_to course_path(course) do %>
            <h3><%= course.name %></h3>
            <p><%= course.short_description %></p>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </section>
</section>

<section class="additional-results">
  <ul>
    <%= render @articles %>
  </ul>
  <a href="#" class="more-button">Load more results</a>
</section>
