<% content_for :page_header do %>
<section id="head-wrapper">
  <section id="homepage-top">
    <header>
      <h1><a href="/">thoughtbot workshops</a></h1>
    </header>
  </section>
</section>
<% end %>

<!-- CODE SECTION -->

<section>
  <article id="code">
    <h2>Code</h2>
    <p>Download the code to <strong><a href="https://thoughtbot_workshops.s3.amazonaws.com/code/shouter.zip">Shouter</a></strong>, the app we built together in class, to study later.</p>
  </article>

  <article>
    <h2>Slides</h2>
    <p>Download the <strong><a href="https://thoughtbot_workshops.s3.amazonaws.com/slides/intro_ruby.zip">Intro Ruby</a></strong> and <strong><a href="https://thoughtbot_workshops.s3.amazonaws.com/slides/intro_rails.zip">Intro Rails</a></strong> slides to study later:</p>

    <p>You can either read the raw Markdown files or run the slides to view them in a browser. To run them, follow these instructions:</p>
    <pre>
        <code>gem install showoff
        cd slide-folder
        showoff serve</code></pre>
  </article>
</section>

<!-- LAPTOP SETUP SECTION -->

<section>
  <article id="laptop-setup">
    <h2><%= t(".laptop-setup", :default => "Laptop Setup") %></h2>
    <p>If you're looking to get a good Ruby on Rails development environment installed on Mac OS X, install XCode (from a CD if you have it, otherwise <a href="http://developer.apple.com/technologies/tools/xcode.html">download it</a>), then edit your ~/.bashrc or ~/.zshenv:</p>

    <pre>
        <code>ruby -e "$(curl -fsSL https://gist.github.com/raw/323731/install_homebrew.rb)"
        brew install imagemagick redis git
        brew install postgres --no-python
        bash < <( curl http://rvm.beginrescueend.com/releases/rvm-install-head )
        rvm install 1.9.2-p180
        rvm --default use 1.9.2-p180
        gem install bundler taps thin heroku
        ssh-keygen
        git config --global user.name "Your Name"
        git config --global user.email "your_email@whatever.com"</code></pre>
  </article>

  <article id="accounts">
    <h2><%= t(".accounts", :default => "Accounts") %></h2>
    <p>You should have <a href="http://github.com">Github</a> and <a href="http://heroku.com">Heroku</a> accounts.</p>
  </article>
</section>

<!-- BRUSHING UP SECTION -->

<section class="no-border">
  <article id="tutorials">
    <h2><%= t(".tutorials", :default => "Tutorials") %></h2>
    <p>We recommend these tutorials.</p>
    <ul>
      <li>
        <a href="http://gitimmersion.com/lab_03.html">Git Immersion</a>: It's a quick interactive tutorial on the git version control system.
      </li>
      <li>
        <a href="http://diveintohtml5.org/">Dive Into HTML5</a>: It's a free, very detailed overview of HTML5.
      </li>
      <li>
        <a href="http://www.amazon.com/Test-Driven-Development-Kent-Beck/dp/0321146530">Test-Driven Development: By Example</a>: The bible of TDD.
      </li>
    </ul>
  </article>

  <article>
    <h2><%= t(".reference", :default => "Reference") %></h2>
    <p>Have these by your side day-to-day, after the class, when you're developing and need to look something up.</p>
  </article>

  <article>
    <h2 class="reference"><%= t(".reference-rails", :default => "Ruby on Rails") %></h3>
    <ul>
      <li>
        <a href="http://railsapi.com/doc/rails-v3.0.3/">Ruby on Rails API</a>: This version of the docs has a killer "fast search" feature.
      </li>
      <li>
        <a href="http://guides.rubyonrails.org/">Ruby on Rails Guides</a>: When you need a quick refresher on routing, or what ActiveRecord's new syntax is, or how to send e-mail, go here.
      </li>
    </ul>
  </article>

  <article>
    <h2 class="reference"><%= t(".reference-sql", :default => "SQL") %></h3>
    <ul>
      <li>
        <a href="http://www.cryer.co.uk/brian/sql/sql_crib_sheet.htm">SQL crib sheet</a>: The basics.
      </li>
      <li>
        <a href="http://www.amazon.com/Cookbook-Cookbooks-OReilly-Anthony-Molinaro/dp/0596009763">SQL Cookbook</a>: Quick recipes for every major SQL situation.
      </li>
    </ul>
  </article>
</section>
