<%= content_for(:page_title, t(".page_title")) %>

<main>
  <section class="hero background background--upcase-logo-light background--dark-gradient-cover-top-half">
    <%= inline_svg_tag("welcome/upcase-logo--hero.svg") %>

    <h1 class="hero__tagline">
      <%= t(".hero_tagline") %>
    </h1>

    <h2 class="hero__uvp">
      <%= t(".hero_uvp_html") %>
    </h2>

    <%= link_to(
      t(".hero_call_to_action"),
      practice_path,
      class: "button button--large button--on-dark"
    )%>
  </section>

  <section class="page-section">
    <div class="page-content page-content--interstitial">
      <div class="card card--narrow">
        <div class="card__content">
          <p class="card__copy card__copy--centered">
            <mark>Join our community of motivated peers</mark> and
            receive mentorship from the best in the business.
          </p>
          <p>
            <%= image_tag "marketing/many-faces.png" %>
          </p>
          <p class="card__copy card__copy--centered">
          Listen to their stories on our
            <a href="https://bikeshed.thoughtbot.com">podcast.</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="page-content">
      <h2 class="page-content__heading">
        <%= t(".content.heading") %>
      </h2>

      <p class="page-content__intro">
        <%= t(".content.body_html") %>
      </p>

      <div class="flex-grid">
        <% LandingPageTopics.new.topics.each do |topic|  %>
          <%= link_to(
              topic.target,
              class: "card category-card
                category-card--#{topic.name.downcase.gsub(" ", "-")}"
            ) do %>

            <%= inline_svg_tag(
              "marketing/symbol-#{topic.name.downcase.gsub(" ","-")}.svg",
              class: "category-card__image",
            )
            %>

            <span class="category-card__title">
              <%= topic.name %>
            </span>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>

  <section class="page-section page-section--dark">
    <div class="page-content">
      <h2 class="page-content__heading">
        We asked an experienced developer how they demonstrate curiosity during
        the job hunt.
      </h2>

      <div class="conversation">
        <%= image_tag "marketing/conversation-upcase.png",
          class: "conversation__avatar" %>

        <div class="conversation__bubble">
          <p>
            So let's say I've come straight out of a coding bootcamp, and joined
            a consultancy, or a startup. How do you show that you are curious and
            ready to learn?
          </p>
        </div>
      </div>

      <div class="conversation">
        <div class="conversation__bubble conversation__bubble--right">
          <p>
            When it comes time to interview, companies are going to be looking
            for that additional work. That's when I'll ramp up and spend some
            evenings and even weekends creating personal projects. They might not
            be the fanciest pieces...they might not be the next Facebook, but they
            are something that showcases the work that I'm capable of doing.
          <p>
        </div>

          <%= image_tag "marketing/conversation-avi.png",
            class: "conversation__avatar" %>
      </div>
    </div>

    <div class="page-content flex-grid">
      <%= link_to(
        "Join Our Community", practice_path, class: "button"
      )%>
    </div>
  </section>

  <section class="page-section background background--upcase-logo-dark">
    <div class="page-content flex-grid">
      <div class="card card--two-per-line">
        <div class="card__content">
          <span class="card__heading">
            Follow expert trails.
          </span>

          <p class="card__copy">
            Curated exercises set in a path of varying difficulty to teach you
            the full spectrum of skills needed to become an expert on a topic.
          </p>

          <%= image_tag "marketing/follow-expert-trails.png" %>
        </div>
      </div>

      <div class="card card--two-per-line">
        <div class="card__content">
          <span class="card__heading">
            Hundreds of videos and coding exercises
          </span>

          <p class="card__copy">
            Learn your way, with videos, code challenges, or flashcards on your
            mobile device.
          </p>

          <%= image_tag "marketing/new-videos-weekly.png" %>
        </div>
      </div>
    </div>

    <div class="page-content flex-grid">
      <%= link_to(
        "Start Learning Today", practice_path, class: "button"
      )%>
    </div>

  </section>

  <section class="page-section page-section--dark">
    <div class="page-content page-content--reading">
      <span class="testimonial testimonial--large">
        <p>
          thoughtbot provided the top-notch Ruby and Rails experience we needed
          to help drive major improvements to Code Climate. <strong>With Upcase,
          you can learn from some of the best in the business.</strong>
        </p>
      </span>

      <div class="media-object testimonial__person">
        <%= image_tag "marketing/testimonial-bryan.png" %>

        <span>
          <span class="testimonial__person--name">Bryan Helmkamp</span></br>
          CEO at Code Climate
        </span>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="page-content page-content--centered">
      <div class="selling-point">
        <%= inline_svg_tag(
          "marketing/icon-join-our-github.svg",
          class: "selling-point__image"
        )%>

        <strong class="selling-point__title">
          Join our Github
        </strong>

        <p>
          Join our GitHub team and watch us work on real apps (like this one!)
        </p>
      </div>

      <div class="selling-point">
        <%= inline_svg_tag(
          "marketing/icon-huge-forum.svg",
          class: "selling-point__image"
        )%>

        <strong class="selling-point__title">
          Huge Forum
        </strong>

        <p>
          Break out of your learning rut with help from thoughtbot developers
          in our forum.
        </p>
      </div>

      <div class="selling-point">
        <%= inline_svg_tag(
          "marketing/icon-master-vital-skills.svg",
          class: "selling-point__image"
        )%>

        <strong class="selling-point__title">
          Master Vital Skills
        </strong>

        <p>
          Master skills like Test Driven Development, even if you've tried and
          failed at it before.
        </p>
      </div>
    </div>
  </section>

  <section class="page-section page-section--split page-section--dark">
    <div class="page-section--split__column">
      <div class="page-content page-content--reading">
        <div class="testimonial">
          <p>
            Without doubt, Upcase was vital to my professional growth and
            <strong>led to my dream Rails job at thoughtbot.</strong>
          </p>

          <div class="media-object testimonial__person">
            <%= image_tag "marketing/testimonial-matt.png" %>

            <span>
              <span class="testimonial__person--name">Matt Sumner</span></br>
              Development Director at thoughtbot
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="page-section--split__column">
      <div class="page-content page-content--reading">
        <div class="testimonial">
          <p>
            Training with thoughtbot (who I consider to be the best developers
            in the world), and leveraging Upcase’s vital <strong>community of
            like minded peers has been invaluable for me.</strong>
          </p>

          <p>
            Skilling up in relative isolation in Australia, it provided the
            tools and support for me <strong>to land my first Rails job and
            flourish there.</strong>
          </p>

          <div class="media-object testimonial__person">
            <%= image_tag "marketing/testimonial-ralph.png" %>

            <span>
              <span class="testimonial__person--name">Ralph White</span></br>
              Developer at postinvoice.com
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
