<% content_for :additional_body_classes, "landing" %>

<section class="hero tall-hero">
  <div class="landing-container">
    <img src="https://placeholdit.imgix.net/~text?txtsize=19&bg=1c334b&txtclr=ffffff&txt=elevator%20pitch%20video&w=771&h=434" class="hero-video">

    <div class="hero-aside">
      <h2 class="hero-title">Let&rsquo;s get that &ldquo;junior&rdquo; out of your title</h2>
      <p class="hero-body">Upcase turns junior Rails developers into ass-kicking
      name-takers. We're not a bootcamp, we're a finishing school.</p>
      <%= link_to "#price", class: "cta-button" do %>
        <%= image_tag("ralph-white.svg", class: "cta-button-logo") %>
        <span class="cta-button-text"><%= t("subscriptions.join_cta") %></span>
      <% end %>
    </div>
  </div>
</section>

<section class="centered-section">
  <div class="landing-container">
    <%= image_tag "upcase/testimonial_thumbs/bryan-helkamp.jpg", alt: "Bryan Helkamp", class: 'top-image' %>
    <blockquote>
      <p class="centered-section-callout">thoughtbot provided the top-notch
      Ruby and Rails experience we needed to help drive major improvements to
      Code Climate. <strong>With Upcase, you can learn from some of the best in
      the business.</strong></p>
      <cite>
        <span class="centered-section-quoter">Bryan Helmkamp, <a href="http://twitter.com/brynary">@brynary</a></span>
        <span class="centered-section-position">CEO at Code Climate</span>
      </cite>
    </blockquote>
  </div>
</section>

<section class="selling-point">
  <div class="landing-container">
    <h3 class="selling-point-title">The next-best thing to working at thoughtbot full-time</h3>

    <div class="selling-point-block">
      <%= image_tag "upcase/features/feature-sample.png", alt: "feature", class: "selling-point-image" %>

      <div class="selling-point-description">
        <p class="selling-point-body">Stop learning alone! Join our community
        of <strong>thousands of motivated peers</strong> and receive mentorship
      from the best in the business.</strong></p>

        <ul class="selling-point-body">
          <li>Master vital skills like <strong>TDD</strong>, even if you've tried and
          failed at it before.</li>
          <li>Break out of your learning rut with help from thoughtbot developers
          in our forum.</li>
          <li>Join our GitHub team and watch us work on real Rails apps
          (like this one!)</li>
          <li>Learn your way, with videos, code challenges, or flashcards.</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="centered-section">
  <div class="landing-container">
    <%= image_tag "upcase/testimonial_thumbs/ralph-wintle.png", alt: "Ralph Wintle", class: 'top-image' %>
    <blockquote>
      <p class="centered-section-callout">Training with thoughtbot (who I
      consider to be the best developers in the world), and leveraging Upcase’s
      vital <strong>community of like minded peers has been invaluable for
      me.</strong></p>

      <p class="centered-section-callout">Skilling up in relative isolation
      in Australia, it provided the tools and support for me <strong>to land my
      first Rails job and flourish there.</strong></p>

      <cite>
        <span class="centered-section-quoter">Ralph Wintle</span>
        <span class="centered-section-position">Developer at
          postinvoice.com</span>
      </cite>
    </blockquote>
  </div>
</section>

<div class="selling-point deconstructed">
  <div class="landing-container">
    <div class="selling-point-block">
      <div class="selling-point-description">
        <h3 class="selling-point-title">Learn the tools and techniques you've been meaning to</h3>
        <ul class="selling-point-body">
          <li>Are you <strong>TDD</strong>-ing your Rails apps yet? We'll show you how.</li>
          <li>Been putting off learning <strong>Vim</strong>, or struggling to get productive in it? We'll fix that.</li>
          <li>If your OO design chops could use some work, you're in luck.</li>
        </ul>
        <a href="#" class="selling-point-cta" data-role="table-of-contents-toggle">See What You'll Learn</a>
      </div>

      <%= image_tag "upcase/features/feature-sample.png", alt: "feature", class: "selling-point-image" %>
    </div>
  </div>
</div>

<section class="centered-section">
  <div class="landing-container">
    <%= image_tag "upcase/testimonial_thumbs/carlisia.jpg", alt: "Carlisia", class: 'top-image'  %>
    <blockquote>
      <p class="centered-section-callout">With how busy I am building software for a
      startup, Upcase is <strong>perfect to skill up between sprints and in
      small openings</strong> in my day, allowing me to consume exactly the
      content I need to <strong>grow professionally on my own
      schedule</strong>.</p>

      <cite>
        <span class="centered-section-quoter">carlisia@grokkingtech.io</span>
        <span class="centered-section-position">Senior Software Engineer at VerveMobile</span>
      </cite>
    </blockquote>
  </div>
</section>

<section class="centered-section">
  <div class="landing-container">
    <%= image_tag "upcase/testimonial_thumbs/matt-sumner.jpg", alt: "Matt", class: 'top-image'  %>
    <blockquote>
      <p class="centered-section-callout">Without doubt, Upcase was vital to my
      professional growth and <strong>led to my dream Rails job at
      thoughtbot</strong>.</p>

      <cite>
        <span class="centered-section-quoter">Matt Sumner</span>
        <span class="centered-section-position">Developer at thoughtbot</span>
      </cite>
    </blockquote>
  </div>
</section>

<section class="pricing" id="price">
  <header class="price-header">
    <h3>Subscribe to Upcase</h3>
    <h4><sup>$</sup>29 <sub>per Month</sub></h4>
  </header>
  <section class="price-info">
    <div class="price-description">
      <h5>Join the Upcase Community</h5>
      <p>For aspiring senior developers looking for battle-tested best
      practices, a killer community, and an awesome future.</p>
      <%= render "subscriptions/octocat.svg" %>
      <%= link_to github_auth_path, :class => "signup" do %>
        Auth with GitHub to get started
      <% end %>
      <%= render 'shared/flashes' %>      
    </div>
    <div class="price-includes">
      <h5>Includes</h5>
      <ul>
        <li>Access to our GitHub repos</li>
        <li>Coding exercises</li>
        <li>Video tutorials</li>
        <li>Community forum</li>
        <li>New videos every week</li>
        <li><strong>30 day money-back guarantee</strong></li>
      </ul>
    </div>
  </section>
</section>

<section class="testimonials">
  <div class="supporting-quotes">
    <div class="supporting-quote">
      <%= render 'subscriptions/testimonials/jhoman' %>
    </div>
    <div class="supporting-quote">
      <%= render 'subscriptions/testimonials/bgoldhaber' %>
    </div>
  </div>
</section>

