<%= content_for :additional_body_classes, 'prime-marketing' %>

<% if signed_in? %>
  <%= link_to 'account', my_account_path, class: 'prime-signin' %>
<% else %>
  <%= link_to 'sign in', sign_in_path, class: 'prime-signin' %>
<% end %>

<section class="journey-headline">
  <div class="logo">
    <h1>
      <%= image_tag('learn/learn-ralph.png') %>
    </h1>
  </div>
  <h1>Become an expert level Rails developer with <%= t('shared.subscription.name') %>. Learn from one of the most prolific and well respected Rails consultancies in the world.<br /><%= link_to t('subscriptions.join_cta'), new_subscription_path %></h1>
</section>

<section class="journey">
  <section class="pitch center">
    <article>
      <figure id="bullet-1" class="journey-bullet">1.</figure>
      <h2><span>Join <%= t('shared.subscription.name') %> to</span> Work with a mentor</h2>
      <p>thoughtbot mentors will hold calls with you once a month to discuss whatever you like: code review, landing your first Rails job, salary negotiation, etc.</p>
    </article>
    <figure class="supporting-visual mentors">
      <% Mentor.new.featured.each do |mentor| %>
        <div>
          <%= mentor_image(mentor) %>
          <p><strong>This is <%= mentor.first_name %></strong>. <%= mentor.bio %></p>
        </div>
      <% end %>
    </figure>
  </section>
  <section class="pitch left enroll">
    <article>
      <figure id="bullet-2" class="journey-bullet">2.</figure>
      <h2>Enroll in premium, hands-on workshops</h2>
      <p>Our workshops are more than just video tutorials. You&rsquo;ll build real apps and communicate directly with a thoughtbot developer or designer. Begin an online workshop as soon as you sign up.</p>
    </article>
    <figure class="supporting-visual two-stacked">
      <div>
        <h3>Online workshops</h3>
        <div class="figuregroup">
          <figure class="workshop-online product-card">
            <%= link_to '/workshops/21-intermediate-ruby-on-rails', title: 'The Intermediate Ruby on Rails online workshop details' do %>
              <h4>Intermediate Ruby on Rails</h4>
              <%= image_tag('workshop_thumbs/intermediate-ruby-on-rails-thumbnail.jpg') %>
              <h5>Online Workshop</h5>
              <p>Dig deeper into Ruby on Rails</p>
            <% end %>
          </figure>
          <figure class="workshop-online product-card">
            <%= link_to '/workshops/19-design-for-developers', title: 'The Design for Developers online workshop details' do %>
              <h4>Design for Developers</h4>
              <%= image_tag('workshop_thumbs/design-for-developers-thumbnail.jpg') %>
              <h5>Online Workshop</h5>
              <p>Get better at visual design and create something great</p>
            <% end %>
          </figure>
          <figure class="workshop-online product-card">
            <%= link_to '/workshops/20-intro-to-ruby-on-rails', title: 'The Intro to Ruby on Rails online workshop details' do %>
              <h4>Intro to Ruby on Rails</h4>
              <%= image_tag('workshop_thumbs/intro-to-ruby-on-rails-thumbnail.jpg') %>
              <h5>Online Workshop</h5>
              <p>Learn how to develop web applications using Ruby on Rails</p>
            <% end %>
          </figure>
        </div>
      </div>
      <div>
        <h3>&nbsp;</h3>
        <div class="figuregroup">
          <figure class="workshop-online product-card">
            <%= link_to '/workshops/22-hands-on-backbone-js-on-rails', title: 'The Hands-on Backbone.js on Rails online workshop details' do %>
              <h4>Hands-on Backbone.js on Rails</h4>
              <%= image_tag('workshop_thumbs/hands-on-backbone-js-on-rails-thumbnail.jpg') %>
              <h5>Online Workshop</h5>
              <p>Build snappier, more interactive apps with cleaner code in less time</p>
            <% end %>
          </figure>
          <figure class="workshop-online product-card">
            <%= link_to '/workshops/18-test-driven-rails', title: 'The Test Driven Rails online workshop details' do %>
              <h4>Test-Driven Rails</h4>
              <%= image_tag('workshop_thumbs/test-driven-rails-thumbnail.jpg') %>
              <h5>Online Workshop</h5>
              <p>Learn Test-Driven Development using RSpec and Capybara</p>
            <% end %>
          </figure>
        </div>
      </div>
    </figure>
  </section>
  <section class="pitch center">
    <article>
      <figure id="bullet-3" class="journey-bullet">3.</figure>
      <h2>Collaborate with thoughtbotters and other members</h2>
      <p>Don&rsquo;t develop alone, communicate with thoughtbotters and other motivated professionals. Ask questions about workshops, books, or personal projects. Join interesting conversations.</p>
    </article>
    <figure class="supporting-visual two-screenshot">
      <%= image_tag('learn/forum-2.jpg') %>
      <%= image_tag('learn/forum-1.jpg') %>
    </figure>
  </section>
  <section class="pitch left exclusive-content">
    <article>
      <figure id="bullet-4" class="journey-bullet">4.</figure>
      <h2>Keep up with regular, exclusive content</h2>
      <p>The Ruby community sets an amazing pace of innovation. It often feels like "best practices" have a shelf-life of a few months before being replaced by better ideas. Between Rails&rsquo; constant changes and a never-ending stream of new gems and philosophies, it’s a real challenge to keep up with the state of the art.</p>
      <p>Stay on top of it with our books, and screencasts on vim, development tools, and more.</p>
    </article>
    <figure class="supporting-visual two-stacked">
      <div>
        <h3>Screencasts</h3>
        <div class="figuregroup">
          <figure class="screencast product-card">
            <%= link_to '/products/5-hidden-secrets-of-the-chrome-developer-tools', title: 'The Hidden Secrets of the Chrome Developer Tools screencast details' do %>
              <figure>
                <%= image_tag('screencast_thumbs/secrets.jpg') %>
              </figure>
              <h5>Screencast</h5>
              <h4>Hidden Secrets of the Chrome Developer Tools</h4>
              <p>Speed up your day-to-day web development work</p>
            <% end %>
          </figure>
          <figure class="screencast product-card">
            <%= link_to '/products/6-humans-present-refactoring', title: 'The Humans Present: Refactoring screencast details' do %>
              <figure>
                <%= image_tag('screencast_thumbs/refactoring.jpg') %>
              </figure>
              <h5>Screencast</h5>
              <h4>Humans Present: Refactoring</h4>
              <p>Make Your Code Better</p>
            <% end %>
          </figure>
          <figure class="screencast product-card">
            <%= link_to '/products/17-the-art-of-vim', title: 'The Art of Vim screencast details' do %>
              <figure>
                <%= image_tag('screencast_thumbs/vim-for-rails.jpg') %>
              </figure>
              <h5>Screencast</h5>
              <h4>The Art of Vim</h4>
              <p>Create and edit your code more efficiently</p>
            <% end %>
          </figure>
        </div>
      </div>
      <div>
        <h3>Books</h3>
        <div class="figuregroup">
          <figure class="book product-card"><%= link_to image_tag('product_images/book/backbone-cover-large.png'), '/products/1-backbone-js-on-rails' %></figure>
          <figure class="book product-card"><%= link_to image_tag('product_images/book/playbook-cover-large.png'), '/products/3-the-playbook' %></figure>
          <figure class="book product-card"><%= link_to image_tag('product_images/book/rubyscience-cover-large.png'), '/products/13-ruby-science' %></figure>
        </div>
      </div>
    </figure>
  </section>
  <section class="pitch center final">
    <figure class="supporting-visual">
      <%= image_tag('learn/dashboard.jpg') %>
    </figure>
    <article>
      <figure id="bullet-5" class="journey-bullet">5.</figure>
      <h2>This is the closest thing to working at thoughtbot full-time</h2>
      <p>We’ve trained hundreds of developers and apprentices over the years, and have a great handle on what it takes to become and remain an expert-level Rubyist.</p>
      <p>With Learn <%= t('shared.subscription.name') %>, we’ve finally created a service that’s nearly as good as joining thoughtbot full time. If you’re a passionate developer serious about improving and maintaining your skills, we know you’ll get a ton of value out of the service.</p>
      <%= link_to new_subscription_path, class: 'prime-journey-cta' do %>
        <h2><%= t('subscriptions.join_cta') %></h2>
      <% end %>
      <p class="terms">No minimum subscription length &bull; Get your money back within 30 days if you're not satisfied</p>
    </article>
  </section>
  <div class="curtain"></div>
</section>

<footer class="links">
  <p>Learn more about <%= link_to 'thoughtbot', 'http://thoughtbot.com' %> &bull; <%= link_to 'About', 'http://thoughtbot.com/about' %> <%= link_to 'Blog', 'http://robots.thoughtbot.com' %> <%= link_to 'Podcast', 'http://thoughtbot.com/podcast' %> <%= link_to 'Privacy Policy', page_path('privacy') %> <%= link_to 'Terms & Conditions', page_path('terms') %></p>
  <p>&copy; 2012&ndash;2013 thoughtbot, inc. The design of a robot and thoughtbot are registered trademarks of thoughtbot, inc.</p>
</footer>
