<%= content_for :additional_body_classes, 'prime-marketing' %>

<section class="journey-headline">
  <div class="logo">
    <h1>
      <%= image_tag('learn/learn-ralph.png') %>
    </h1>
  </div>
  <h1>Start your journey to becoming a great ruby developer</h1>
  <a href="#" id="first-cta" class="prime-journey-cta">
    <p>subhead</p>
    <h2>Join Learn Prime</h2>
  </a>
</section>

<section class="journey">
  <section class="pitch center">
    <article>
      <figure id="bullet-1" class="journey-bullet"></figure>
      <h2>Join a community dedicated to your learning</h2>
      <p>Our growing community is a group of professionals dedicated to improving themselves, their code, and their personal projects.</p>
    </article>
    <figure class="supporting-visual profile">
      <figure class="mini-profile">
        <div class="images">
          <%= image_tag('http://www.gravatar.com/avatar/1eb7539f1f0a62f74ea3f7a0fa0f486f?s=500') %>
        </div>
        <figcaption>
          <h2>This is you</h2>
        </figcaption>
      </figure>
      <%= image_tag('http://placehold.it/500x330') %>
    </figure>
  </section>
  <section class="pitch left">
    <article>
      <figure id="bullet-2" class="journey-bullet"></figure>
      <h2>Enroll in hands-on premium workshops</h2>
      <p>Our workshops are more than just video tutorials. You'll build real apps and communicate <strong>directly</strong> with a thoughtbot developer.</p>
    </article>
    <figure class="supporting-visual two-stacked">
      <div>
        <h3>Online workshops</h3>
        <div class="figuregroup">
          <% 3.times do %>
            <figure class="workshop-online product-card">
              <h4>Intermediate Ruby on Rails</h4>
              <%= image_tag('http://placehold.it/225x120') %>
              <h5>Online Workshops</h5>
              <p>Dig deeper into Ruby on Rails</p>
              <p class="date">May 30&ndash;31, 2013</p>
            </figure>
          <% end %>
        </div>
      </div>
      <div>
        <h3>In-Person Workshops</h3>
        <div class="figuregroup">
          <% 3.times do %>
            <figure class="workshop-inperson product-card">
              <h4>Intro to Ruby on Rails</h4>
              <%= image_tag('http://placehold.it/225x120') %>
              <h5>In-Person Workshop</h5>
              <p>Learn the core of Ruby followed by how to develop applications using Rails</p>
              <p class="date">June 14&ndash;15, 2013</p>
            </figure>
          <% end %>
        </div>
      </div>
    </figure>
  </section>
  <section class="pitch center">
    <article>
      <figure id="bullet-3" class="journey-bullet"></figure>
      <h2>Collaborate with community members</h2>
      <p>The community is dedicated to helping you grow through knowledge sharing. Our discussion platform is staffed with thoughtbot developers to allow you to communicate directly with the experts.</p>
    </article>
    <figure class="supporting-visual two-screenshot">
      <%= image_tag('http://placehold.it/500x330') %>
      <%= image_tag('http://placehold.it/500x330') %>
    </figure>
  </section>
  <section class="pitch left">
    <article>
      <figure id="bullet-4" class="journey-bullet"></figure>
      <h2>Exclusive content weekly</h2>
      <p>Prime Bytes, our private blog, are published to your dashboard every week. Learn tips, tricks, and best practices. Read our books, published to you iteratively, and updated weekly. Learn vim, development tools, and more with our screencasts.</p>
    </article>
    <figure class="supporting-visual two-stacked">
      <div>
        <h3>Screencasts</h3>
        <div class="figuregroup">
          <% 3.times do %>
            <figure class="screencast product-card">
              <h4>Hidden Secrets of the Chrome Developer Tools</h4>
              <%= image_tag('http://placehold.it/225x120') %>
              <h5>Screencast</h5>
              <p>Dig deeper into Ruby on Rails</p>
            </figure>
          <% end %>
        </div>
      </div>
      <div>
        <h3>Books</h3>
        <div class="figuregroup">
          <figure class="book product-card"><%= image_tag('product_images/book/backbone-cover-large.png') %></figure>
          <figure class="book product-card"><%= image_tag('product_images/book/playbook-cover-large.png') %></figure>
          <figure class="book product-card"><%= image_tag('product_images/book/rubyscience-cover-large.png') %></figure>
        </div>
      </div>
    </figure>
  </section>
  <section class="pitch center final">
    <figure class="supporting-visual">
      <%= image_tag('http://placehold.it/440x430') %>
    </figure>
    <article>
      <figure id="bullet-5" class="journey-bullet"></figure>
      <h2>The journey doesn't end there...</h2>
      <p>We're focused on delivering continuous learning through community involvement, cutting-edge content, and teaching the latest in development practices.</p>
      <a href="#" class="prime-journey-cta">
        <p>subhead</p>
        <h2>Join Learn Prime</h2>
      </a>
    </article>
  </section>
  <div class="curtain"></div>
</section>

<section class="details">
  <h2>Here&rsquo;s what you get:</h2>
  <figure id="detail-figure">
    <%= image_tag('http://placehold.it/580x270') %>
    <figcaption>
      <hgroup>
        <h2>An entire online community</h2>
        <h3>Built on top of thoughbot's world-class learning products</h3>
      </hgroup>
      <ul>
        <li>Get help directly from thoughtbot developers</li>
        <li>Learn from workshop discussions</li>
        <li>Help others by responding to open topics</li>
      </ul>
    </figcaption>
  </figure>
  <div class="buffet">
    <div class="item">
      <hgroup>
        <h3>All our Workshops</h3>
        <h4>Online &amp; In-person</h4>
      </hgroup>
      <div class="figuregroup">
        <% 4.times do %>
          <figure class="workshop-online product-card">
            <h4>Intermediate Ruby on Rails</h4>
            <%= image_tag('http://placehold.it/225x120') %>
            <h5>Online Workshops</h5>
            <p>Dig deeper into Ruby on Rails</p>
            <p class="date">May 30&ndash;31, 2013</p>
          </figure>
        <% end %>
      </div>
    </div>
    <div class="item">
      <hgroup>
        <h3>Our Books</h3>
        <h4>Read, contribute, discuss</h4>
      </hgroup>
      <div class="figuregroup">
        <figure class="book product-card"><%= image_tag('product_images/book/backbone-cover-large.png') %></figure>
        <figure class="book product-card"><%= image_tag('product_images/book/playbook-cover-large.png') %></figure>
        <figure class="book product-card"><%= image_tag('product_images/book/rubyscience-cover-large.png') %></figure>
      </div>
    </div>
    <div class="item">
      <hgroup>
        <h3>Exclusive Screencasts</h3>
        <h4>Watch and discuss</h4>
      </hgroup>
      <div class="figuregroup">
        <% 4.times do %>
          <figure class="screencast product-card">
            <h4>Hidden Secrets of the Chrome Developer Tools</h4>
            <%= image_tag('http://placehold.it/225x120') %>
            <h5>Screencast</h5>
            <p>Dig deeper into Ruby on Rails</p>
          </figure>
        <% end %>
      </div>
    </div>
    <div class="item">
      <hgroup>
        <h3>Prime Bytes</h3>
        <h4>Read and deliberate</h4>
      </hgroup>
      <div class="figuregroup">
        <% 4.times do %>
          <figure class="byte product-card">
            <%= image_tag('http://placehold.it/275x300') %>
          </figure>
        <% end %>
      </div>
    </div>
  </div>
</section>

