<main>
  <%= render "pages/tapas/common_header" %>

  <section class="page-section">
    <section class="page-content">
      <h2 class="page-content__heading" id="individual-packages">
        Level up your Ruby game in 2017
      </h2>

      <p class="page-content__intro">
        Two great options, built for your budget.
      </p>

      <section class="tiers">
        <%= render "pages/tapas/tier_1" %>

        <%= render "pages/tapas/tier_2" %>
      </section>
    </section>
  </section>

  <section class="page-section page-section--dark">
    <section class="page-content page-content--centered">
      <h2 class="page-content__heading">
        Want to purchase for your team?
      </h2>

      <p class="page-content__intro">
        Knowledge is even more valuable when your teammates get it too. Having
        a shared vocabulary and tactics library can make good teams into great
        ones.
      </p>

      <p>
        <a href="/upcase/tapas-for-teams#team-packages" class="button">
          Check out packages for teams
        </a>
      </p>
    </section>
  </section>

  <%= render "pages/tapas/faq" %>
</main>

<%= render "pages/tapas/sale_timer" %>
