<div class="welcome-page">
  <h1><%= t("pages.welcome.headline") %></h1>

  <section>
    <h3>Don't get stuck</h3>

    <%= image_tag "welcome/help-widget.png", class: "help-widget-image" %>

    <div class="overview">
      <p>
        The most important thing for your learning is that you <strong>never get
          stuck</strong>. Stuck sucks.
      </p>

      <p>
        Stuck could mean you're having trouble completing an exercise. Or maybe
        you don't know what to study next.
      </p>

      <p><strong>Do not stay stuck. Ask for help.</strong></p>

      <p>
        Every page has a question mark in the bottom right hand corner. Use it
        liberally. We're here to help.
      </p>
    </div>
  </section>

  <section>
    <div class="flashcards-overview">
      <h3>You only need five minutes a day</h3>

      <p>
        You can become a noticeably-better programmer while you're commuting.
        Or drinking coffee. Or waiting for a train.
      </p>

      <p>
        Don't waste your down-time. Sign into Upcase on your phone and head to
        our <%= link_to "flashcards", decks_path, target: "_blank" %> area.
      </p>

      <p>
        Flashcards are quick, digestible, and will make you amazing at code
        review (and writing your own code, of course.)
      </p>

      <p>
        If this is the only Upcase feature you ever have time for, you'll still
        improve regularly.
      </p>
    </div>

    <%= link_to image_tag("welcome/quiz-screen.png", class: "quiz-image"),
      decks_path
    %>
  </section>

  <section>
    <div class="overview">
      <h3>More time == More progress</h3>

      <p>
        If you can dedicate a bit more time, you should check out
        <%= link_to "The Weekly Iteration", show_path("the-weekly-iteration") %>.
      </p>

      <p>
        The Weekly Iteration comes out every Friday (we'll email you). It's a
        10-20 minute show hosted by thoughtbotters.
      </p>

      <p>
        Topics include TDD, advanced Rails techniques, Vim, landing a Rails
        job, and how thoughtbot works.
      </p>
    </div>

    <%= link_to image_tag("welcome/ben-on-weekly-iteration.png", class: "ben-image"),
      show_path("the-weekly-iteration"),
      target: "_blank"
    %>
  </section>

  <section>
    <div class="overview">
      <h3>Trails: high effort. High reward.</h3>

      <p>
        Trails are the perfect thing to tackle on a Saturday or a wide-open
        evening when you're ready to write some code or watch longer videos.
      </p>

      <p>
        Some trails consist of videos, like our tmux trail. Others use our
        <strong> exercise system</strong>. In those, you'll clone down a git
        repo and <strong>write code on your own machine</strong>.
      </p>

      <p>
        Then, once your solution is complete, you'll <strong>push to our git
          server</strong> and <strong>see thoughtbot's featured
        solution</strong>.
      </p>
    </div>

    <%= link_to image_tag("welcome/trail.png", class: "trail-image"),
      trail_path("tmux"),
      target: "_blank"
    %>
  </section>

  <section>
    <div class="overview">
      <h3>Don't learn alone</h3>

      <p>
        Want to <strong>find someone to pair with?</strong> Need advice on
        <strong>great Vim plugins?</strong> How about getting <strong>expert
        opinions on a recent problem you tackled?</strong>
      </p>

      <p>
        Well, my friend, get yourself over to <%= link_to "our forum",
        forum_url %> and start a topic.
      </p>
    </div>

    <%= link_to image_tag("welcome/forum.png"), forum_url, target: "_blank" %>
  </section>

  <section>
    <h3>Start Now</h3>
    <p>

    <p>
      Click the link below to dismiss this page (you can come to it later via
      the header).
    </p>

    <p>
      Remember: <strong>the most important thing is to try something.</strong>
      Use the question mark in the bottom right if you feel like you don't know
      where to start.
    </p>

    <div id="complete-welcome-form">
      <%= form_tag(onboardings_path, id: "complete-welcome-form") do %>
        <%= submit_tag t("pages.welcome.complete-welcome") %>
      <% end %>
    </div>
  </section>
</div>
