<div class="welcome-page">
  <h2 class="welcome-page-title"><%= t("pages.welcome.headline") %></h2>

  <section>
    <div class="welcome-page-intro">
      <p>The…</p>
    </div>

    <div class="welcome-page-topics">
      <h3 class="welcome-page-topic-title">Dive into a topic:</h3>

      <div class="welcome-page-topics">
        <%= link_to "Ruby on Rails",
                    topic_path("rails"),
                    class: "welcome-page-topic welcome-page-topic-rails" %>
        <%= link_to "Learn Vim",
                    topic_path("vim"),
                    class: "welcome-page-topic welcome-page-topic-vim" %>
        <%= link_to "Ruby Testing",
                    topic_path("testing"),
                    class: "welcome-page-topic welcome-page-topic-testing" %>
        <%= link_to "Workflow",
                    topic_path("workflow"),
                    class: "welcome-page-topic welcome-page-topic-workflow" %>
      </div>
    </div>

    <div id="complete-welcome-form">
      <%= form_tag(onboardings_path, id: "complete-welcome-form") do %>
        <%= submit_tag t("pages.welcome.complete-welcome"),
            class: "secondary-button" %>
      <% end %>
    </div>
  </section>

  <section class="welcome-page-help">
    Not sure where to start? We're here to help! Just click the question mark in
    the bottom right corner.
  </section>
</div>
