<aside>
  <% if purchaseable.github_url? %>
    <section class="start-reading">
      <h3>Start reading</h3>
      <hr />
      <%= link_to epub_url(purchaseable), class: 'button' do %>
        Download as EPUB<br/>
        (iPhone, iPad &amp; Nook)
      <% end %>
      <%= link_to 'Download for Kindle', kindle_url(purchaseable), class: 'button' %>
      <%= link_to 'Download as PDF', pdf_url(purchaseable), class: 'button' %>
      <div class="readmill">
        <a
          class="send-to-readmill"
          href="https://readmill.com"
          data-download-url="<%= epub_url(purchaseable) %>"
          data-buy-url="<%= product_url(purchaseable) %>"
          data-display="small">
        </a>
        <span>to Readmill</span>
      </div>
      <%= link_to 'See all formats on GitHub &rarr;'.html_safe, book_releases_url(purchaseable), class: 'view-github' %>
    </section>
  <% end %>

  <%= render 'shared/sidebar_forum', purchaseable: purchaseable %>
</aside>
