<div class="breadcrumbs">
  <%= trail_breadcrumbs(trail) %>
</div>

<header>
  <% if trail.title_card_image.present? %>
    <div class="title-card">
      <%= image_tag trail.title_card_image %>
    </div>
  <% else %>
    <div class="topic-image">
      <%= link_to topic do %>
        <%= image_tag "topics/#{topic.slug}.svg" %>
      <% end %>
    </div>
  <% end %>

  <div class="topic-title">
    <h1><%= trail.name %></h1>

    <div class="trail-description">
      <h2 class="tagline">
        <%= format_markdown trail.description %>
      </h2>

      <% if trail.extended_description.present? %>
        <div class="extended-description">
          <%= format_markdown trail.extended_description %>
        </div>
      <% end %>
    </div>

    <% unless signed_in? %>
      <% trail.trial_video.present do |video| %>
        <%= link_to(
          video_auth_to_access_path(video),
          class: "cta-button subscribe-cta light-bg",
        ) do %>
          <%= image_tag("github-black.svg", class: "logo") %>
          <%= t("trails.start_for_free") %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</header>
