<div class="breadcrumbs">
  <%= trail_breadcrumbs(trail) %>
</div>

<header>
  <% if trail.title_card_image.present? %>
    <div class="title-card">
      <%= image_tag trail.title_card_image %>
    </div>
  <% else %>
    <div class="topic-image">
      <%= link_to topic do %>
        <%= image_tag "topics/#{topic.slug}.svg" %>
      <% end %>
    </div>
  <% end %>

  <div class="topic-title">
    <h1><%= trail.name %></h1>
    <p><%= format_markdown trail.description %></p>
    <%= link_to "#price", class: "cta-button" do %>
      <%= image_tag("github-white.svg", class: "logo") %>
      <%= t("subscriptions.join_cta") %>
    <% end %>
  </div>
</header>
