<div class="breadcrumbs">
  <%= trail_breadcrumbs(trail) %>
</div>

<header>
  <div class="topic-image">
    <%= link_to topic do %>
      <%= image_tag "topics/#{topic.slug}.svg" %>
    <% end %>
  </div>

  <div class="topic-title">
    <div class="trail-topic-name">
      <%= render topic %>
    </div>
    <h1><%= trail.name %></h1>
    <p><%= trail.description %></p>
  </div>
</header>
