<div class="breadcrumbs">
  <%= trail_breadcrumbs(trail) %>
</div>

<header class="trail-header">
  <% if trail.title_card_image? %>
    <div class="title-card">
      <%= image_tag trail.title_card_image %>
    </div>
  <% else %>
    <div class="topic-image">
      <%= link_to topic do %>
        <%= inline_svg_tag "topics/#{topic.slug}.svg" %>
      <% end %>
    </div>
  <% end %>

  <div>
    <h1 class="trail-title"><%= trail.name %></h1>

    <div class="trail-description">
      <%= format_markdown trail.description %>

      <% if trail.extended_description? %>
        <div class="extended-description">
          <%= format_markdown trail.extended_description %>
        </div>
      <% end %>
    </div>
  </div>
</header>
