<div class="breadcrumbs">
  <%= trail_breadcrumbs(trail) %>
</div>

<header>
  <div class="topic-image">
    <div class="video">
      <div class="video-wrapper">
          <iframe src="http://www.youtube.com/embed/8ItNE_DX6Cc?showinfo=0&iv_load_policy=3&controls=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="topic-title">
    <div class="trail-topic-name">
      <%= render topic %>
    </div>
    <h1><%= trail.name %></h1>
    <p><%= trail.description %></p>
    <%= link_to github_auth_path, class: 'cta-button' do %>
      <%= image_tag("github-white.svg", class: "github-logo") %>
      Start Course for Free
    <% end %>
  </div>
</header>
