<div class="breadcrumbs">
  <%= trail_breadcrumbs(trail) %>
</div>

<header>
  <div class="topic-image">
    <%= image_tag "topics/#{topic.slug}.svg" %>
  </div>

  <div class="topic-title">
    <h2><%= topic.name %></h2>
    <h1><%= trail.name %></h1>
    <p><%= trail.description %></p>
  </div>
</header>
