<div class="<%= trail.unstarted? ? "unstarted" : "started" %>">
  <section class="trail <%= topic_classes(trail.topics) %>">
    <header>
      <%= render trail.topics %>
      <h1>
        <%= link_to trail, trail %>
      </h1>
      <div class="description">
        <%= format_markdown trail.description %>
      </div>
      <%= render "practice/trail_description_tooltip", trail: trail %>
    </header>

    <div class="steps-and-start">
      <div class="completion-time">
        <%= completion_time(trail.time_to_complete) %>
      </div>

      <%= render "trails/step_dots", trail: trail %>

      <% if trail.steps.present? %>
        <%= trail_call_to_action(trail) %>
      <% end %>
    </div>
  </section>
</div>
