<div class="<%= trail.unstarted? ? "unstarted" : "started" %>">
  <section class="trail <%= topic_class(trail.topic) %>">
    <header>
      <span class="topic-label"><%= trail.topic %></span>
      <h1><%= link_to trail, trail %></h1>
      <p class="description"><%= trail.description %></p>
      <%= render "practice/trail_description_tooltip", trail: trail %>
    </header>

    <%= render "trails/step_dots", trail: trail %>

    <% if trail.exercises.present? %>
      <%= completeable_link trail.exercises.first.url, class: "start-trail" do %>
        Start trail
      <% end %>
    <% end %>
  </section>
</div>
