<div class="<%= trail.unstarted? ? "unstarted" : "started" %>">
  <section class="trail <%= topic_class(trail.topic) %>">
    <header>
      <%= link_to trail.topic do %>
        <span class="topic-label"><%= trail.topic %></span>
      <% end %>
      <h1><%= link_to trail, trail %></h1>
      <p class="description"><%= trail.description %></p>
      <%= render "practice/trail_description_tooltip", trail: trail %>
    </header>

    <%= render "trails/step_dots", trail: trail %>

    <% if trail.steps.present? %>
      <%= completeable_link url_for(trail.steps.first.completeable), class: "start-trail" do %>
        Start trail
      <% end %>
    <% end %>
  </section>
</div>
