<section class='trail-map-steps' data-name="<%= trail.name %>">
  <h2><%= step.name %></h2>
  <% if step.thoughtbot_resources_present? %>
    <h3><%= t('trails.thoughtbot_resources') %></h3>
    <ul class="learn">
      <%= render partial: 'trails/resource', collection: step.thoughtbot_resources %>
    </ul>
  <% end %>
  <% if step.resources_present? %>
    <h3><%= t('trails.other_resources') %></h3>
    <ul class="other">
      <%= render partial: 'trails/resource', collection: step.resources %>
    </ul>
  <% end %>
  <% if step.validations_present? %>
    <h3><%= t('trails.validations', name: step.name) %></h3>
    <ul>
      <%= render partial: 'trails/validation', collection: step.validations %>
    </ul>
  <% end %>
</section>
