<section class='trail-map-steps' data-name="<%= trail.name %>">
  <h2><%= step.name %></h2>
  <ul class="learn">
    <h3>Use these thoughtbot resources first</h3>
    <%= render partial: 'trails/resource', collection: step.thoughtbot_resources %>
  </ul>
  <% if step.resources.present? %>
    <h3>Use these additional resources for reference and additional practice</h3>
    <ul class="other">
      <%= render partial: 'trails/resource', collection: step.resources %>
    </ul>
  <% end %>
  <% if step.validations.present? %>
    <h3><%= step.name %> developers should be able to</h3>
    <ul>
      <%= render partial: 'trails/validation', collection: step.validations %>
    </ul>
  <% end %>
</section>
