<div class="new-trail">
  <section class="trail-info">
    <h2>Learn <%= trail.name %></h2>
    <% if trail.description? %>
      <p><em><%= trail.description %></em></p>
    <% end %>
  </section>

  <%= content_tag :section, class: 'steps-complete trails-progress' do %>
    <% trail = TrailWithProgress.new(trail, user: current_user) %>
    <% if trail.complete? %>
      <%= render "practice/just_finished_trail", trail: trail %>
    <% else %>
      <div class="started">
        <section class="trail">
          <%= render "trails/step_dots", trail: trail %>
        </section>
      </div>
    <% end %>
  <% end %>
</div>
