<% if trail.just_finished? %>
  <%= render "trails/just_finished_trail", trail: trail %>
<% else %>
  <div class="complete">
    <section class="trail <%= topic_classes(trail.topics) %>">
      <header>
        <%= render trail.topics %>
        <h1><%= link_to trail, trail %></h1>
        <p><%= trail.complete_text %></p>
      </header>

      <ul>
        <li class="step"><div class="dot"></div></li>
        <li class="step"><div class="dot"></div></li>
        <li class="step"><div class="dot"></div></li>
        <li class="step"><div class="dot"></div></li>
        <li class="step"><div class="dot"></div></li>
        <li class="step"><div class="dot"></div></li>
      </ul>

      <%= link_to "Revisit Trail", trail_path(trail), class: "revisit-trail" %>
    </section>
  </div>
<% end %>
