<% render "shared/content_specific_head_tags", content: @trail, type: "trail" %>

<% content_for :subject_block do %>
  <%= render "header", topic: @trail.topics.first, trail: @trail %>
<% end %>

<% if signed_in? %>
  <%= render "trails/progress", trail: @trail %>
  <%= render "trails/repositories", trail: @trail %>
<% end %>

<span class="divider">
  <h4 class="text">Exercises</h4>
</span>

<div class="exercises-and-teachers">
  <%= render "trails/exercises", trail: @trail %>
  <%= render "trails/teachers", trail: @trail %>
</div>
