<article class="discount-offer">
    <h3>Stop. You can take <%=
    @cancellation_alternative.discount_percentage_vs_current_plan_annualized
    %>% off your Upcase subscription right now.</h3>

  <p>
    We understand you're thinking about canceling, but we really don't want
    to have to lock you out of all the great stuff we've got in the works.
  </p>

  <p>
    How about this instead: click the link below and we'll move you to a
    <strong>heavily-discounted</strong> annual plan. How heavy? How about
    <strong><%=
    @cancellation_alternative.discount_percentage_vs_current_plan_annualized
    %>% off?</strong>
  </p>

  <p>
    We'll bill you $<%= @cancellation_alternative.discount_plan_price %> today,
    and you won't have to pay another dime for an entire year. That's like
    getting all of Upcase for only $<%=
    @cancellation_alternative.discount_plan_price / 12 %> per month.
  </p>

  <p>
    This is a great choice if you <strong>don't have enough time</strong>
    for studying, or might not be writing Ruby for a while. There's no rush
    to get your money's worth, since you've got an entire year (plus we'll
    be adding some great stuff in that time).
  </p>

  <p>
    <%= button_to(
      t("subscriptions.accept_discounted_annual_subscription"),
      [:subscriber, :discount],
      class: "accept-offer"
    ) %>
  </p>

  <p class="billing-warning">
    You'll be billed $<%= @cancellation_alternative.discount_plan_price %>
  immediately, you awesome person you.
  </p>
</article>
