<figure class="exercise card <%= exercise.state.parameterize %>">
  <%= exercise_link exercise.url, title: exercise.title do %>
    <h5>
      <%= t(
        exercise.state.parameterize,
        scope: [:exercises, :statuses]
      ) %>
    </h5>
    <figure>
      <div class="illustration"></div>
    </figure>
    <h4><%= exercise.title %></h4>
    <p><%= exercise.summary %></p>
  <% end %>

  <% unless current_user_has_access_to?(:exercises) %>
    <%= render "dashboards/locked" %>
  <% end %>
</figure>
