<section class="plans footer">
  <div class="inner">
    <div class="logo">
      <h1><%= image_tag('learn/learn-ralph.png') %></h1>
      <h2>Get access to Learn</h2>
    </div>

    <% @plans.each do |plan| %>
      <section class="plan <%= popular(plan) %>">
        <h3><%= formatted_name(plan) %></h3>
        <p><%= plan.short_description %></p>
        <div class="price"><%= individual_price_per_month(plan) %></div>
        <%= choose_plan_link(plan) %>
      </section>
    <% end %>

  </div>
</section>
