<section class="plan-features">
  <div class="inner">
    <article id="personal_coach">
      <header>
        <h3>Personal Coach</h3>

        <div class="included-in">
          <div class="true">
            <%= image_tag("pricing-check.svg") %>
          </div>

          <% 3.times do %>
            <div class="false">
              <%= image_tag("pricing-x.svg") %>
            </div>
          <% end %>
        </div>
      </header>

      <h4>Get unadulturated access to one-on-one communication with a thoughtbot developer.</h4>
      <p>You will be assigned an experienced thoughtbot developer, your personal coach, who will coach you one-on-one for 30 mins each month in a video chat.</p>
      <p>Dicussion topics are up to you, focusing on whatever you like: getting that first Rails position, salary negotiation, a specific problem in a side-project, etc.</p>
    </article>

    <article id="coding_exercises">
      <header>
        <h3>Coding Exercises</h3>

        <div class="included-in">
          <% 2.times do %>
            <div class="true">
              <%= image_tag("pricing-check.svg") %>
            </div>
          <% end %>

          <% 2.times do %>
            <div class="false">
              <%= image_tag("pricing-x.svg") %>
            </div>
          <% end %>
        </div>
      </header>
      <h4>The ultimate way to sharpen your development skills, custom crafted by thoughtbot.</h4>
      <p>Submit your exercise solutions to be reviewed by thoughtbot and other subscribers.</p>

      <p>You complete these exercises on your own computer, using the editor and tools you already know. Our Git-based system gives you own clone to work in and push your solution to.</p>

      <p>Once you submit your solution you can review other subscribers' solutions and have your solution reviewed by others. We've built a custom interface for collaborative solution review.</p>
    </article>

    <article id="ebooks">
      <header>
        <h3>Premium eBooks</h3>

        <div class="included-in">
          <% 2.times do %>
            <div class="true">
              <%= image_tag("pricing-check.svg") %>
            </div>
          <% end %>

          <% 2.times do %>
            <div class="false">
              <%= image_tag("pricing-x.svg") %>
            </div>
          <% end %>
        </div>
      </header>
      <h4>Valued at over $150 &ndash; you get full access to all 4 of our premium eBooks.</h4>
      <p>Only available on Upcase, and we offer them in Kindle, PDF, and EPub formats. We add you to each book's GitHub repo so you can stay up-to-date on changes.</p>
      <p>You'll get full access to:</p>
      <ul>
        <% catalog.books.each do |book| %>
          <li><%= link_to book.name, book %></li>
        <% end %>
      </ul>
    </article>

    <article id="app_source_code">
      <header>
        <h3>App Source Code</h3>

        <div class="included-in">
          <% 2.times do %>
            <div class="true">
              <%= image_tag("pricing-check.svg") %>
            </div>
          <% end %>

          <% 2.times do %>
            <div class="false">
              <%= image_tag("pricing-x.svg") %>
            </div>
          <% end %>
        </div>
      </header>
      <h4>See what a real-world, complex, fully tested production application looks like.</h4>
      <p>As a subscriber, you have access to the source code of Upcase, this application. Clone it, disect it, and follow code reviews.</p>

      <p>We've been working full-time on Upcase for more than a year, and we think it's a good example of a large app with great code. Upcase has extensive test coverage, a full implementation of SaaS billing with Stripe, and serves as an OAuth endpoint for our Discourse forum, among other things. We encourage you to make changes and participate in pull request discussions.</p>
    </article>

    <article id="video_tutorials">
      <header>
        <h3>Video Tutorials</h3>

        <div class="included-in">
          <% 3.times do %>
            <div class="true">
              <%= image_tag("pricing-check.svg") %>
            </div>
          <% end %>

          <div class="false">
            <%= image_tag("pricing-x.svg") %>
          </div>
        </div>
      </header>
      <h4>The best way to learn is to do.</h4>
      <p>In each video tutorial, a thoughtbot subject-matter expert takes you deep within a topic during several hours of detailed videos. You follow along by coding the related exercises on your own time. Your instructor answers all your questions in a chat room each week.</p>

      <p>We offer the following full-length video tutorials, and additional videos are added regularly:</p>

      <ul>
        <% catalog.video_tutorials.each do |video_tutorial| %>
          <li><%= link_to video_tutorial.name, video_tutorial %></li>
        <% end %>
      </ul>
    </article>

    <article id="office_hours">
      <header>
        <h3>Office Hours</h3>

        <div class="included-in">
          <% 3.times do %>
            <div class="true">
              <%= image_tag("pricing-check.svg") %>
            </div>
          <% end %>

          <div class="false">
            <%= image_tag("pricing-x.svg") %>
          </div>
        </div>
      </header>
      <h4>Get help each week from thoughtbot developers and designers.</h4>
      <p>Every Friday, thoughtbot developers and designers join a Campfire chat
      and make themselves available to answer your questions. Live help is
      available during the following times:</p>
      <ul>
        <li>10:30am-11:30am Central European Time</li>
        <li>10:30am-11:30am Eastern Time</li>
        <li>4:00pm-5:00pm Pacific Time</li>
      </ul>
      <p>Each session is staffed by a developer and designer.</p>
    </article>

    <article id="community_forum">
      <header>
        <h3>Community Forum</h3>

        <div class="included-in">
          <% 3.times do %>
            <div class="true">
              <%= image_tag("pricing-check.svg") %>
            </div>
          <% end %>

          <div class="false">
            <%= image_tag("pricing-x.svg") %>
          </div>
        </div>
      </header>
      <h4>Don’t develop alone, post questions to thoughtbotters and other subscribers.</h4>
      <p>Get in depth answers to questions you have about unfamiliar development topics, your personal projects, and our video tutorials and books.</p>
      <p>Or deeply learn a topic by teaching it to another person on the forum. Subscribers often answer each others' questions.</p>
      <p>Thoughtbotters browse and use the forum regularly, and new content is posted every day &mdash; we've even organized programming exercises and group challenges through the forum.</p>
    </article>

    <article id="weekly_iteration">
      <header>
        <h3>Weekly Iteration</h3>

        <div class="included-in">
          <% 4.times do %>
            <div class="true">
              <%= image_tag("pricing-check.svg") %>
            </div>
          <% end %>
        </div>
      </header>
      <h4>The Weekly Iteration is a video show hosted by Ben Orenstein, released every Friday.</h4>
      <p>In each episode, Ben invites a thoughtbot developer to discuss topics chosen to make you a better programmer.</p>

      <p>The show covers topics like powerful refactoring techniques, improving your development environment, and mastering the finer points of TDD. And, importantly, it does so within 30 minutes.</p>

      <p>The short format of The Weekly Iteration focuses on the right topics that will quickly pay off with consistent effort. The concepts taught are very likely to stick.</p>
    </article>
  </div>
</section>
