<section class="plans">
  <div class="inner">
    <header class="audiance">
      <p></p>
      <p>Best for an active learner seeking 1-on-1 personal coaching.</p>
      <p class="popular">Best for an active learner seeking coding exercises and real feedback.</p>
      <p>Best for a <br>self-guided studier.</p>
      <p>Best for those with limited time.</p>
    </header>
    <nav class="features">
      <ol>
        <li>
          <a href="#">Personal coach</a>
        </li>
        <li>
          <a href="#">Coding exercises</a>
        </li>
        <li>
          <a href="#">Premium eBooks</a>
        </li>
        <li>
          <a href="#">App source code</a>
        </li>
        <li>
          <a href="#">Workshops</a>
        </li>
        <li>
          <a href="#">Office hours</a>
        </li>
        <li>
          <a href="#">Community forum</a>
        </li>
        <li>
          <a href="#">The Weekly Iteration</a>
        </li>
      </ol>
    </nav>

    <section class="plan">
      <h3>Personal Coaching</h3>
      <ol>
        <li class="check-lg"><%= image_tag("pricing-check-lg.svg") %></li>
        <% 7.times do %>
          <li><%= image_tag("pricing-check.svg") %></li>
        <% end %>
      </ol>
      <div class="price">$249 / month</div>
      <a href="#" class="sign-up">Sign up</a>
    </section>

    <section class="plan popular">
      <h3>Feedback Loop</h3>
      <ol>
        <li><%= image_tag("pricing-x.svg") %></li>
        <li class="check-lg"><%= image_tag("pricing-check-lg.svg") %></li>
        <% 6.times do %>
          <li><%= image_tag("pricing-check.svg") %></li>
        <% end %>
      </ol>
      <div class="price">$99 / month</div>
      <a href="#" class="sign-up">Sign up</a>
    </section>

    <section class="plan">
      <h3>Workshop-aholic</h3>
      <ol>
        <% 4.times do %>
          <li><%= image_tag("pricing-x.svg") %></li>
        <% end %>
        <li class="check-lg"><%= image_tag("pricing-check-lg.svg") %></li>
        <% 3.times do %>
          <li><%= image_tag("pricing-check.svg") %></li>
        <% end %>
      </ol>
      <div class="price">$49 / month</div>
      <a href="#" class="sign-up">Sign up</a>
    </section>

    <section class="plan">
      <h3>Watch and Learn</h3>
      <ol>
        <% 7.times do %>
          <li><%= image_tag("pricing-x.svg") %></li>
        <% end %>
        <li class="check-lg"><%= image_tag("pricing-check-lg.svg") %></li>
      </ol>
      <div class="price">$29 / month</div>
      <a href="#" class="sign-up">Sign up</a>
    </section>
  </div>
</section>
