<% if signed_in? %>
  <%= link_to 'account', my_account_path, class: 'prime-signin' %>
<% else %>
  <%= link_to 'sign in', sign_in_path, class: 'prime-signin' %>
<% end %>

<section class="journey-headline">
  <div class="logo">
    <h1>
      <%= image_tag('learn/learn-ralph.png') %>
    </h1>
  </div>
</section>

<section class="plans">
  <%= render @plans %>
  <%= render @team_plans %>
</section>
