<% content_for :page_title, "Plans and Pricing" %>

<% if signed_in? %>
  <%= link_to 'account', my_account_path, class: 'signin' %>
<% else %>
  <%= link_to 'sign in', sign_in_path, class: 'signin' %>
<% end %>

<%= link_to image_tag("upcase/upcase-header-logo-small-gray.svg"), root_path %>

<%= render 'plans', catalog: @catalog %>

<div class="footer-wrapper">
  <%= render 'promoted_catalogs/footer' %>
</div>
