<% content_for :subject_block do %>
  <header class="page-header">
    <h1 class="page-header__title">
      Join the Upcase Community
    </h1>

    <h4 class="page-header__tagline">
      <% if signed_in? %>
        <%= t("checkouts.one_step_away_authenticated", name: current_user.first_name) %>
      <% else %>
        <%= t("checkouts.one_step_away_anonymous") %>
      <% end %>
    </h2>
  </header>
<% end %>

<% content_for :additional_body_classes, @checkout.plan_name %>
<% content_for :page_title, "Subscribe to #{@checkout.plan_name}" %>

<div class="checkout-content">
  <div class="payment-form <%= auth_method_class(@checkout) %>">
    <%= render "checkouts/form", checkout: @checkout %>
    <div class="checkout-notes">
      <h3>thoughtbot no-hassle guarantee</h3>
      <p>If you don't love Upcase, just let us know within 30 days and we’ll refund your money. It’s as simple as that.</p>
    </div>
  </div>

  <aside>
    <h3>Why Upcase?</h3>
    <div class="upcase">
      <p class="notes">Join 1000s of developers racing towards their full potential with guidance from some of the best in the business.</p>
      <%= image_tag "thoughtbot-team.jpg", class: "team-image" %>
    </div>

    <ul class="upcase-features">
      <li>Peer &amp; expert feedback</li>
      <li>Video tutorials</li>
      <li>Coding exercises</li>
      <li>Access to our GitHub repos</li>
      <li>Community forum</li>
      <li>Flashcard decks</li>
      <li>New videos every week</li>
    </ul>
  </aside>
</div>

<% content_for :javascript do -%>
  <script type="text/javascript">
  // this identifies your website in the createToken call below
  Stripe.setPublishableKey('<%= STRIPE_API_PUBLISHABLE_KEY %>');

  function stripeResponseHandler(status, response) {
    if (response.error) {
      // re-enable the submit button
      $('fieldset.actions input').removeAttr("disabled");
      // show the errors on the form
      $(".payment-errors").html(response.error.message);
    } else {
      var form$ = $("#new_checkout");
      // token contains id, last4, and card type
      var token = response['id'];
      // insert the token into the form so it gets submitted to the server
      form$.append("<input type='hidden' name='checkout[stripe_token]' value='" + token + "' />");
      // and submit
      form$.get(0).submit();
    }
  }

  $(document).ready(function() {
    $("#new_checkout").submit(function(event) {
      $("input.github_username[required]").each(checkUsername);

      if($('li.error .github_username').length == 0) {
        // disable the submit button to prevent repeated clicks
        $('fieldset.actions input').prop("disabled", true);
        <% unless Rails.env.test? %>
          // createToken returns immediately
          // the supplied callback submits the form if there are no errors
          Stripe.createToken({
            number: $('.card-number').val(),
            cvc: $('.card-cvc').val(),
            exp_month: $('.card-expiry-month').val(),
            exp_year: $('.card-expiry-year').val()
          }, stripeResponseHandler);
          return false; // submit from callback
        <% end %>
      } else {
        return false;
      }
      return true;
    });
  });
  </script>
<% end %>
