<script src="https://checkout.stripe.com/checkout.js"></script>

<% content_for :additional_body_classes, "landing" %>

<section class="hero checkout tall-hero">
  <div class="landing-container">

    <div class="hero-center">
      <%= image_tag @github_user.avatar_url, class: 'avatar' %>
      <h2 class="hero-title">Hey <%= @github_user.name %>, welcome to the thoughtbot team!</h2>
    </div>
  </div>
</section>

<div class="centered-section">
  <div class="landing-container">
    <h3>Let's get started</h3>
    <p class="centered-section-text">We want to see you grow, and know how to
    make that happen. We offer a no-hassle money-back guarantee if you’re not
    happy with our lessons, community, and commitment to your future. Team
    discounts available <a href="">here</a>.</p>

    <%= link_to "#", class: "cta-button bottom-image" do %>
      <%= image_tag("ralph-white.svg", class: "cta-button-logo") %>
      <span class="cta-button-text">Pay with credit card</span>
    <% end %>
  </div>
</div>

<% content_for :javascript do %>
  <script>
    var submitToken = function(token) {
      $("#stripe_token").val(token.id);
      $(".payment-form").submit();
    };

    var handler = StripeCheckout.configure({
      key: 'pk_IUggbBONd079p5jCloGEijOFRBDnq',
      image: 'https://s3.amazonaws.com/stripe-uploads/ZZmGCK8MYKr0FHOuop7OzJe7Spmxk7nrmerchant-icon-1415719897983-twitter-icon-2-2.png',
      token: submitToken
    });

    $('.cta-button').on('click', function(e) {
      handler.open({
        name: 'Upcase',
        description: 'Monthly Subscription',
        amount: <%= Plan.popular.price_in_dollars * 100 %>,
        email: "<%= current_user.email %>",
        allowRememberMe: false,
        panelLabel: "Subscribe for {{amount}}"
      });
      e.preventDefault();
    });

    $(window).on('popstate', function() {
      handler.close();
    });
  </script>
<% end %>

<%= form_tag signups_path, class: "payment-form" do %>
  <%= hidden_field_tag "stripe_token" %>
<% end %>
