<%= content_tag_for :figure, screencast, class: "thumbnail product-card #{screencast_collection_class(screencast)}" do %>
  <%= link_to screencast_path(screencast), title: screencast.name do %>
    <figure>
      <%= image_tag(screencast.product_image.url) %>
      <span><%= screencast.tagline %></span>
    </figure>
    <h5>Screencast <%= screecast_video_count(screencast) %></h5>
    <h4><%= screencast.name %></h4>
  <% end %>
<% end %>
