<% content_for :additional_content_classes, 'fullscreen' %>

<% content_for :subject_block do %>
  <h1><%= @offering.name %></h1>
  <h2 class="tagline">
    <% if @offering.collection? %>
      Watch or download videos,
      <%= pluralize @offering.published_videos.size, 'video' %> in the series.
    <% else %>
      Watch or download video
    <% end %>
  </h2>
<% end %>

<% if @offering.collection? %>
  <div class="text-box-wrapper">
    <div class="text-box">
      <section id="videos">
        <%= render @offering.published_videos.ordered, license: @license %>
      </section>
    </div>
  </div>
<% else %>
  <%= render 'videos/watch_video', video: @offering.published_videos.first, license: @license %>
<% end %>

<%= render 'screencasts/aside', offering: @offering, license: @license %>
