<figure class="tile weekly-iteration <%= topic_slugs(video) %>">
  <%= link_to video, title: video.name do %>
    <h1><%= video.name %></h1>
    <%= render video.teachers %>
    <h3 class="teacher-names"><%= teacher_names(video.teachers) %></h3>
    <p class="description">
      <%= truncate_html(video.summary_or_notes, length: 250) %>
    </p>
  <% end %>
</figure>
