<div class="page-header media-object">
  <div>
    <h1 class="page-header__title"><%= t(".title") %></h1>
    <h4 class="page-header__tagline"><%= t(".tagline") %></h4>
  </div>
  <div class="search-topics">
    <h3 class="search-section-title"><%= t(".topics_title") %></h3>
    <%= render @topics %>
  </div>
</div>

<div class="search-form-container">

  <h3 class="search-section-title"><%= t(".keywords_title") %></h3>
  <%= form_tag search_path, class: "searches-form" do |form| %>
    <fieldset>
      <%= text_field_tag :query, @query, placeholder: t(".placeholder") %>
      <%= submit_tag t(".submit") %>
    </fieldset>
  <% end %>

  <% if @results.any? %>
    <span class="divider">
      <h4 class="text"><%= t(".legend_title") %></h4>
    </span>

    <p class="search-legend">
      <span class="search-icon"><%= fa_icon "film", text: t(".video_legend_text"), title: t(".video_legend_title") %></span>
      <span class="search-icon"><%= fa_icon "road", text: t(".trail_legend_text"), title: t(".trail_legend_title") %></span>
      <span class="search-icon"><%= fa_icon "files-o", text: t(".flashcard_legend_text"), title: t(".flashcard_legend_text") %></span>
    </p>

    <span class="divider">
      <h4 class="text"><%= t(".results_title") %></h4>
    </span>

    <ul>
      <%= render @results %>
    </ul>
  <% else %>
    <% if @query.present? %>
      <p><%= t(".no_results") %> <em>“<%= @query %>”</em></p>
    <% end %>
  <% end %>
</div>
