<% content_for :additional_header_links do %>
  <% if current_user.has_subscription_with_mentor? %>
    <li class="mentor">
      <%= mentor_image(current_user.mentor) %>
      <%= link_to "View #{current_user.mentor.first_name}'s Availability", '#', target: '_target' %>
    </li>
  <% end %>
<% end %>

<section class="resources vertical-slider revealed">
  <%= render 'learn_repo' %>
  <%= render 'learn_live' %>
  <%= render 'forum' %>
  <%= render 'trails' %>
</section>

<section class="workshops vertical-slider revealed">
  <%= render 'trails' %>
  <%= render partial: 'products/workshop', collection: online_workshops %>
  <%= render partial: 'products/workshop', collection: in_person_workshops %>
</section>

<section class="screencasts vertical-slider revealed">
  <%= render partial: 'products/video', collection: videos %>
</section>

<section class="exercises vertical-slider revealed">
  <% 2.times do %>
  <figure class="exercise thumbnail product-card">
    <%= link_to '#', title: 'video name' do %>
      <figure>
        <p class="console-illustration">>_</p>
      </figure>
      <h5>Exercise</h5>
      <h4>Shakespeare Analyzer</h4>
      <p>Write a command-line program that prints the number of lines spoken by each character.</p>
    <% end %>
  </figure>
  <% end %>
</section>

<section class="reading vertical-slider revealed">
  <%= render partial: 'products/book', collection: books %>
</section>

<footer>
  <%= link_to forum_url, target: '_blank' do %>
    <span>Get answers from us, collaborate with other members &mdash; View the <%= t('shared.subscription.name') %> forum &rarr;</span>
  <% end %>
</footer>
