<%= render 'mentor_info' %>

<section class='resources vertical-slider revealed'>
  <%= render 'learn_repo' %>
  <%= render 'learn_live' %>
  <%= render 'forum' %>
  <%= render 'trails' %>
</section>

<% if current_user_has_access_to_workshops? %>
  <section class='workshops vertical-slider revealed'>
    <%= render partial: 'products/workshop', collection: @catalog.online_workshops %>
    <%= render partial: 'products/workshop', collection: @catalog.in_person_workshops %>
  </section>
<% else %>
  <section class='workshops vertical-slider revealed disabled'>
    <div class='disabled-text'>
      <h2>Workshops are locked &mdash; <%= link_to 'upgrade to Prime Workshops', edit_subscription_path %> to get access</h2>
      <%= link_to "See what you're missing", products_path %>
    </div>
  </section>
<% end %>

<section class='screencasts vertical-slider revealed'>
  <%= render @catalog.screencasts %>
</section>

<%= render 'exercises' %>

<section class='reading vertical-slider revealed'>
  <%= render @catalog.books %>
</section>
