<%= render 'mentor_info' %>
<% content_for :page_title, "Dashboard" %>

<section class="root-resources">
  <div class="content">
    <section class="resources">
      <%= render "upcase_repo" %>
      <%= render "forum" %>
      <%= render "trails" %>
    </section>
  </div>
</section>

<% if locked_features.any? %>
  <%= render "locked_features" %>
<% end %>

<section class="root-trails">
  <div class="content">
    <section class="trails-progress">
      <header class="dashboard-section-title">
        <h1>New Trails (Beta)</h1>
        <h2>
          These new trails are focused exercises targeting your interests. They
          help you learn by doing and keep your skillset sharp.
        </h2>
      </header>

      <%= render partial: "dashboards/trail", collection: @dashboard.trails %>

      <footer>
        <p>
          <%= link_to "/trails" do %>
            View all trails &rarr;
          <% end %>
        </p>

        <% if @dashboard.has_completed_trails? %>
          <p>
            <%= link_to completed_trails_path do %>
              View completed trails &rarr;
            <% end %>
          </p>
        <% end %>

        <% if analytics? %>
          <p>
            or
          </p>

          <p>
            <a href="#" class="trail-hint">Tell us which trails you'd like to see</a>
          </p>

          <% content_for :javascript do %>
            <script type="text/javascript">
              $(".trail-hint" ).click(function(event) {
                Intercom('show');
                event.preventDefault();
              });
            </script>
          <% end %>
        <% end %>
      </footer>
    </section>
  </div>
</section>

<section class="root-library">
  <div class="content">
    <header class="dashboard-section-title">
      <h1>Library</h1>
      <h2>Upcase's exclusive video tutorials and resources on intermediate and advanced topics such as Vim mastery, TDD, and object-oriented design.</h2>
    </header>

    <%= render partial: "dashboards/show", collection: @dashboard.shows %>
    <%= render partial: "dashboards/topic", collection: @dashboard.topics %>
  </div>
</section>
