<%= render 'mentor_info' %>

<section class="root-resources">
  <div class="content">
    <section class='resources'>
      <%= render 'upcase_repo' %>
      <%= render 'upcase_live' %>
      <%= render 'forum' %>
      <%= render 'trails' %>
    </section>
  </div>
</section>

<section class="root-trails">
  <div class="content">
    <%= render partial: "dashboards/trail", collection: @dashboard.trails %>
  </div>
</section>

<section class="root-library">
  <div class="content">
    <header class="dashboard-section-title">
      <h1>Library</h1>
      <h2>Upcase's exclusive video tutorials and resources on intermediate and advanced topics such as Vim mastery, TDD, and object-oriented design.</h2>
    </header>

      <%= render partial: "dashboards/show", collection: @dashboard.shows %>
      <%= render partial: "dashboards/topic", collection: @dashboard.topics %>
  </div>
</section>
