<%= render 'mentor_info' %>

<section class='resources'>
  <%= render 'learn_repo' %>
  <%= render 'learn_live' %>
  <%= render 'forum' %>
  <%= render 'trails' %>
</section>

<% if current_user_has_access_to?(:exercises) %>
  <p class="product-headline">Hone your skills by completing these exercises</p>
  <%= render 'products/exercises' %>
<% end %>

<% if current_user_has_access_to?(:workshops) %>
  <p class="product-headline">Enroll in our online workshops</p>
  <section class='workshops'>
    <%= render partial: 'products/workshop', collection: @catalog.workshops %>
  </section>
<% end %>

<% if !current_user_has_access_to?(:exercises) %>
  <section class='workshops disabled'>
    <div class='disabled-text'>
      <h2>
        <% if current_user_has_access_to?(:workshops) %>
          <%= t(
            '.no_exercises.title_html',
            link: link_to(t('.no_exercises.link'), edit_subscription_path)
          ) %>
        <% elsif current_user_has_access_to_shows? %>
          <%= t(
            '.no_workshops.title_html',
            link: link_to(t('.no_workshops.link'), edit_subscription_path)
          ) %>
        <% else %>
          <%= t(
            '.no_shows.title_html',
            link: link_to(t('.no_shows.link'), edit_subscription_path)
          ) %>
        <% end %>
      </h2>
    <%= link_to "See what you're missing", products_path %>
    </div>
  </section>
<% end %>

<% if current_user_has_access_to_shows? %>
  <p class="product-headline center">Watch our web shows and screencasts</p>
  <section class='shows'>
    <%= render @catalog.shows %>
  </section>
<% end %>

<% if current_user_has_access_to?(:screencasts) %>
  <section class='screencasts'>
    <%= render @catalog.screencasts %>
  </section>
<% end %>

<p class="product-headline">Read our eBooks to boost your knowledge</p>
<section class='reading'>
  <%= render @catalog.books %>
</section>
