<section class="workshops vertical-slider revealed">
  <figure class="meta product-card">
    <%= render 'mentor' %>
    <%= render 'trails' %>
  </figure>
  <%= render partial: 'products/workshop', collection: online_workshops %>
  <%= render partial: 'products/workshop', collection: in_person_workshops %>
</section>

<section class="screencasts vertical-slider revealed">
  <%= render partial: 'products/video', collection: videos %>
</section>

<section class="reading vertical-slider revealed">
  <%= render partial: 'products/book', collection: books %>
</section>

<footer>
  <%= link_to forum_url, target: '_blank' do %>
    <span>Get answers from us, collaborate with other members &mdash; View the <%= t('shared.subscription.name') %> forum &rarr;</span>
  <% end %>
</footer>
