<%= render 'mentor_info' %>

<section class='resources'>
  <%= render 'upcase_repo' %>
  <%= render 'upcase_live' %>
  <%= render 'forum' %>
  <%= render 'trails' %>
</section>

<% if locked_features.any? %>
  <%= render 'locked_features' %>
<% end %>

<%= render partial: "dashboards/show", collection: @dashboard.shows %>
<%= render partial: "dashboards/topic", collection: @dashboard.topics %>
