<%= render 'mentor_info' %>

<section class='resources vertical-slider revealed'>
  <%= render 'learn_repo' %>
  <%= render 'learn_live' %>
  <%= render 'forum' %>
  <%= render 'trails' %>
</section>

<section class='workshops vertical-slider revealed'>
  <%= render partial: 'products/workshop', collection: online_workshops %>
  <%= render partial: 'products/workshop', collection: in_person_workshops %>
</section>

<section class='screencasts vertical-slider revealed'>
  <%= render partial: 'products/video', collection: videos %>
</section>

<%= render 'exercises' %>

<section class='reading vertical-slider revealed'>
  <%= render partial: 'products/book', collection: books %>
</section>
