<div class="fields download">
<%=f.label :download%>
<div class="download_field">
<%= f.file_field :download %>
<% if (file = f.object).download_file_name? %>
  File name:  <span><%= file.display_name%></span>
  <%= link_to "link", "#{file.download.respond_to?(:expiring_url) ? file.download.expiring_url(300) : file.download.url}"%>
<% end %>
<%=link_to_remove_fields "remove", f %>
</div>
<%= f.label :description, "Download Description"%>
<%= f.text_field :description %>
</div>
