<%= semantic_form_for [:admin, product], html: { multipart: true } do |f| %>
  <%= f.inputs :name, :sku, :tagline, :call_to_action, :short_description, :description, 
    :individual_price, :company_price, :product_type, :active, :fulfillment_method, 
    :github_team, :github_url, :questions, :terms, :alternative_description %>
  <%= f.label :product_image %>
  <br/><%= f.file_field :product_image %>
  <%= image_tag(f.object.image_url) if f.object.persisted? %>
  <%= f.input :wistia_id, label: "Wistia Video ID"%>
  <h3> Downloads </h3>
  <%= f.fields_for :downloads do |builder| %>
    <%=render 'download_fields', f: builder %>
  <% end %>
  <div class='btn'><%=link_to_add_fields "Add a download", f, :downloads %></div>
  <%= f.actions %>
<% end %>
