<%= semantic_form_for [:admin, product], html: { multipart: true } do |f| %>
  <%= f.inputs %>
  <h3> Downloads </h3>
  <%= f.fields_for :downloads do |builder| %>
    <%=render 'download_fields', f: builder %>
  <% end %>
  <div class='btn'><%=link_to_add_fields "Add a download", f, :downloads %></div>
  <%= f.actions %>
<% end %>
