<% content_for :nav do -%>
  <ul>
    <li><%= link_to "Courses", admin_courses_path %></li>
    <li><%= link_to "Products", admin_products_path %></li>
  </ul>
  <%= link_to 'New Product', new_admin_product_path, :id => 'new-action' %>
<% end -%>

<% @products.each do |product| %>
  <%= div_for(product, :class => 'product-list cool-list') do %>
    <h3>
      <%= link_to edit_admin_product_path(product) do %>
        <%= product.name %>
      <% end %>
    </h3>
  <% end %>
<% end %>
