<%= content_tag_for(:li, course, class: (course.active? ? 'active' : 'inactive')) do %>
  <%= link_to course do %>
    <h3>
      <%= course.name %>
    </h3>
    <p class="teaser">
      <%= course.short_description %>
      <%= sections_as_sentence(course.active_sections) %>
    </p>
  <% end %>
<% end %>
