<%= content_tag_for(:li, course, class: (course.active? ? 'active' : 'inactive'), style: "background:url(#{course.image_url_for_inline_style})") do %>
  <%= link_to course do %>
    <h3>
      <%= course.name %>
    </h3>
    <% if course.active? %>
      <p class="date"><%= course.active_date_range %></p>
    <% end %>
    <p class="teaser"><%= course.short_description %></p>
  <% end %>
<% end %>
