<% form.inputs do %>
  <%= form.input :name, :label => 'Course Name' %>
  <%= form.input :description, :label => 'Course Description' %>
  <%= form.input :price, :wrapper_html => {:class => 'course-price-li'} %>
  <%= form.input :location_name, :label => 'Location Name' %>
  <%= form.input :location, :label => 'Location Address' %>
  <%= form.input :maximum_students, :label => 'Max Enrollment' %>
  <%= form.input :public %>
  <%= form.input :start_at, :as => :string %>
  <%= form.input :stop_at, :as => :string %>
<% end %>

<div id="resources-form" class="clearfix">
  <h3>Resources</h3>
  <ul>
    <% form.fields_for :resources, form.object.resources_with_blank do |resource_fields| -%>
      <li>
        <%= resource_fields.text_field :name,
                                       :placeholder => 'Resource Name',
                                       :class       => 'resource-name' %>
        <%= resource_fields.text_field :url,
                                       :placeholder => 'Resource Link',
                                       :class       => 'resource-link' %>
      </li>
    <% end -%>
  </ul>
  <a href="#" id="add-resource">Add Resource</a>
</div>

<div id="faq-form" class="clearfix">
  <h3>FAQ</h3>
  <ul>
    <% form.fields_for :questions, form.object.questions_with_blank do |question_fields| -%>
      <li>
        <%= question_fields.text_field :question, :placeholder => 'Question' %>
        <%= question_fields.text_area :answer, :placeholder => 'Answer' %>
      </li>
    <% end -%>
  </ul>
  <a href="#" id="add-question">Add Question</a>
</div>

<div id="follow-up-form" class="clearfix">
  <h3>Follow ups</h3>
  <ul>
    <% @course.follow_ups.each_with_index do |follow_up, index| %>
      <% form.fields_for(:follow_ups, follow_up) do |follow_up_fields| %>
        <% content_tag_for(:li, follow_up) do %>
          <%= follow_up_fields.text_field :email, :placeholder => 'Email address' %>
          <%= link_to '&#x2716;', [@course, follow_up], :method => :delete, :class => 'remove-followup' %>
        <% end %>
      <% end %>
    <% end %>
    <% form.fields_for :follow_ups, FollowUp.new do |follow_up_fields| -%>
      <li class='follow-up-email'>
        <%= follow_up_fields.text_field :email, :placeholder => 'Email address' %>
      </li>
    <% end -%>
  </ul>
  <a href="#" id="add-follow-up">Add Follow up</a>
</div>

<div id="terms-form">
  <ul><%= form.input :terms_of_service %></ul>
</div>

<div id="email-form">
  <ul><%= form.input :reminder_email %></ul>
</div>

<% content_for :javascript do -%>
  <script type="text/javascript">
    var templateField = function (fieldSelector, containerSelector, triggerSelector) {
      var template = $(fieldSelector).last().clone();
      var addBlank = function () {
        var clone = template.clone();
        var index = $(fieldSelector).length;
        $(clone).find('input, select, textarea').each(function () {
          var replacedAttrs = ['id', 'name'];
          for (var attrIndex in replacedAttrs) {
            var attr = replacedAttrs[attrIndex];
            if (this[attr]) {
              this[attr] = this[attr].replace(/\d+/, index);
            }
          }
        });
        $(containerSelector).append(clone);
        return false;
      };
      $(triggerSelector).click(addBlank);
    };

    templateField('#faq-form li', '#faq-form ul', '#add-question');
    templateField('#resources-form li', '#resources-form ul', '#add-resource');
    templateField('#follow-up-form li', '#follow-up-form ul', '#add-follow-up');
  </script>
<% end -%>
