<% form.inputs do %>
  <%= form.input :name, :label => 'Course Name' %>
  <%= form.input :description, :label => 'Course Description' %>
  <%= form.input :price, :wrapper_html => {:class => 'course-price-li'} %>
  <%= form.input :location_name, :label => 'Location Name' %>
  <%= form.input :location, :label => 'Location Address' %>
  <%= form.input :maximum_students, :label => 'Max Enrollment' %>
  <%= form.input :public %>
  <%= form.input :start_at, :as => :string %>
  <%= form.input :stop_at, :as => :string %>
<% end %>

<!--
<div id="resources-form" class="clearfix">
  <h3>Resources</h3>
  <ul>
    <li>
      <input type="text" placeholder="Resource Name" class="resource-name" />
      <input type="text" placeholder="Resource Link" class="resource-link" />
    </li>
  </ul>
  <a href="#" id="add-resource">Add Resource</a>
</div>
-->

<div id="faq-form" class="clearfix">
  <h3>FAQ</h3>
  <ul>
    <% form.fields_for :questions, form.object.questions_with_blank do |question_fields| -%>
      <li>
        <%= question_fields.text_field :question, :placeholder => 'Question' %>
        <%= question_fields.text_area :answer, :placeholder => 'Answer' %>
      </li>
    <% end -%>
  </ul>
  <a href="#" id="add-question">Add Question</a>
</div>

<div id="terms-form">
  <h3>Terms &amp; Conditions</h3>
  <ul><%= form.input :terms_of_service, :label => nil %></ul>
</div>

<div id="email-form">
  <h3>Reminder Email</h3>
  <ul><%= form.input :reminder_email, :label => nil %></ul>
</div>

<% content_for :javascript do -%>
  <script type="text/javascript">
    var questionTemplate = $('#faq-form li').last().clone();
    var addBlankQuestion = function () {
      var clone = questionTemplate.clone();
      var index = $('#faq-form li').length;
      $(clone).find('input, select, textarea').each(function () {
        var replacedAttrs = ['id', 'name'];
        for (var attrIndex in replacedAttrs) {
          var attr = replacedAttrs[attrIndex];
          if (this[attr]) {
            this[attr] = this[attr].replace(/\d+/, index);
          }
        }
      });
      $('#faq-form ul').append(clone);
      return false;
    };
    $('#add-question').click(addBlankQuestion);
  </script>
<% end -%>
