<section class="section-location">
  <h2><%= @course.audience.name %> <span><%= number_to_currency @course.price, precision: 0 %></span></h2>

  <div class="when">
    <h5>WHEN</h5>
    <p>
      TBD
    </p>
  </div>

  <div class="address">
    <h5>WHERE</h5>
    <p>
      <%= google_map_link_to("#{@course.location} #{@course.location_name}", id: 'location') do %>
        <%= @course.location %> <br> <%= @course.location_name %>
      <% end %>
    </p>
  </div>
  <div id="register">
    <a href="#new_follow_up" id="register-button">Get notified</a>
  </div>
</section>
