<% content_for :nav do -%>
  <ul>
    <li><%= link_to "Courses", courses_path %></li>
    <li><%= link_to 'New Course', new_course_path, :id => 'new-course' %></li>
    <li><%= link_to "Coupons", coupons_path %></li>
  </ul>
<% end -%>

<% @courses.each do |course| %>
  <% div_for(course, :class => 'course-list cool-list') do %>
    <h3>
      <%= link_to h(course.name), edit_course_path(course) %>
      <%= link_to 'New Section', new_course_section_path(course), :class => 'new-section', :id => "new-section-#{course.id}" %>
    </h3>
    <ul>
      <% course.sections.each do |section| %>
        <li><%= link_to section.date_range, edit_course_section_path(course, section), :id => dom_id(section) %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
