<% content_for :page_header do %>
  <section id="head-wrapper">
    <section id="homepage-top">

      <header id="page-header" class="primary">
        <h1><%= t(".home-header", :default => "Get better, faster in our small, hands-on workshops") %></h1>
      </header>

      <section id="workshop-list">
        <% if @courses.empty? %>
          <p id="no-courses">No courses are running at this time.</p>
        <% else %>
          <ul>
            <%= render @courses %>
          </ul>
        <% end %>
      </section>

      <aside>
      <h2><a href="/backbone-js-on-rails">Backbone.js on Rails eBook</a></h2>
        <p>Learn how to build snappier, more interactive apps with cleaner code and better tests in less time.</p>
      </aside>
    </section>
  </section>
<% end %>


<section id="more-information">
  <section id="more-information-wrapper">

    <section id="class-photos">
      <ul>
        <li class="first"><%= image_tag("/images/public/class-photo-3.jpg", :alt => "thoughtbot training" )%></li>
        <li class="center"><%= image_tag("/images/public/class-photo-2.jpg", :alt => "thoughtbot training" )%></li>
        <li class="last"><%= image_tag("/images/public/class-photo-1.jpg", :alt => "thoughtbot training" )%></li>
      </ul>
    </section>

    <section id="why-love">
      <%= t(".why-love", :default => "<ul>
        <li><strong>Real life skills</strong> Our instructors build sites every day using the technology and skills we teach in our workshops. We focus on the things you need to know when doing real work.</li>
        <li><strong>Human touch</strong> We keep our workshops small, so there&rsquo;s always someone ready to answer your questions. We also provide a delicious group lunch, a great chance to get to know your classmates and the <a href=\"http://thoughtbot.com/about/\">thoughtbot team</a>.</li>
        <li><strong>A beautiful office</strong> Our workshops are run in our newly renovated office, in a comfortable, spacious room, with a great view of the Common in downtown Boston.</li>
      </ul>") %>
    </section>

    <section id="testimonials">
      <section id="column-1">
        <q>Cannot recommend Design for Developers more. It&rsquo;s amazing and I have a totally different outlook on design and web development.</q>
        <p class="source">&mdash;<a href="http://chuckvose.com/">Chuck Vose</a></p>

        <q>Having taken a thoughtbot training class on my own dime I can say it&rsquo;s 110% worth it. If you can hook it up, do it.</q>
        <p class="source">&mdash;<a href="http://joeloliveira.com/">Joel Oliveira</a></p>
      </section>

      <section id="column-2">
        <q>After the training session my code style is so fresh, Vogue wants to publish my tests.</q>
        <p class="source">&mdash;<a href="http://gregsterndale.com/">Greg Sterndale</a></p>

        <q>As an alumnus of Design for Developers, let me heartily recommend it to other devs who want to develop a better eye for design and learn the basics of implementing visually pleasing sites.</q>
        <p class="source">&mdash;<a href="http://mikefurtak.com/">Mike Furtak</a></p>
      </section>
    </section>
  </section>
</section>
