<% content_for :page_header do %>
<section id="head-wrapper">
  <section id="homepage-top">
    <header>
      <h1><a href="/">thoughtbot workshops</a></h1>
    </header>

    <section id="course-info">
      <h2><%= h(@course.name) %></h2>

      <section id="notify-me">
        <% form_for [@course, @follow_up] do |form| %>
          <%= form.label :email, "Want to be notified the next time we run this workshop?" %>
          <%= form.text_field :email, :placeholder => "Enter your email address" %>
          <input type="submit" value="Submit" />
        <% end %>
      </section>

      <section id="course-description"><%= textilize @course.description %></section>
    </section>

    <section id="workshop-details">
      <h3>Cost</h3>
      <p class="cost"><%= number_to_currency @course.price, :precision => 0, :delimiter => '' %></p>


      <h3>Where</h3>
      <p id="section-location">
        <% google_map_link_to(@course.location, :id => 'location') do %>
          <%= h(@course.location_name) %><br>
          <%= h(@course.location) %>
        <% end %>
      </p>

      <section id="register">
      </section>
    </section>
  </section>
</section>
<% end %>

<section id="additional-information">
  <section id="main-content">
    <%= render :partial => 'questions', :locals => { :course => @course } %>
  </section>
</section>
