<section id="head-wrapper">
  <section id="homepage-top">
    <h1><%= @course.name %></h1>

    <section id="course-info">
      <section id="course-description"><%=raw textilize @course.description %></section>
      <%= render partial: 'questions', locals: { course: @course } %>
    </section>

    <section id="workshop-details">
      <section class="section-location">
        <h2><%= @course.audience.name %> <span><%= number_to_currency @course.price, precision: 0 %></span></h2>

        <div class="when">
          <h3>When</h3>
          <p>
            TBD
          </p>
        </div>

        <div class="address">
          <h3>Where</h3>
          <p>
            <%= google_map_link_to("#{@course.location} #{@course.location_name}", id: 'location') do %>
              <%= @course.location %> <br> <%= @course.location_name %>
            <% end %>
          </p>
        </div>
        <div id="register">
          <a href="#new_follow_up" id="register-button">Get notified</a>
        </div>

      </section>
    </section>
  </section>
</section>

<section id="additional-information">
  <section id="additional-information-wrapper">
    <section id="main-content">
      <%= render partial: 'follow_up', locals: { course: @course } %>
    </section>
  </section>
</section>
