<% content_for :page_header do %>
  <section id="head-wrapper">
    <section id="homepage-top">
      <section id="course-info">
        <h2><%= @course.name %></h2>


        <section id="course-description"><%=raw textilize @course.description %></section>

    <%= render :partial => 'questions', :locals => { :course => @course } %>
      </section>

      <section id="workshop-details">
        <h3>Cost</h3>
        <p class="cost"><%= number_to_currency @course.price, :precision => 0, :delimiter => '' %></p>


        <h3>Where</h3>
        <p id="section-location">
          <%= google_map_link_to("#{@course.location} #{@course.location_name}", :id => 'location') %>
        </p>

        <section id="register"></section>
      </section>
    </section>
  </section>
<% end %>

<section id="additional-information">
  <section id="additional-information-wrapper">
    <section id="main-content">
      <%= render :partial => 'follow_up', :locals => { :course => @course } %>
    </section>
  </section>
</section>
