<section class="timeline">
  <section class="profile">
    <%= image_tag gravatar_url(current_user), class: 'user-image' %>
    <div class="user-info">
      <h3><%= current_user.name %></h3>
      <p data-role="user-bio">
        <%= current_user.bio || 'Tell us about yourself' %>
        &mdash;
        <%= link_to 'edit bio', my_account_path, 'data-role' => 'edit-bio' %>
      </p>
    </div>
  </section>

  <% @timeline.grouped_items.each do |week, items| %>
    <section class="week">
      <div class="progress">
        <ol class="goals">
          <li class="title"><%= week_title(week) %></li>
          <% if @timeline.most_recent_week?(week) %>
            <li class="trails-link"><%= link_to 'Check off items on trail maps &rarr;'.html_safe, topics_path %></li>
          <% end %>
          <% if items[:completions] %>
            <%= render items[:completions] %>
          <% end %>
        <ol>
      </div>
      <div class="notes">
        <% if @timeline.most_recent_week?(week) %>
          <%= render 'note_form' %>
        <% end %>
        <ol>
          <% if items[:notes] %>
            <%= render items[:notes] %>
          <% end %>
        </ol>
      </div>
    </section>
  <% end %>
</section>
