<section class='timeline'>
  <section class='profile'>
    <%= image_tag gravatar_url(current_user), class: 'user-image' %>
    <div class='user-info'>
      <h3><%= current_user.name %></h3>
      <p data-role='user-bio'>
        <%= current_user.bio || 'Tell us about yourself' %>
        - <%= link_to 'edit bio', my_account_path, 'data-role' => 'edit-bio' %>
      </p>
    </div>
  </section>
  <section class='progress-tracker'>
    <div class="right-column">
      <% @items_by_week.each do |week, items| %>
        <ol class='week'>
          <figure class="journey-bullet"></figure>
          <li>
            <p class='title'><%= week_title(week) %></p>
            <ol>
              <li class='goal add'>
                <div class='goal-bullet-container'>
                  <div class='goal-bullet'></div>
                </div>
                <span><%= link_to 'Check off items on trail maps &raquo;'.html_safe, topics_path %></span>
              </li>
              <li><%= render items %></li>
            </ol>
          </li>
        </ol>
      <% end %>
    </div>
    <div class="left-column">
      <%= form_for :note, url: note_path do |form| %>
        <fieldset class="inputs">
          <li class='goal add'>
            <div class='goal-bullet-container'>
              <div class='goal-bullet'></div>
            </div>
            <span>Add a note</span>
          </li>
          <%= form.text_area :body, placeholder: 'Add a note (mentor meetings, to-dos, etc.)' %>
          <%= form.submit 'Save' %>
        </fieldset>
      <% end %>
      <ul class="notes">
        <%= render current_user.notes %>
      </ul>
    </div>
  </section>
</section>
