<section class="timeline">
  <section class="profile">
    <%= image_tag gravatar_url(@timeline.user, size: '200'), class: 'user-image' %>
    <div class="user-info">
      <p data-role="user-bio">
        <strong><%= @timeline.user_name %>:</strong>
        <%= @timeline.user_bio || 'Tell us about yourself' %>
        &mdash;
        <%= link_to 'edit bio', my_account_path, 'data-role' => 'edit-bio' %>
      </p>
    </div>
  </section>

  <section class="instructions">
      <p>
        <strong>This is your timeline:</strong>
        <% if subscription_includes_mentor? %>
          It's visible only to you and your mentor, <%= current_user.mentor.name %>. <%= current_user.mentor.first_name %> may provide notes on which trail to begin next, or something based on a mentor meeting. You can use notes to keep track of workshops or weekly goals or anything else. Showing trail completions for each week helps both of you see your progress and pace, and informs each mentor meeting.
        <% else %>
          It's visible only to you. If you upgrade and receive a mentor, they'll also be able to see it, and they may provide notes on which trail to begin next, something based on a mentor meeting, or something based on your trail completions. You can use notes to keep track of workshops or weekly goals or anything else. Showing trail completions for each week should help you see your progress and pace.
        <% end %>
      </p>
  </section>

  <% @timeline.grouped_items.each do |week, items| %>
    <section class="week">
      <h2 class="week-of"><%= week_title(week) %></h2>
      <div class="progress">
        <ol class="goals">
          <% if items[:completions] %>
            <%= render items[:completions] %>
          <% end %>
          <% if @timeline.most_recent_week?(week) %>
            <li class="trails-link"><%= link_to 'Check off items on trail maps &rarr;'.html_safe, topics_path %></li>
          <% end %>
        <ol>
      </div>
      <div class="notes">
        <% if @timeline.most_recent_week?(week) %>
          <%= render 'note_form', timeline_user: @timeline_user %>
        <% end %>
        <ol>
          <% if items[:notes] %>
            <%= render items[:notes] %>
          <% end %>
        </ol>
      </div>
    </section>
  <% end %>
</section>
