<section class="timeline">
  <section class="profile">
    <%= image_tag gravatar_url(current_user), class: 'user-image' %>
    <div class="user-info">
      <h3><%= current_user.name %></h3>
      <p data-role="user-bio">
        <%= current_user.bio || 'Tell us about yourself' %>
        &mdash;
        <%= link_to 'edit bio', my_account_path, 'data-role' => 'edit-bio' %>
      </p>
    </div>
  </section>

  <section class="week">
    <div class="progress">
      <form>
        <input type="text" placeholder="Enter a goal" />
      </form>
      <ol class="goals">
        <% if @timeline_items_by_week.values.empty? %>
          <li><%= link_to 'Check off items on trail maps &rarr;'.html_safe, topics_path %></li>
        <% else %>
          <%= render 'timeline_items' %>
        <% end %>
      <ol>
    </div>
    <div class="notes">
      <%= link_to 'Add a note', '#', class: 'add-note' %>
      <%= form_for :note, url: note_path, html: { class: 'add-note-form' } do |form| %>
        <%= form.text_area :body, placeholder: 'Add a note (mentor meetings, to-dos, etc.)' %>
        <%= form.submit 'Save' %>
      <% end %>
      <ol>
        <%= render current_user.notes %>
      </ol>
    </div>
  </section>
</section>

