<section class="timeline">
  <section class="profile">
    <%= image_tag gravatar_url(current_user), class: 'user-image' %>
    <div class="user-info">
      <h3><%= current_user.name %></h3>
      <p data-role="user-bio">
        <%= current_user.bio || 'Tell us about yourself' %>
        &mdash;
        <%= link_to 'edit bio', my_account_path, 'data-role' => 'edit-bio' %>
      </p>
    </div>
  </section>
  <section class="progress-tracker">
    <% 3.times do %>
      <ol class="week">
        <figure class="journey-bullet"></figure>
        <div class="tracking">
          <p class="title">Add to your timeline</p>
          <li class="goal add">
            <div class="goal-bullet-container">
              <div class="goal-bullet"></div>
            </div>
            <span><%= link_to 'Check off items on trail maps &raquo;'.html_safe, topics_path %></span>
          </li>
          <% @completion_weeks.each do |week, completions| %>
            <li>
              <p class="title"><%= week_title(week) %></p>
              <ol><%= render completions %></ol>
            </li>
          <% end %>
        </div>
      </ol>
    <% end %>
  </section>
  <section class="notes">
    <ol>
      <li class="add">
        <span class="plus">&#43;</span><a href="" class="add-note">Add a note</a>
      </li>
      <li class="note">
        <p>Met with Chad, he recommended a book to me</p>
      </li>
      <li class="note">
        <p>Refactored my code for side project</p>
      </li>
      <li class="note">
        <p>Stay on task</p>
      </li>
    </ol>
  </section>
</section>

