<section class="timeline">
  <section class="profile">
    <%= image_tag gravatar_url(current_user), class: 'user-image' %>
    <div class="user-info">
      <h3><%= current_user.name %></h3>
      <p data-role="user-bio">
        <%= current_user.bio || 'Tell us about yourself' %>
        &mdash;
        <%= link_to 'edit bio', my_account_path, 'data-role' => 'edit-bio' %>
      </p>
    </div>
  </section>

  <% if @timeline.has_items? %>
    <% @timeline.grouped_items.each_with_index do |(week, items), index| %>
      <section class="week">
        <div class="progress">
          <ol class="goals">
            <li class="title"><%= week_title(week) %></li>
            <% if index == 0 %>
              <%= render 'check_off_trails_link' %>
            <% end %>
            <% if items[:completions] %>
              <%= render items[:completions] %>
            <% end %>
          <ol>
        </div>
        <div class="notes">
          <%= render 'note_form' %>
          <ol>
            <% if items[:notes] %>
              <%= render items[:notes] %>
            <% end %>
          </ol>
        </div>
      </section>
    <% end %>
  <% else %>
    <section class="week">
      <div class="progress">
        <ol class="goals">
          <%= render 'check_off_trails_link' %>
        </ol>
      </div>
      <div class="notes">
        <%= render 'note_form' %>
      </div>
    </section>
  <% end %>
</section>
