<% content_for :meta_description, @byte.title %>
<% content_for :meta_keywords, @byte.keywords %>
<% content_for :page_title, t('shared.bytes') %>

<% content_for :subject_block do %>
  <h1><%= @byte.title %></h1>
  <h2 class="tagline"><%= @byte.published_on.to_s(:simple) %></h2>
<% end %>

<% content_for :additional_header_links do %>
  <li class="all-bytes">
    <%= link_to t('shared.all_bytes'), bytes_path %>
  </li>
<% end %>

<div class="text-box-wrapper">
  <div class="text-box">
    <%== @byte.body_html %>
  </div>
</div>

<%= render @byte.related %>
