<footer>
  <nav>
    <div>
      <strong><%= t(".links_heading") %></strong>
      <ul>
        <li>
          <%= link_to(
            t(".links.thoughtbot_home"),
            "https://thoughtbot.com/"
          ) %>
        </li>
      </ul>
    </div>

    <div>
      <strong><%= t(".resources_heading") %></strong>
      <ul>
        <li>
          <%= link_to(
            t(".links.root_pages_show_privacy"),
            {controller: "/pages", action: :show, id: "privacy"}
          ) %>
        </li>
        <li>
          <%= link_to(
            t(".links.root_pages_show_terms"),
            {controller: "/pages", action: :show, id: "terms"}
          ) %>
        </li>
      </ul>
    </div>
  </nav>
  <div>
    <span class="logo">
      <%= inline_svg_tag("marketing/upcase-logo--small.svg") %>
      <%= t("layouts.app_name_subtitle") %>
    </span>

    <p class="copyright"><%= t("layouts.copyright", current_year: Date.current.year) %></p>
  </div>
</footer>
