<% unless current_user.subscriber? %>
  <%= render "subscribe_cta",
    description: t("decks.subscribe_cta"),
    button_text: t("decks.subscribe_link") %>
<% end %>

<section class="root-decks">
  <header class="page-header">
    <h1 class="page-header__title">
      <%= t('.title') %>
    </h3>

    <h4 class="page-header__tagline">
      <%= t(".subhead") %>
    </h4>

    <p class="page-header__intro">
      <%= t('.feature_description') %>
    </p>
  </header>

  <section class="decks-area">
    <%= render @decks %>
  </section>

  <section class="saved-deck">
    <%= render(
      "flashcards/needing_review",
      flashcards_to_review: @flashcards_to_review
    ) %>
  </section>
</section>
