<section class="root-decks">
  <h3><%= t('.title') %></h3>

  <h4><%= t(".subhead") %></h4>

  <p><%= t('.feature_description') %></p>

  <section class="decks-area">
    <%= render @deck_list.decks %>
  </section>

  <section class="saved-deck">
    <%= render(
      "flashcards/needing_review",
      flashcards_to_review: @deck_list.flashcards_to_review
    ) %>
  </section>
</section>
