<div class="complete">
  <section class="trail <%= topic_class(trail.topic) %>">
    <header>
      <span class="topic-label"><%= trail.topic.name %></span>
      <h1><%= link_to trail.name, trail %></h1>
    </header>

    <div class="just-finished-mask">
      <section class="progress completed">
        <%= render(
          partial: "steps/steps",
          locals: { completeables: trail.completeables }
        ) %>
      </section>
    </div>

    <p><%= trail.complete_text %></p>
  </section>
</div>
