<div class="<%= trail.unstarted? ? "unstarted" : "started" %>">
  <section class="trail">
    <header>
      <h1><%= link_to trail.name, trail %></h1>
      <p class="description"><%= trail.description %></p>
      <%= render "practice/trail_description_tooltip", trail: trail %>
    </header>

    <%= render "trails/exercise_dots", trail: trail %>

    <% if trail.exercises.present? %>
      <%= exercise_link trail.exercises.first.url, class: "start-trail" do %>
        Start trail
      <% end %>
    <% end %>
  </section>
</div>
