<% content_for :page_title, "Learn Ruby and Rails Development" %>

<% unless current_user.subscriber? %>
  <%= render "subscribe_cta",
    description: t("trails.subscribe_cta"),
    button_text: t("trails.subscribe_link") %>
<% end %>

<section class="trails-progress">
  <header class="page-header">
    <h1 class="page-header__title">
      Trails
    </h1>

    <h4 class="page-header__tagline">
      <%= t(".trail_description") %>
    </h4>

    <p class="page-header__intro">
      Some trails consist of videos, like our tmux trail. Others use our
      <strong>exercise system</strong>. In those, you'll clone down a git
      repo and <strong>write code on your own machine</strong>.
    </p>
  </header>

  <% if @practice.beta_offers.any? %>
    <section class="beta-offers">
      <span class="divider">
        <h4 class="text">Beta Trails</h4>
      </span>
      <p>Let us know if you're interested in any of these upcoming trails.</p>
      <%= render @practice.beta_offers %>
    </section>
  <% end %>

  <% if @practice.promoted_unstarted_trails.any? %>
  <div class="promoted-trails">
    <h3 class="promo-message"><%= t("trails.promoted_message") %></h3>
    <% @practice.promoted_unstarted_trails.each do |trail| %>
    <%= render "trails/incomplete_trail", trail: trail %>
    <% end %>
  </div>
  <% end %>

  <section class="incomplete-trails">
    <% if @practice.in_progress_trails.any? %>
      <span class="divider">
        <h4 class="text">Your Trails</h4>
      </span>
      <%= render partial: "trails/incomplete_trail", collection: @practice.in_progress_trails, as: :trail %>
    <% end %>

    <% if @practice.unpromoted_unstarted_trails.any? %>
      <span class="divider">
        <h4 class="text">Unstarted Trails</h4>
      </span>
      <%= render partial: "trails/incomplete_trail", collection: @practice.unpromoted_unstarted_trails, as: :trail %>
    <% end %>
  </section>

  <% if @practice.just_finished_trails.any? %>
    <section class="completed-trails trails-progress">
      <span class="divider">
        <h4 class="text">Recently Completed Trails</h4>
      </span>
      <section class="trails-complete">
        <%= render partial: "completed_trails/just_finished_trail", collection: @practice.just_finished_trails, as: :trail %>
      </section>
    </section>
  <% end %>

  <footer>
    <% if @practice.has_completed_trails? %>
      <p>
        <%= link_to completed_trails_path do %>
          View all completed trails &rarr;
        <% end %>
      </p>
    <% end %>
  </footer>
</section>
