<%= render "mentor_info" %>
<% content_for :page_title, "Practice" %>

<% if locked_features.any? %>
  <%= render "products/locked_features" %>
<% end %>

<section class="root-trails">
  <div class="content">
    <section class="trails-progress">
      <section class="subject">
        <h1>Welcome, <%= current_user.first_name %>.</h1>
        <h2>
          These new trails are focused exercises targeting your interests. They
          help you learn by doing and keep your skillset sharp.
        </h2>
      </section>

      <% if @practice.incomplete_trails.any? %>
        <section class="incomplete-trails">
          <span class="divider">
            <h4 class="text">Your Trails</h4>
          </span>
          <%= render partial: "trails/incomplete_trail", collection: @practice.incomplete_trails, as: :trail %>
        </section>
      <% end %>

      <% if @practice.just_finished_trails.any? %>
        <section class="completed-trails trails-progress">
          <span class="divider">
            <h4 class="text">Recently Completed Trails</h4>
          </span>
          <section class="trails-complete">
            <%= render partial: "completed_trails/just_finished_trail", collection: @practice.just_finished_trails, as: :trail %>
          </section>
        </section>
      <% end %>

      <footer>
        <% if @practice.has_completed_trails? %>
          <p>
            <%= link_to completed_trails_path do %>
              View all completed trails &rarr;
            <% end %>
          </p>
        <% end %>
      </footer>
    </section>
  </div>
</section>
