<%= render "mentor_info" %>
<% content_for :page_title, "Practice" %>

<% if locked_features.any? %>
  <%= render "products/locked_features" %>
<% end %>

<section class="root-trails">
  <div class="content">
    <section class="trails-progress">
      <section class="subject">
        <h1>New Trails (Beta)</h1>
        <h2>
          These new trails are focused exercises targeting your interests. They
          help you learn by doing and keep your skillset sharp.
        </h2>
      </section>

      <%= render partial: "practice/trail", collection: @practice.trails %>

      <footer>
        <% if @practice.has_completed_trails? %>
          <p>
            <%= link_to completed_trails_path do %>
              View completed trails &rarr;
            <% end %>
          </p>
        <% end %>

        <p>
          or
        </p>

        <p>
          <%= link_to "View all the old and new Trails", trails_path %>
        </p>
      </footer>
    </section>
  </div>
</section>
