<figure class="thumbnail product-card group">
  <%= link_to show, title: show.name do %>
    <figure>
      <%= image_tag(show.product_image.url) %>
      <span><%= show.tagline %></span>
    </figure>
    <h5>Show (<%= pluralize show.published_videos.count, 'episode' %>)</h5>
    <h4><%= show.name %></h4>
  <% end %>
</figure>
