<section id="license" class="<%= offering.offering_type %>">
  <% if offering.active? %>
    <% unless current_user_has_active_subscription? %>
      <div class="prime-cta">
        <div class="license">
          <%= link_to new_checkout_path(plan), class: 'license-button button prime-button' do %>
            <%= t('weekly_iteration_subscribe_cta') %> for <%= individual_price_per_month(plan) %>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= render "licenses/link", offering: offering %>
  <% else %>
    <%= render "products/inactive", offering: offering %>
  <% end %>
</section>
