<% content_for :sticky_header_height, "750" %>
<% content_for :additional_body_classes, "the-weekly-iteration" %>

<% render "shared/content_specific_head_tags", content: @show, type: "show" %>

<% content_for :additional_head_content do %>
  <%= auto_discovery_link_tag(:rss, show_url(@show, format: "rss")) %>
<% end %>

<% content_for :subject_block do %>
  <header class="page-header">
    <h1 class="page-header__title">
      <%= @show.name %>
    </h1>
    <h4 class="page-header__tagline">
      <%= @show.tagline %>
    </h4>
  </header>
<% end %>

<div class="show-info">
  <% unless signed_in? %>
    <div>
      <%= render Clip.new("ol6e0miehm") %>
    </div>
    <%= render "subscribe_cta",
      description: t("show.weekly_iteration_cta"),
      button_text: t("watchables.preview.auth_to_access_button_text") %>
  <% end %>
</div>

<span class="divider">
  <h4 class="text">Videos</h4>
</span>

<section class="videos tiles-container">
  <% @video_listing.each do |video| %>
    <%= render video %>
  <% end %>
</section>
