<% content_for :head do %>
  <%= auto_discovery_link_tag(:rss, show_url(@show, format: "rss")) %>
<% end %>

<%= render "products/meta", product: @show %>

<div class="text-box-wrapper">
  <div class="text-box">
    <p class="videowrapper">
      <iframe src="//fast.wistia.net/embed/iframe/ol6e0miehm?controlsVisibleOnLoad=true&version=v1&videoHeight=415&videoWidth=738&volumeControl=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" width="653" height="367"></iframe>
    </p>

    <section id="videos">
      <% @show.published_videos.recently_published_first.each do |video| %>
        <%= content_tag_for :div, video do %>
          <%= link_to video_path(video) do %>
            <%= render "videos/thumbnail", clip: video.clip, title: video.title %>
          <% end %>
        <% end %>
      <% end %>
    </section>
  </div>
</div>

<aside>
  <%= render "watchables/subscribe", watchable: @show %>
  <%= render "watchables/terms", watchable: @show %>
</aside>
