<% content_for :sticky_header_height, "750" %>
<% content_for :additional_body_classes, "the-weekly-iteration" %>

<% render "shared/content_specific_head_tags", content: @show, type: "show" %>

<% content_for :head do %>
  <%= auto_discovery_link_tag(:rss, show_url(@show, format: "rss")) %>
<% end %>

<% content_for :subject_block do %>
  <h1><%= @show.name %></h1>
  <h2 class="tagline">
    <%= @show.tagline %>
  </h2>
<% end %>

<div class="show-info">
  <% unless has_access_to_shows? %>
    <div>
      <%= render Clip.new("ol6e0miehm") %>
    </div>
    <%= render "subscribe_cta",
      description: t("show.weekly_iteration_cta"),
      button_text: t("watchables.preview.subscribe_link") %>
  <% end %>
</div>

<span class="divider">
  <h4 class="text">Videos</h4>
</span>

<section class="videos tiles-container">
  <% @video_listing.each do |video| %>
    <%= render video %>
  <% end %>
</section>
