<div class="text-box-wrapper">
  <div class="text-box">
    <% if current_user_has_active_subscription? %>
      <h2><%= title %> for <em class="totalprice"> $0.00</em></h2>
    <% else %>
      <h2><%= title %> for <em class="totalprice"><%= number_to_currency price, precision: 0 %></em><% if subscription %> per month<% end %></h2>
      <div id="total">
        <% unless subscription %>
          <p class="coupon-note"><%= link_to "Have a coupon code?", "#" %></p>
        <% end %>
      </div>
    <% end %>
    <% unless subscription %>
      <%= render 'redemptions/form' %>
    <% end %>
    <%= render form_partial %>
  </div>
</div>
