<div class="text-box-wrapper">
  <div class="text-box">
    <h2><%= title %> for <em class="totalprice"><%= number_to_currency price, precision: 0 %></em></h2>
    <div id="total">
      <p class="coupon-note"><%= link_to "Have a coupon code?", "#" %></p>
    </div>
    <%= render 'redemptions/form' %>
    <%= render form_partial %>
  </div>
</div>
