<meta charset="utf-8" />
<title><%= content_for(:page_title).presence || t("layouts.fallback_page_title") %></title>

<%= stylesheet_link_tag "application", media: "all" %>
<%= stylesheet_link_tag "shared", media: "all" %>

<link rel="icon" href="/upcase/favicon.ico" type="image/x-icon">
<%= content_for :additional_head_content %>
<meta http-equiv="Description" name="Description" content="<%= yield(:meta_description).presence %>" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="google-site-verification" content="pFoYtgbd6tc74KGxv5yWxu2QTH0oKllYLrYbTt35iNM" />
<%= open_graph_tags %>
<%= render 'layouts/typekit' %>
<%= csrf_meta_tag %>
<%= render 'layouts/ie_shiv' %>
<% if Rails.env.production? %>
  <%= render 'shared/visual_website_optimizer' %>
<% end %>
<%= yield :head %>
