<section class='exercises'>
  <figure class='exercise thumbnail product-card'>
    <%= link_to 'https://github.com/thoughtbot/shakespeare_analyzer', title: 'Shakespeare Analyzer Exercise' do %>
      <figure>
        <p class='console-illustration'>&gt;_</p>
      </figure>
      <h5>Exercise</h5>
      <h4>Shakespeare Analyzer</h4>
      <p>Write a command-line program that prints the number of lines spoken by each character in Macbeth.</p>
    <% end %>
  </figure>

  <figure class='exercise thumbnail product-card'>
    <%= link_to 'https://github.com/thoughtbot/sudoku_validator', title: 'Sudoku Validator Exercise' do %>
      <figure>
        <p class='console-illustration'>&gt;_</p>
      </figure>
      <h5>Exercise</h5>
      <h4>Sudoku Validator</h4>
      <p>Write a program that reads a file containing a sudoku grid and validates it.</p>
    <% end %>
  </figure>

  <figure class='exercise thumbnail product-card'>
    <%= link_to 'https://github.com/thoughtbot/extract-class-exercise', title: 'Extract Class Exercise' do %>
      <figure>
        <p class='console-illustration'>&gt;_</p>
      </figure>
      <h5>Exercise</h5>
      <h4>Extract Class</h4>
      <p>Learn how to safely split up classes in small steps.</p>
    <% end %>
  </figure>

  <figure class='exercise thumbnail product-card'>
    <%= link_to 'https://github.com/thoughtbot/inject-exercise', title: 'Inject Exercise' do %>
      <figure>
        <p class='console-illustration'>&gt;_</p>
      </figure>
      <h5>Exercise</h5>
      <h4>Inject</h4>
      <p>Learn to use Ruby's <code>inject</code> with these quick exercises.</p>
    <% end %>
  </figure>

  <figure class='exercise thumbnail product-card'>
    <%= link_to 'https://github.com/thoughtbot/null_object_exercise', title: 'Null Object Exercise: Part One' do %>
      <figure>
        <p class='console-illustration'>&gt;_</p>
      </figure>
      <h5>Exercise</h5>
      <h4>Null Object: Part One</h4>
      <p>Learn to encapsulate logic surrounding <code>nil</code> by introducing Null Object classes.</p>
    <% end %>
  </figure>

  <figure class='exercise thumbnail product-card'>
    <%= link_to 'https://github.com/thoughtbot/null_object_exercise_part_two', title: 'Null Object Exercise: Part Two' do %>
      <figure>
        <p class='console-illustration'>&gt;_</p>
      </figure>
      <h5>Exercise</h5>
      <h4>Null Object: Part Two</h4>
      <p>Take your Null Object skills to the next level by completing this additional exercise.</p>
    <% end %>
  </figure>
</section>
