<section class='exercises'>
  <figure class='exercise thumbnail product-card'>
    <%= link_to 'https://whetstone.thoughtbot.com/exercises/1', title: 'Shakespeare Analyzer Exercise' do %>
      <figure>
        <p class='console-illustration'></p>
      </figure>
      <h5>Exercise</h5>
      <h4>Shakespeare Analyzer</h4>
      <p>Write a command-line program that prints the number of lines spoken by each character in Macbeth.</p>
    <% end %>
  </figure>

  <figure class='exercise thumbnail product-card'>
    <%= link_to 'https://whetstone.thoughtbot.com/exercises/2', title: 'Sudoku Validator Exercise' do %>
      <figure>
        <p class='console-illustration'></p>
      </figure>
      <h5>Exercise</h5>
      <h4>Sudoku Validator</h4>
      <p>Write a program that reads a file containing a sudoku grid and validates it.</p>
    <% end %>
  </figure>

  <figure class='exercise thumbnail product-card'>
    <%= link_to 'https://whetstone.thoughtbot.com/exercises/3', title: 'Extract Class Exercise' do %>
      <figure>
        <p class='console-illustration'></p>
      </figure>
      <h5>Exercise</h5>
      <h4>Extract Class</h4>
      <p>Learn how to safely split up classes in small steps.</p>
    <% end %>
  </figure>

  <figure class='exercise thumbnail product-card'>
    <%= link_to 'https://whetstone.thoughtbot.com/exercises/4', title: 'Inject Exercise' do %>
      <figure>
        <p class='console-illustration'></p>
      </figure>
      <h5>Exercise</h5>
      <h4>Inject</h4>
      <p>Learn to use Ruby's <code>inject</code> with these quick exercises.</p>
    <% end %>
  </figure>

  <figure class='exercise thumbnail product-card'>
    <%= link_to 'https://whetstone.thoughtbot.com/exercises/5', title: 'Null Object Exercise: Part One' do %>
      <figure>
        <p class='console-illustration'></p>
      </figure>
      <h5>Exercise</h5>
      <h4>Null Object: Part One</h4>
      <p>Learn to encapsulate logic surrounding <code>nil</code> by introducing Null Object classes.</p>
    <% end %>
  </figure>

  <figure class='exercise thumbnail product-card'>
    <%= link_to 'https://whetstone.thoughtbot.com/exercises/6', title: 'Null Object Exercise: Part Two' do %>
      <figure>
        <p class='console-illustration'></p>
      </figure>
      <h5>Exercise</h5>
      <h4>Null Object: Part Two</h4>
      <p>Take your Null Object skills to the next level by completing this additional exercise.</p>
    <% end %>
  </figure>

  <figure class='exercise thumbnail product-card'>
    <%= link_to 'https://whetstone.thoughtbot.com/exercises/7', title: 'Extract Validator Exercise' do %>
      <figure>
        <p class='console-illustration'></p>
      </figure>
      <h5>Exercise</h5>
      <h4>Extract Validator</h4>
      <p>Learn how to extract a validator into its own class with this exercise.</p>
    <% end %>
  </figure>

  <figure class='exercise thumbnail product-card'>
    <%= link_to 'https://whetstone.thoughtbot.com/exercises/8', title: 'Introduce Parameter Object' do %>
      <figure>
        <p class='console-illustration'></p>
      </figure>
      <h5>Exercise</h5>
      <h4>Introduce Parameter Object</h4>
      <p>Learn how to replace a long list of parameters with a single parameter object.</p>
    <% end %>
  </figure>

  <figure class='exercise thumbnail product-card'>
    <%= link_to 'https://whetstone.thoughtbot.com/exercises/9', title: "Tell, Don't Ask" do %>
      <figure>
        <p class='console-illustration'></p>
      </figure>
      <h5>Exercise</h5>
      <h4>Tell, Don't Ask</h4>
      <p>Learn to leverage OOP principles for more declarative code.</p>
    <% end %>
  </figure>

  <figure class='exercise thumbnail product-card'>
    <%= link_to 'https://whetstone.thoughtbot.com/exercises/10', title: "Extract Value Object" do %>
      <figure>
        <p class='console-illustration'></p>
      </figure>
      <h5>Exercise</h5>
      <h4>Extract Value Object</h4>
      <p>Learn how to simplify a class by extracting a value object.</p>
    <% end %>
  </figure>

  <figure class='exercise thumbnail product-card'>
    <%= link_to 'https://whetstone.thoughtbot.com/exercises/cleaning-up-a-controller', title: 'Cleaning up a Controller' do %>
      <figure>
        <p class='console-illustration'></p>
      </figure>
      <h5>Exercise</h5>
      <h4>Cleaning up a Controller</h4>
      <p>Slim down a controller that's gotten a bit bloated.</p>
    <% end %>
  </figure>
</section>
