<h2 <% if current_user_has_active_subscription? %>class="active-subscription"<% end %>>
  <% unless current_user_has_active_subscription? %>
    Single
  <% end %>
  <% if pricing_scheme == "primary" %>
    <%= render 'price', product: product,
      price: product.individual_price,
      original_price: product.original_individual_price %>
  <% else %>
    <%= render 'price', product: product,
      price: product.alternate_individual_price,
      original_price: product.original_alternate_individual_price %>
  <% end %>
</h2>

<div class="license">
  <% if pricing_scheme == "primary" %>
    <%= link_to new_product_purchase_path(product, variant: :individual),
      class: 'license-button button',
      id: "#{product.sku}-purchase-individual" do %>
        <%= purchase_button_text(product) %>
    <% end %>
  <% else %>
    <%= link_to new_product_purchase_path(product, variant: :alternate_individual),
      class: 'license-button button',
      id: "#{product.sku}-purchase-individual" do %>
        <%= purchase_button_text(product) %>
    <% end %>
  <% end %>
</div>
