<section id="license" class="<%= product.offering_type %>">
  <%= render 'products/discount', product: product %>
  <%= render 'offerings/prime_purchase', offering: product %>

  <% if product.active? %>
    <%= render product.licenses_for(current_user) %>
  <% else %>
    <%= render 'products/inactive', product: product %>
  <% end %>
</section>
