<section id="license" class="<%= product.offering_type %>">
  <%= render 'discount', product: product %>
  <%= render(
    'offerings/prime_purchase',
    product: product,
    viewable_subscription: viewable_subscription
  ) %>

  <% if product.active? %>
    <%= render 'active', product: product %>
  <% else %>
    <%= render 'inactive', product: product %>
  <% end %>
</section>
