<section id="license" class="<%= product.offering_type %>">
  <%= render 'offerings/prime_purchase', offering: product %>

  <% if !current_user_has_active_subscription? && licenses.present? %>
    <p class="or"><%= t '.or_buy_individually' %></p>
  <% end %>

  <% if product.active? %>
    <%= render licenses, product: product %>
  <% else %>
    <%= render 'products/inactive', product: product %>
  <% end %>
</section>
