<% if feature.accessible_without_subscription? %>
  <%= link_to video_auth_to_access_path(feature), class: "available-link" do %>
    <%= image_tag("github.svg", class: "logo", alt: "") %>
    <%= t(".available_for_free_after_authing") %>
  <% end %>
<% else %>
  <div class="product-card-locked">
    <span class="icon">
      <%= image_tag("icons/lock.svg", size: "11x15") %>
    </span>

    <%= link_to t(".get_access_by_joining"),
      sign_up_path,
      class: 'upgrade-link' %>
  </div>
<% end %>
