<figure class="screencast product-card">
  <h4><%= video.name %></h4>
  <%= image_tag('workshop_thumbs/playbook.png') %>
  <h5>Screencast</h5>
  <p><%= video.tagline %></p>
  <section class="actions">
    <%= link_to 'Learn More', product_path(video) %>
    <%= render partial: 'forum_link', locals: { current_user: current_user } %>
  </section>
</figure>
