<%= content_tag :figure, class: workshop_card_classes(workshop) do %>
  <h4><%= workshop.name %></h4>
  <% if workshop.online? %>
    <%= image_tag(workshop.thumbnail_path) %>
    <h5>Online Workshop</h5>
  <% else %>
    <div class="inperson-date">
      <span class="upcoming">Upcoming</span>
      <% workshop.active_sections.each do |section| %>
        <section>
          <span class="city"><%= section.city %>: </span>
          <span class="month"><%= section.starts_on.to_s(:abbreviated_month) %></span>
          <span class="day"><%= section.starts_on.day %></span>
        </section>
      <% end %>
      <% if workshop.active_sections.empty? %>
        <section>
          <span>No upcoming dates</span>
        </section>
      <% end %>
    </div>
    <h5>In-Person Workshop</h5>
  <% end %>
  <p><%= workshop.short_description %></p>
  <section class="actions">
    <%= link_to workshop_dashboard_text(workshop), workshop, 'data-role' => workshop_data_role(workshop), class: 'main' %>
    <% if signed_in? %>
      <%= render partial: 'products/forum_link', locals: { current_user: current_user } %>
    <% end %>
  </section>
<% end %>
