<% content_for :subject, t('.title') %>

<section id='subscription-banner'>
  <%= link_to 'Subscribe', @subscription_product %>
</section>

<section id="promo-wrapper">
  <% if @in_person_workshops.present? || @online_workshops.present? %>
    <div class="products-container text-box">
      <% if @online_workshops.present? %>
        <h2><%= t 'shared.online_workshops' %></h2>
        <ul data-role="online-workshops">
          <%= render partial: 'workshops/workshop', collection: @online_workshops %>
        </ul>
      <% end %>
      <% if @in_person_workshops.present? %>
        <h2><%= t 'shared.in_person_workshops' %></h2>
        <ul data-role="in-person-workshops">
          <%= render @in_person_workshops %>
        </ul>
      <% end %>
    </div>
  <% end %>

  <% if @books.present? %>
    <div class="products-container text-box">
      <h2><%= t 'shared.books' %></h2>
      <ul>
        <%= render @books %>
      </ul>
    </div>
  <% end %>

  <% if @videos.present? %>
    <div class="products-container text-box">
      <h2><%= t 'shared.videos' %></h2>
      <ul>
        <%= render @videos %>
      </ul>
    </div>
  <% end %>
</section>
