<%= render 'learn_header', subject: t('.title') %>

<section id="promo-wrapper">
  <% if @courses.present? || @workshops.present? %>
    <div class="products-container learn-text-box">
      <% if @workshops.present? %>
        <h2><%= t 'shared.workshops' %></h2>
        <ul>
          <%= render @workshops %>
        </ul>
      <% end %>
      <% if @courses.present? %>
        <h2><%= t 'shared.courses' %></h2>
        <ul>
          <%= render @courses %>
        </ul>
      <% end %>
    </div>
  <% end %>

  <% if @books.present? %>
    <div class="products-container learn-text-box">
      <h2><%= t 'shared.books' %></h2>
      <ul>
        <%= render @books %>
      </ul>
    </div>
  <% end %>

  <% if @videos.present? %>
    <div class="products-container learn-text-box">
      <h2><%= t 'shared.videos' %></h2>
      <ul>
        <%= render @videos %>
      </ul>
    </div>
  <% end %>
</section>

<%= javascript_include_tag 'retina.js' %>
