<section class="workshops card-slider">
  <a class="nav prev"></a>
  <%= render partial: 'products/workshop', collection: online_workshops %>
  <%= render partial: 'products/workshop', collection: in_person_workshops %>
  <a class="nav next"></a>
</section>

<section class="forum">
  <p class="forum-desc">Ask questions about any piece of content, get answers from us, collaborate with other members.</p>
  <%= link_to 'http://forum.thoughtbot.com' do %>
    View the Prime forum <span>&#x27f6;</span>
  <% end %>
</section>

<section class="reading">
  <section class="list bytes">
    <header>
      <h2>Recommended Reading &mdash; Prime Bytes</h2>
    </header>
    <%= render partial: 'articles/byte', collection: bytes.first(3) %>
    <%= link_to 'View all Prime Bytes', '#', class: 'bytes-index' %>
  </section>
  <section class="list books">
    <header>
      <h2>Library</h2>
    </header>
    <%= render partial: 'products/book', collection: books %>
  </section>
</section>

<section class="screencasts card-slider">
  <a class="nav prev"></a>
  <%= render partial: 'products/video', collection: videos %>
  <a class="nav next"></a>
</section>
