<% if !current_user_has_active_subscription? %>
  <section class="prime">
    <%= link_to "Subscribe to #{t('shared.subscription.name')} to access all of these products", prime_path, class: 'button' %>
  </section>
<% end %>

<section id="workshops" class="workshops vertical-slider revealed">
  <header>
    <h2>All workshops</h2>
  </header>
  <%= render partial: 'products/workshop', collection: online_workshops %>
  <%= render partial: 'products/workshop', collection: in_person_workshops %>
</section>

<section id="screencasts" class="screencasts vertical-slider revealed">
  <header>
    <h2>All screencasts</h2>
  </header>
  <%= render screencasts %>
</section>

<section id="books" class="reading vertical-slider revealed">
  <header>
    <h2>All books</h2>
  </header>
  <%= render books %>
</section>
