<% content_for :subject, t('.title') %>

<% unless current_user_has_active_subscription? %>
  <% if subscription_product %>
    <section id='subscription-banner'>
      <%= link_to subscription_product do %>
        <h3><span><%= t('shared.subscribers_only_icon') %> Subscribe to <%= subscription_product.name %></span> &mdash; <%= subscription_product.tagline %></h3>
      <% end %>
    </section>
  <% end %>
<% end %>

<section id="promo-wrapper">
  <% if @in_person_workshops.present? || @online_workshops.present? %>
    <div class="products-container text-box">
      <% if @online_workshops.present? %>
        <h2><%= t 'shared.online_workshops' %></h2>
        <ul data-role="online-workshops">
          <%= render partial: 'workshops/workshop', collection: @online_workshops %>
        </ul>
      <% end %>
      <% if @in_person_workshops.present? %>
        <h2><%= t 'shared.in_person_workshops' %></h2>
        <ul data-role="in-person-workshops">
          <%= render @in_person_workshops %>
        </ul>
      <% end %>
    </div>
  <% end %>

  <% if @books.present? %>
    <div class="products-container text-box">
      <h2><%= t 'shared.books' %></h2>
      <ul>
        <%= render @books %>
      </ul>
    </div>
  <% end %>

  <% if @videos.present? %>
    <div class="products-container text-box">
      <h2><%= t 'shared.videos' %></h2>
      <ul>
        <%= render @videos %>
      </ul>
    </div>
  <% end %>
</section>
