<%= render 'offerings/meta', offering: @product %>

<div class="text-box-wrapper">
  <div class="text-box">
    <h2><%= @product.tagline %></h2>

    <%== @product.description %>
  </div>
</div>

<aside>
  <%= render(
    'license',
    product: @product,
    viewable_subscription: @viewable_subscription
  ) %>

  <%= render 'terms', product: @product %>
</aside>

<% content_for :outside do %>
  <div id="flash"></div>
<% end %>
