<section id="head-wrapper">
  <section id="homepage-top">
    <h1><%= @product.name %></h1>

    <section id="product-info">
      <h2><%= @product.tagline %></h2>

      <%== @product.description %>
    </section>

    <section id="workshop-details">
      <section id="license">
        <div>
          <h2>Single License <span><%= number_to_currency @product.individual_price, precision: 0 %></span></h2>
          <div class="license">
             <%= link_to new_product_purchase_path(@product, variant: :individual), class: 'license-button', id: "#{@product.sku}-purchase-individual" do %>
               Purchase for Yourself
             <% end %>
          </div>

        </div>
        <div>
          <h2>Group License <span><%= number_to_currency @product.company_price, precision: 0 %></span></h2>
          <div class="license">
             <%= link_to new_product_purchase_path(@product, variant: :company), class: 'license-button', id: "#{@product.sku}-purchase-company" do %>
               Purchase for Your Company
             <% end %>
          </div>
        </div>
      </section>

      <section id="terms">
        <ul>
          <dt><p>What if I'm not happy?</p></dt>
          <dd><p>If you&rsquo;re not happy, just let us know and we&rsquo;ll refund your money. It&rsquo;s as simple as that.</p></dd>
          <%== @product.questions %>
        </ul>
      </section>

      <section id="topics">
        <ul>
          <% @product.topics.each do |topic| %>
            <li><%= link_to topic.name, topic_path(topic) %></li>
          <% end %>
        </ul>
      </section>
    </section>

  </section>
</section>

<div id="flash"></div>
