<section id="learn-header-wrapper">
  <div class="learn-header-container">
    <div class="learn-detail-logo">
      <h1>
        <%= link_to image_tag('learn/learn-ralph-small.png'), root_path %>
        <%= t 'shared.learn' %>
        <span class="learnred"><%= @product.name %></span>
      </h1>
      <div class="myaccount">
        <% if show_account_links? %>
          <% if signed_in? %>
            <%= link_to 'My account', my_account_path, class: 'button' %>
          <% else %>
            <%= link_to 'Sign in', sign_in_path, class: 'button' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>


<section class="learn-detail-content">
  <div class="learn-text-box-wrapper">
    <div class="learn-text-box course-box">
      <h2><%= @product.tagline %></h2>

      <%== @product.description %>
    </div>
  </div>
  <aside>
    <section id="license">
        <% if !@product.external? %>
          <div>
            <h2>Single <span><%= number_to_currency @product.individual_price, precision: 0 %></span></h2>
            <div class="license">
              <%= link_to new_product_purchase_path(@product, variant: :individual), class: 'license-button button', id: "#{@product.sku}-purchase-individual" do %>
                Purchase for Yourself
              <% end %>
            </div>
          </div>
          <hr>
          <div>
            <h2>Group <span><%= number_to_currency @product.company_price, precision: 0 %></span></h2>
            <div class="license">
              <%= link_to new_product_purchase_path(@product, variant: :company), class: 'license-button button', id: "#{@product.sku}-purchase-company" do %>
                Purchase for Your Company
              <% end %>
            </div>
          </div>
        <% else %>
          <div>
            <div class="license">
              <%= link_to @product.external_purchase_url, class: 'license-button button', id: "#{@product.sku}-purchase-individual" do %>
                Purchase<% if @product.external_purchase_name.present? %> from <%= @product.external_purchase_name %><% end %>
              <% end %>
              <% if @product.external_purchase_description.present? %>
                <p><%== @product.external_purchase_description %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </section>

      <section id="terms">
        <ul>
          <dd><p>Every <%= @product.product_type %> includes support for any questions you may have about the topic, direct from the thoughtbot team.</p></dd>
          <% if !@product.external? %>
            <dt><p>What if I'm not happy?</p></dt>
            <dd><p>If you&rsquo;re not happy, just let us know within 30 days and we&rsquo;ll refund your money. It&rsquo;s as simple as that.</p></dd>
          <% end %>
          <%== @product.questions %>
        </ul>
      </section>
  </aside>
</section>

<div id="flash"></div>
