<section id="head-wrapper">
  <section id="homepage-top">
    <h1><%= @product.name %></h1>

    <section id="purchase-buttons">
      <div>
        <%= link_to new_product_purchase_path(@product, variant: :individual), id: "#{@product.sku}-purchase-individual" do %>
          Purchase for Yourself <%= number_to_currency @product.individual_price, precision: 0 %>
        <% end %>
        <p>Single viewer</p>
      </div>
      <div>
        <%= link_to new_product_purchase_path(@product, variant: :company), id: "#{@product.sku}-purchase-company" do %>
          Purchase for Your Company <%= number_to_currency @product.company_price, precision: 0 %>
        <% end %>
        <p>Unlimited sharing within your company</p>
      </div>
    </section>

    <section id="product-info">
      <h2><%= @product.tagline %></h2>

      <%== @product.description %>
    </section>

    <section id="purchasing-details">
      <section id="terms">
        <ul>
          <dt><p>What if I'm not happy?</p></dt>
          <dd><p>If you&rsquo;re not happy, just let us know and we&rsquo;ll refund your money. It&rsquo;s as simple as that.</p></dd>
          <%== @product.questions %>
        </ul>
      </section>
    </section>

  </section>
</section>

<div id="flash"></div>
