<div class="features">
  <figure class="<%= 'inactive' if !plan.includes_mentor? %>" data-target="mentoring">
    <h4 class="feature-title">1-1 Mentoring</h4>
    <div class="circle mentoring">
      <%= image_tag('learn/face-ben.png') %>
    </div>
  </figure>
  <figure class="<%= 'inactive' if !plan.includes_workshops? %>" data-target="workshop">
    <h4 class="feature-title">Hands-on Workshops</h4>
    <div class="circle workshop">
      <%= image_tag('learn/workshop-plans-preview.png') %>
    </div>
  </figure>
  <figure data-target="exercise">
    <h4 class="feature-title">Exercises</h4>
    <div class="circle repo">
      <%= image_tag('learn/exercise-plans-preview.png') %>
    </div>
  </figure>
  <figure data-target="repo">
    <h4 class="feature-title">Source code to this application</h4>
    <div class="circle repo">
      <%= image_tag('learn/learn-github-plans-preview.jpg') %>
    </div>
  </figure>
  <figure data-target="weekly-iteration">
    <h4 class="feature-title">The Weekly Iteration</h4>
    <div class="circle weekly-iteration">
      <%= image_tag('learn/weekly-iteration-plans-preview.jpg') %>
    </div>
  </figure>
  <figure data-target="forum">
    <h4 class="feature-title"><%= t 'individual_plans.forum' %></h4>
    <div class="circle forum">
      <%= image_tag('learn/forum-plans-preview.png') %>
    </div>
  </figure>
  <figure data-target="library">
    <h4 class="feature-title">Library</h4>
    <div class="circle library">
      <%= image_tag('learn/library-plans-preview.png') %>
    </div>
  </figure>
</div>

<section class="feature-details">
  <% if plan.includes_mentor? %>
    <section data-target-id="mentoring" class="feature-detail mentoring">
      <%= render 'plans/mentoring_detail' %>
    </section>
  <% end %>
  <% if plan.includes_workshops? %>
    <section data-target-id="workshop" class="feature-detail workshop">
      <%= render 'plans/workshops_detail' %>
    </section>
  <% end %>
  <section data-target-id="exercise" class="feature-detail exercise">
    <%= render 'plans/exercise_detail' %>
  </section>
  <section data-target-id="repo" class="feature-detail repo">
    <%= render 'plans/learn_repo_detail' %>
  </section>
  <section data-target-id="weekly-iteration" class="feature-detail weekly-iteration">
    <%= render 'plans/weekly_iteration_detail' %>
  </section>
  <section data-target-id="forum" class="feature-detail forum">
    <%= render 'plans/forum_detail' %>
  </section>
  <section data-target-id="library" class="feature-detail library">
    <%= render 'plans/library_detail' %>
  </section>
</section>
