<figure>
  <%= image_tag('product_images/book/geocoding-cover-large.png') %>
  <%= image_tag('product_images/book/backbone-cover-large.png') %>
  <%= image_tag('product_images/book/rubyscience-cover-large.png') %>
  <%= image_tag('product_images/book/iosonrails-cover-large.png') %>
  <%= wistia_video_embed(Clip.screencasts_promo, :small) %>
</figure>

<article>
  <p>We've published four successful books and over 30 screencasts. As a subscriber, you get access to them all.</p>
  <h4>Books</h4>
  <p>Our books are only available on Learn, and we offer them in Kindle, PDF, and EPub formats, and add you to each book's GitHub repo in case we make any changes.</p>
  <h4>Screencasts</h4>
  <p>Our screencasts contain quick, useful tips on Vim, testing, Rails performance, business best practices, refactoring, development tools, tmux, and more. These are typically under an hour and show a lot of code.</p>
</article>
