<section class="plan-features">
  <div class="inner">
    <%= render 'features/personal_coach', catalog: catalog %>
    <%= render 'features/exercises', catalog: catalog %>
    <%= render 'features/source_code', catalog: catalog %>
    <%= render 'features/video_tutorials', catalog: catalog %>
    <%= render 'features/forum', catalog: catalog %>
    <%= render 'features/weekly_iteration', catalog: catalog %>
  </div>
</section>
