<section class="plan <%= popular(plan) %>" data-sku="<%= plan.sku %>">
  <h3><%= plan.name %></h3>
  <%= render grid_partial_for(plan) %>
  <div class="price"><%= individual_price_per_month(plan) %></div>
  <%= choose_plan_link(plan) %>
</section>
