<div class="step <%= exercise.state.parameterize %>-exercise">
  <% if exercise.can_be_accessed? %>
    <%= completeable_link exercise.url, title: exercise.name do %>
      <div class="dot"></div>
    <% end %>
  <% else %>
    <div class="dot"></div>
  <% end %>

  <div class="tooltip">
    <figure class="exercise card <%= exercise.state.parameterize %>-exercise">
      <%= completeable_link exercise.url, title: exercise.name do %>
        <h5>
          <%= t(exercise.state.parameterize, scope: [:exercises, :statuses]) %>
        </h5>
        <h4><%= exercise.name %></h4>
        <p><%= exercise.summary %></p>
      <% end %>
    </figure>
  </div>
</div>
