<div class="step <%= exercise.state.parameterize %>-exercise">
  <%= render "trails/exercise_dot", exercise: exercise %>

  <div class="tooltip">
    <figure class="exercise card <%= exercise.state.parameterize %>-exercise">
      <%= completeable_link exercise.url, title: exercise.name do %>
        <h5>
          <%= t(exercise.state.parameterize, scope: [:exercises, :statuses]) %>
        </h5>
        <h4><%= exercise.name %></h4>
        <p><%= exercise.summary %></p>
      <% end %>

      <% unless current_user_has_access_to?(:trails) %>
        <%= render "products/locked" %>
      <% end %>
    </figure>
  </div>
</div>
