<% content_for :subject_block do %>
  <h1><%= @video_tutorial.name %></h1>
  <% if @video_tutorial.videos.any? %>
    <h2 class="tagline">Watch or download video lessons, <%= pluralize @video_tutorial.published_videos.size, "lesson" %> in this video tutorial.</h2>
  <% end %>
<% end %>

<div class="text-box-wrapper">
  <section class="text-box" id="videos">
    <%= render "video_tutorials/dates", watchable: @video_tutorial %>
    <%= render "video_tutorials/videos", watchable: @video_tutorial %>
  </section>
</div>

<%= render "watchables/aside", watchable: @video_tutorial %>
