<footer class="links">
  <a href="http://www.thoughtbot.com"><%= image_tag('ralph.svg') %></a>
  <p>Learn more about<%= link_to 'thoughtbot', 'http://thoughtbot.com' %> &bull; <%= link_to 'About', 'http://thoughtbot.com/about' %> <%= link_to 'Blog', 'http://robots.thoughtbot.com' %> <%= link_to 'Podcast', 'http://thoughtbot.com/podcast' %> <%= link_to 'Privacy Policy', page_path('privacy') %> <%= link_to 'Terms & Conditions', page_path('terms') %></p>
  <p>&copy; 2012&ndash;<%= Time.zone.today.year %> thoughtbot, inc. The design of a robot and thoughtbot are registered trademarks of thoughtbot, inc.</p>
</footer>
