<%= content_for :additional_body_classes, 'marketing' %>

<%= render "shared/header" %>

<section class="journey-headline">
  <h1>
    Sharpen your programming skills from the comfort of your own laptop.
  </h1>
</section>

<section class="journey">
  <section class="pitch left exclusive-content">
    <article>
      <figure id="bullet-1" class="journey-bullet">1.</figure>
      <h2>Watch one, do one, teach one</h2>

      <p>It often feels like "best practices" have a shelf-life of a few months
      before being replaced by better ideas. Between Rails&rsquo; constant
      changes and a never-ending stream of new gems and philosophies, it’s a
      real challenge to keep up with the state of the art.</p>

      <p>To help you stay sharp, we provide regular, exclusive screencasts on
      intermediate and advanced topics such as Vim mastery, TDD, and
      object-oriented design.</p>

      <p>Watching isn't enough, though. Programmers need to program.  So, Upcase
      provides peer-reviewed coding exercises that you complete using your local
      development environment, submit with a <code>git push</code> and get your
      solution reviewed by real humans (including thoughtbot folks).</p>
    </article>
    <figure class="supporting-visual two-stacked">
      <div>
        <h3>Screencasts</h3>
        <div class="figuregroup">
          <%= render partial: 'promoted_screencast', collection: @catalog.screencasts, as: :screencast %>
        </div>
      </div>
      <div>
        <h3>Books</h3>
        <div class="figuregroup">
          <%= render partial: 'promoted_book', collection: @catalog.books, as: :book %>
        </div>
      </div>
    </figure>
    <figure class="supporting-visual">
      <%= image_tag("exercise-ui.png") %>
    </figure>
  </section>
  <section class="pitch center">
    <article>
      <figure id="bullet-2" class="journey-bullet">2.</figure>
      <h2>Collaborate with thoughtbotters and other members</h2>
      <p>Don&rsquo;t develop alone, communicate with thoughtbotters and other motivated professionals. Ask questions about workshops, books, or personal projects. Join interesting conversations.</p>
    </article>
    <figure class="supporting-visual two-screenshot">
      <%= image_tag('upcase/forum-2.png') %>
      <%= image_tag('upcase/forum-1.png') %>
    </figure>
  </section>
  <section class="pitch left enroll">
    <article>
      <figure id="bullet-3" class="journey-bullet">3.</figure>
      <h2>Enroll in premium, hands-on workshops</h2>
      <p>Our workshops are more than just video tutorials. You&rsquo;ll build real apps and communicate directly with a thoughtbot developer or designer. Begin an online workshop as soon as you sign up.</p>
    </article>
    <figure class="supporting-visual two-stacked">
      <div>
        <h3>Online workshops</h3>
        <div class="figuregroup">
          <%= render partial: 'promoted_workshop', collection: @catalog.workshops.in_groups(2, false).first, as: :workshop %>
        </div>
      </div>
      <div>
        <h3>&nbsp;</h3>
        <div class="figuregroup">
          <%= render partial: 'promoted_workshop', collection: @catalog.workshops.in_groups(2, false).second, as: :workshop %>
        </div>
      </div>
    </figure>
  </section>
  <section class="pitch center">
    <article>
      <figure id="bullet-4" class="journey-bullet">4.</figure>
      <h2><span>Work with a mentor</h2>
      <p>thoughtbot mentors will hold calls with you once a month to discuss whatever you like: code review, landing your first Rails job, salary negotiation, etc.</p>
    </article>
    <figure class="supporting-visual mentors">
      <%= render partial: 'promoted_mentor', collection: @catalog.mentors, as: :mentor %>
    </figure>
  </section>
  <section class="pitch center final">
    <figure class="supporting-visual">
      <%= image_tag('upcase/dashboard.png') %>
    </figure>
    <article>
      <figure id="bullet-5" class="journey-bullet">5.</figure>
      <h2>This is the closest thing to working at thoughtbot full-time</h2>
      <p>We’ve trained hundreds of developers and apprentices over the years, and have a great handle on what it takes to become and remain an expert-level Rubyist.</p>

      <p>With <%= t('shared.subscription.name') %>, we’ve finally created a
      service that’s nearly as good as joining thoughtbot full time.
      If you’re a passionate developer serious about improving and maintaining
      your skills, we know you’ll get a ton of value out of the service.</p>

      <%= link_to new_subscription_path, class: 'upcase-journey-cta' do %>
        <h2><%= t('subscriptions.join_cta') %></h2>
      <% end %>
      <p class="terms">No minimum subscription length &bull; Get your money back within 30 days if you're not satisfied</p>
    </article>
  </section>
  <div class="curtain"></div>
</section>

<%= render 'footer' %>

