<%= content_for :additional_body_classes, 'prime-marketing' %>

<div class="prime-signin">
  <% if signed_in? %>
    <%= link_to 'Account', my_account_path %> |
    <%= link_to 'Sign out', sign_out_path, method: :delete %>
  <% else %>
    <%= link_to 'Sign in', sign_in_path %>
  <% end %>
</div>

<section class="journey-headline">
  <div class="logo">
    <h1>
      <%= image_tag('learn/learn-ralph.png') %>
    </h1>
  </div>
  <h1>Become an expert level Rails developer with <%= t('shared.subscription.name') %>. Learn from one of the most prolific and well respected Rails consultancies in the world.<br /><%= link_to t('subscriptions.join_cta'), new_subscription_path %></h1>
</section>

<section class="journey">
  <section class="pitch center">
    <article>
      <figure id="bullet-1" class="journey-bullet">1.</figure>
      <h2><span>Join <%= t('shared.subscription.name') %> to</span> Work with a mentor</h2>
      <p>thoughtbot mentors will hold calls with you once a month to discuss whatever you like: code review, landing your first Rails job, salary negotiation, etc.</p>
    </article>
    <figure class="supporting-visual mentors">
      <%= render partial: 'promoted_mentor', collection: @catalog.mentors, as: :mentor %>
    </figure>
  </section>
  <section class="pitch left enroll">
    <article>
      <figure id="bullet-2" class="journey-bullet">2.</figure>
      <h2>Enroll in premium, hands-on workshops</h2>
      <p>Our workshops are more than just video tutorials. You&rsquo;ll build real apps and communicate directly with a thoughtbot developer or designer. Begin an online workshop as soon as you sign up.</p>
    </article>
    <figure class="supporting-visual two-stacked">
      <div>
        <h3>Online workshops</h3>
        <div class="figuregroup">
          <%= render partial: 'promoted_workshop', collection: @catalog.workshops.in_groups(2, false).first, as: :workshop %>
        </div>
      </div>
      <div>
        <h3>&nbsp;</h3>
        <div class="figuregroup">
          <%= render partial: 'promoted_workshop', collection: @catalog.workshops.in_groups(2, false).second, as: :workshop %>
        </div>
      </div>
    </figure>
  </section>
  <section class="pitch center">
    <article>
      <figure id="bullet-3" class="journey-bullet">3.</figure>
      <h2>Collaborate with thoughtbotters and other members</h2>
      <p>Don&rsquo;t develop alone, communicate with thoughtbotters and other motivated professionals. Ask questions about workshops, books, or personal projects. Join interesting conversations.</p>
    </article>
    <figure class="supporting-visual two-screenshot">
      <%= image_tag('learn/forum-2.png') %>
      <%= image_tag('learn/forum-1.png') %>
    </figure>
  </section>
  <section class="pitch left exclusive-content">
    <article>
      <figure id="bullet-4" class="journey-bullet">4.</figure>
      <h2>Keep up with regular, exclusive content</h2>
      <p>It often feels like "best practices" have a shelf-life of a few months before being replaced by better ideas. Between Rails&rsquo; constant changes and a never-ending stream of new gems and philosophies, it’s a real challenge to keep up with the state of the art.</p>
      <p>Stay on top of it by reading the source of the Learn app itself, watching the thoughtbot team contribute to it, reading our books (which also come with high quality source code), and watching screencasts on vim, development tools, and more.</p>
    </article>
    <figure class="supporting-visual two-stacked">
      <div>
        <h3>Screencasts</h3>
        <div class="figuregroup">
          <%= render partial: 'promoted_screencast', collection: @catalog.screencasts, as: :screencast %>
        </div>
      </div>
      <div>
        <h3>Books</h3>
        <div class="figuregroup">
          <%= render partial: 'promoted_book', collection: @catalog.books, as: :book %>
        </div>
      </div>
    </figure>
    <figure class="supporting-visual two-screenshot">
      <%= image_tag('learn/learn-github-preview.jpg') %>
      <%= image_tag('learn/learn-github-preview-2.jpg') %>
    </figure>
  </section>
  <section class="pitch center final">
    <figure class="supporting-visual">
      <%= image_tag('learn/dashboard.png') %>
    </figure>
    <article>
      <figure id="bullet-5" class="journey-bullet">5.</figure>
      <h2>This is the closest thing to working at thoughtbot full-time</h2>
      <p>We’ve trained hundreds of developers and apprentices over the years, and have a great handle on what it takes to become and remain an expert-level Rubyist.</p>
      <p>With Learn <%= t('shared.subscription.name') %>, we’ve finally created a service that’s nearly as good as joining thoughtbot full time. If you’re a passionate developer serious about improving and maintaining your skills, we know you’ll get a ton of value out of the service.</p>
      <%= link_to new_subscription_path, class: 'prime-journey-cta' do %>
        <h2><%= t('subscriptions.join_cta') %></h2>
      <% end %>
      <p class="terms">No minimum subscription length &bull; Get your money back within 30 days if you're not satisfied</p>
    </article>
  </section>
  <div class="curtain"></div>
</section>

<footer class="links">
  <p>Learn more about <%= link_to 'thoughtbot', 'http://thoughtbot.com' %> &bull; <%= link_to 'About', 'http://thoughtbot.com/about' %> <%= link_to 'Blog', 'http://robots.thoughtbot.com' %> <%= link_to 'Podcast', 'http://thoughtbot.com/podcast' %> <%= link_to 'Privacy Policy', page_path('privacy') %> <%= link_to 'Terms & Conditions', page_path('terms') %></p>
  <p>&copy; 2012&ndash;2013 thoughtbot, inc. The design of a robot and thoughtbot are registered trademarks of thoughtbot, inc.</p>
</footer>
