<%= form.inputs do %>
  <%= form.input :name, label: 'Course Name' %>
  <%= form.input :short_description %>
  <%= form.input :description, label: 'Course Description' %>
  <%= form.input :audience %>
  <%= form.input :individual_price, wrapper_html: {class: 'course-price-li'} %>
  <%= form.input :company_price, wrapper_html: {class: 'course-price-li'} %>
  <%= form.input :maximum_students, label: 'Max Enrollment' %>
  <%= form.input :external_registration_url %>
  <%= form.input :public %>
  <%= form.input :start_at, as: :string %>
  <%= form.input :stop_at, as: :string %>
  <%= form.label :course_image%>
  <%= form.file_field :course_image %>
  <%= image_tag form.object.image_url %>
<% end %>

<div id="faq-form" class="clearfix">
  <h3>FAQ</h3>
  <ul>
    <%= form.fields_for :questions, form.object.questions_with_blank do |question_fields| -%>
      <%= content_tag_for :li, question_fields.object do %>
        <% if question_fields.object.persisted? -%>
          <%= link_to [:admin, @course, question_fields.object], method: :delete, class: 'remove-question', confirm: "Are you sure you want to delete this question?" do %>
            &#x2716;
          <% end %>
        <% end -%>
        <%= question_fields.text_field :question, placeholder: 'Question' %>
        <%= question_fields.text_area :answer, placeholder: 'Answer' %>
      <% end %>
    <% end -%>
  </ul>
  <a href="#" id="add-question">Add Question</a>
</div>

<div id="follow-up-form" class="clearfix">
  <h3>Follow ups</h3>
  <ul>
    <% @course.follow_ups.each_with_index do |follow_up, index| %>
      <%= form.fields_for(:follow_ups, follow_up) do |follow_up_fields| %>
        <%= content_tag_for(:li, follow_up) do %>
          <%= link_to [:admin, @course, follow_up], method: :delete, class: 'remove-followup', confirm: "Are you sure you want to delete this follow up request?" do %>
            &#x2716;
          <% end %>
          <% if follow_up.notified_at %>
            <span class="notified">Notified on <%= follow_up.notified_at.to_s(:simple) %></span>
          <% end %>
          <%= follow_up_fields.text_field :email, placeholder: 'Email address' %>
        <% end %>
      <% end %>
    <% end %>
    <%= form.fields_for :follow_ups, FollowUp.new do |follow_up_fields| -%>
      <li class='follow-up-email'>
        <%= follow_up_fields.text_field :email, placeholder: 'Email address' %>
      </li>
    <% end -%>
  </ul>
  <a href="#" id="add-follow-up">Add Follow up</a>
</div>

<% content_for :javascript do -%>
  <script type="text/javascript">
    var templateField = function (fieldSelector, containerSelector, triggerSelector) {
      var template = $(fieldSelector).last().clone();
      var addBlank = function () {
        var clone = template.clone();
        var index = $(fieldSelector).length;
        $(clone).find('input, select, textarea').each(function () {
          var replacedAttrs = ['id', 'name'];
          for (var attrIndex in replacedAttrs) {
            var attr = replacedAttrs[attrIndex];
            if (this[attr]) {
              this[attr] = this[attr].replace(/\d+/, index);
            }
          }
        });
        $(containerSelector).append(clone);
        return false;
      };
      $(triggerSelector).click(addBlank);
    };

    templateField('#faq-form li', '#faq-form ul', '#add-question');
    templateField('#follow-up-form li', '#follow-up-form ul', '#add-follow-up');
  </script>
<% end -%>
