<% content_for :nav do -%>
  <ul>
    <li><%= link_to "Courses", admin_courses_path %></li>
    <li class="raquo">&raquo;</li>
    <li><%= link_to @course.name, edit_admin_course_path(@course) %></li>
  </ul>
<% end -%>

<%= semantic_form_for [:admin, @course] do |form| %>
  <%= render :partial => 'fields', :locals => { :form => form } %>
  <%= form.buttons do -%>
    <%= form.commit_button 'Save Course' %>
  <% end -%>
<% end %>
