<% content_for :nav do -%>
  <ul>
    <li><%= link_to "Courses", admin_courses_path %></li>
    <li><%= link_to 'New Course', new_admin_course_path, :id => 'new-course' %></li>
    <li><%= link_to "Coupons", admin_coupons_path %></li>
    <li><%= link_to "Audiences", admin_audiences_path %></li>
    <li><%= link_to "Teachers", admin_teachers_path %></li>
    <li><%= link_to "Products", admin_products_path %></li>
    <li><%= link_to "Purchases", admin_purchases_path %></li>
  </ul>
<% end -%>

<ul id='course_list'>
  <%= render @courses %>
</ul>
<% content_for :javascript do %>
  <%= javascript_tag do %>
    $(function() {
      $('#course_list').sortable({ axis: 'y' })
      $('#course_list').bind('sortupdate', function(event, ui) {
        course_id = ui.item.data("course_id");
        position = $(this).children().index(ui.item) + 1;
        $.ajax("/admin/courses/"+course_id+"/position.js", {
          data: { position: position },
          type: "PUT"
        });
      });
    });
  <% end %>
<% end %>
