<li class="tile show <%= topic_slugs(video) %>">
  <h2><%= show.name %></h2>
  <h1><%= link_to video.title, video %></h1>
  <p class="description"><%= show.tagline %></p>
  <%= link_to "View All Episodes", show, class: "cta" %>
</li>
