<section class="tiles">
  <span class="divider">
    <h4 class="text">Videos</h4>
  </span>

  <ul>
    <% if show.latest_video.present? %>
      <%= render(
        "explore/latest_show_video",
        show: show,
        video: show.latest_video
      ) %>
    <% end %>

    <li class="tile video-tutorial <%= topic_slugs(video_tutorial) %>">
      <h2>Video Tutorial</h2>
      <h1><%= link_to video_tutorial.name, video_tutorial %></h1>
      <p class="description"><%= video_tutorial.tagline %></p>
      <%= link_to "View All Videos", products_path, class: "cta" %>
    </li>
  </ul>
</section>
