<%= render "mentor_info" %>
<% content_for :page_title, "Explore" %>

<% if locked_features.any? %>
  <%= render "products/locked_features" %>
<% end %>

<section class="root-library">
  <div class="content">
    <section class="subject">
      <h1>Explore</h1>
      <h2>
        Upcase's exclusive video tutorials and resources on intermediate and
        advanced topics such as Vim mastery, TDD, and object-oriented design.
      </h2>
    </section>

    <%= render "all_trails", trails: @explore.trails %>

    <section class="topics">
      <span class="divider">
        <h4 class="text">Topics</h4>
      </span>
      <ul class="topics-list">
        <%= render partial: "topic_tile",
          collection: @explore.topics,
          as: :topic %>
      </ul>
    </section>

    <%= render "videos",
      show: @explore.show,
      show_latest_video: @explore.show.latest_video,
      latest_video_tutorial: @explore.latest_video_tutorial %>
  </div>
</section>
