<footer class="site-footer">
  <ul class="site-footer__links">
    <% if signed_in? %>
      <li>
        <%= link_to("Sign out", sign_out_path, method: :delete) %>
      </li>

      <li>
        <%= link_to "Upcase source code on GitHub", repositories_path %>
      </li>
    <% end %>

    <li>
      <%= link_to "About thoughtbot", "https://thoughtbot.com" %>
    </li>

    <li>
      <%= link_to "Sponsor", "https://github.com/sponsors/thoughtbot" %>
    </li>

    <li>
      <%= link_to "Privacy Policy", privacy_path %>
    </li>

    <li>
      <%= link_to "Terms & Conditions", terms_path %>
    </li>

    <li>
      <%= mail_to ENV["SUPPORT_EMAIL"], t("footer.contact_us") %>
    </li>
  </ul>

  <a href="https://www.thoughtbot.com">
    <%= inline_svg_tag "marketing/ralph--dark.svg", class: "site-footer__logo" %>
  </a>

  <small class="site-footer__copyright">
    &copy; 2012 - <%= Time.zone.today.year %> thoughtbot, inc. Upcase, the
    design of a robot, and thoughtbot are registered trademarks of thoughtbot,
    inc.
  </small>
</footer>
