<div class="site-nav__menu">
  <ul>
    <li class="practice">
      <%= link_to(
        t("shared.header.trails"),
        practice_path,
        class: "site-nav__link",
      ) %>
    </li>

    <li class="explore">
      <%= link_to(
        "Videos",
        show_path("the-weekly-iteration"),
        class: "site-nav__link",
      ) %>
    </li>

    <li>
      <%= link_to(
        t("shared.header.flashcards"),
        decks_path,
        class: "site-nav__link",
      ) %>
    </li>

    <li class="discuss">
      <%= link_to(
        t("shared.header.forum"),
        Forum.url,
        class: "site-nav__link",
      ) %>
    </li>

    <li>
      <%= link_to(
        t("shared.header.search"),
        search_path,
        class: "site-nav__link",
      ) %>
    </li>

    <li>
      <%= link_to(
        t("shared.header.about_us"),
        about_us_path,
        class: "site-nav__link",
      ) %>
    </li>

    <% if signed_out? %>
      <li>
        <% if landing_page? %>
          <%= link_to(
            t("shared.header.sign_in"),
            sign_in_path,
            class: "site-nav__link",
          ) %>
        <% else %>
          <%= link_to(
            t("shared.header.sign_in"),
            sign_in_path_with_current_path_return_to,
            class: "site-nav__link",
          ) %>
        <% end %>
      </li>
    <% end %>

    <% if signed_in? %>
      <li>
        <%= link_to my_account_path, id: "my_account_link", class: "avatar" do %>
          <%= image_tag(
            gravatar_url(current_user.email, size: "30"),
            class: "avatar__image",
          )%>
        <% end %>
      </li>
    <% end %>

    <%= render "shared/masquerade_link" if masquerading? %>
  </ul>
</div>
