<ul>
  <% if onboarding_policy.onboarded? %>
    <li class="practice">
      <%= link_to t("shared.header.trails"), practice_path %>
    </li>
    <li>
      <%= link_to t("shared.header.flashcards"), decks_path %>
    </li>
    <li class="explore">
      <%= link_to t(
        "shared.header.weekly_iteration"),
        show_path("the-weekly-iteration")
      %>
    </li>
    <li class="discuss">
      <%= link_to t("shared.header.forum"), Forum.url %>
    </li>
    <% if current_user_is_subscription_owner? %>
      <li class="refer-friend">
        <%= link_to t(
            "shared.header.referral_link",
            discount: current_user.referral_discount_in_dollars
          ), "#", class: "squatchpop" %>
      </li>
    <% end %>
    <li>
      <%= link_to t("shared.header.search"), search_path %>
    </li>
    <% unless current_user.subscriber? %>
      <li class="header-cta">
        <% if content_for?(:header_cta_link) %>
          <%= content_for(:header_cta_link) %>
        <% else %>
          <%= link_to professional_checkout_path, class: "site-nav__cta" do %>
            <%= t("shared.subscriptions.single_user") %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  <% else %>
    <li class="help">
      <%= link_to t("shared.header.help-link"), welcome_path %>
    </li>
  <% end %>
  <li class="account">
    <%= link_to my_account_path do %>
      <%= image_tag gravatar_url(current_user.email, size: "30") %>
    <% end %>
  </li>
  <%= render "shared/masquerade_link" if masquerading? %>
</ul>
