<section
  class="header-wrapper <%= "sticky-header" if encourage_user_to_pay? %>"
  data-role="header">
  <div class="header-container">
    <%= link_to root_path, class: "branding" do %>
      <h1 class="small-logo">
        <%= image_tag("upcase/upcase-header-logo-small.svg", alt: t("layouts.app_name")) %>
      </h1>

      <%= image_tag("ralph.svg", class: "ralph-header-logo", alt: t("layouts.thoughtbot")) %>
      <% if sales_context? %>
        <span class="header-tagline"><%= t("shared.header.tagline") %></span>
      <% end %>
    <% end %>
    <a class="nav-toggle">Menu</a>
    <nav class="closed">
      <% if sales_context? %>
        <%= render "layouts/marketing_header_links" %>
      <% else %>
        <%= render "layouts/header_links" %>
      <% end %>
    </nav>
  </div>
</section>
