<section id="header-wrapper"
  class="without-hero <%= "subscriber" if current_user_has_active_subscription? %>"
  data-role="header">
  <div class="header-container">
    <%= link_to root_path, class: "branding" do %>
      <h1 class="small-logo"><%= image_tag("upcase/upcase-header-logo-small.svg") %></h1>
      <%= image_tag("ralph.svg", class: "ralph-header-logo") %>
    <% end %>
    <a class="nav-toggle">Menu</a>
    <nav class="closed">
      <ul>
        <% if onboarding_policy.onboarded? %>
          <li class="practice">
            <%= link_to t("shared.header.trails"), practice_path %>
          </li>
          <li>
            <%= link_to t("shared.header.flashcards"), decks_path %>
          </li>
          <li class="explore">
            <%= link_to t("shared.header.weekly_iteration"), show_path("the-weekly-iteration") %>
          </li>
          <li class="discuss">
            <%= link_to t("shared.header.forum"), Forum.url %>
          </li>
          <% if show_upgrade_to_annual_cta? %>
            <li class="annual">
              <%= render "shared/annual_billing" %>
            </li>
          <% end %>
          <li>
            <%= link_to t("shared.header.search"), search_path %>
          </li>
          <% unless current_user_has_active_subscription? %>
            <li class="subscription">
              <%= link_to new_subscription_path do %>
                <span><%= t("shared.subscriptions.icon") %></span>
                <%= t("shared.subscriptions.single_user") %>
              <% end %>
            </li>
          <% end %>
        <% else %>
          <li class="help">
            <%= link_to t("shared.header.help-link"), welcome_path %>
          </li>
        <% end %>
        <li class="account">
          <%= link_to my_account_path do %>
            <%= image_tag gravatar_url(current_user.email, size: "30") %>
          <% end %>
        </li>
        <%= render "shared/masquerade_link" if masquerading? %>
      </ul>
    </nav>
  </div>
</section>
