<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'shared/meta' %>
    <%= csrf_meta_tag %>
  </head>
  <body class="<%= body_class %>">
    <%= render 'shared/flashes' %>

    <div id="content">
      <div class="wrapper">
        <% if yield(:nav) -%>
          <div id="nav" class="clearfix">
            <%= yield :nav %>
          </div>
        <% end %>

        <%= yield :content_header %>

        <div class="dark-content clearfix">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render partial: 'shared/admin_sign_out' %>
    <%= render partial: 'shared/javascript' %>
  </body>
</html>
