<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <%= render :partial => 'layouts/admin/head' -%>
  </head>
  <body class="<%= body_class -%> <%= yield :extra -%>">
    <div id="header" class="clearfix">
      <%= render :partial => "layouts/admin/header" -%>
      <%= render :partial => 'layouts/admin/navigation' %>
    </div>

    <div id="content" class="clearfix">
      <%= render :partial => 'shared/flashes' %>

      <div class="main clearfix">
        <div class="main_top clearfix">
          <div class="main_top_content  clearfix">
            <%= yield :pageheader -%>
          </div>
        </div>
        <div class="main_content">
          <div class="main_content_inner">
            <%= yield -%>
          </div>
        </div>
        <div class="bottom_right_shadow"></div>
      </div><!-- #main -->

    </div><!-- #content -->

    <%= render :partial => 'layouts/admin/footer' %>
    <%= render :partial => 'shared/admin_javascript' -%>
  </body>
</html>
