<!DOCTYPE html>
<html>
  <head>
    <%= render :partial => 'shared/meta' %>
  </head>
  <body class="<%= body_class %>">
    <%= render :partial => 'shared/header' %>
    <div class="top">
      <div class="wrapper">
        <h2>Admin</h2>
      </div>
    </div>
    <div id="content" class="admin">
      <div class="wrapper">
        <div id="admin-nav" class="clearfix">
          <%= yield :nav %>
        </div>
        <div class="dark-content clearfix">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render :partial => 'shared/javascript' %>
  </body>
</html>

