<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="Description"
      name="Description" content="<%= yield(:meta_description).presence %>" />
    <meta name="google-site-verification"
      content="pFoYtgbd6tc74KGxv5yWxu2QTH0oKllYLrYbTt35iNM" />
    <%= open_graph_tags %>
    <title>
      <%= content_for(:page_title).presence || t("layouts.fallback_page_title") %>
    </title>

    <%= render 'layouts/typekit' %>
    <%= render 'layouts/ie_shiv' %>
    <%= stylesheet_link_tag :application, media: "all" %>
    <%= favicon_link_tag "favicon.ico" %>
    <%= csrf_meta_tag %>
    <%= content_for :additional_head_content %>

    <% if can_use_analytics? %>
      <script src="<%= ENV.fetch("ANALYTICS_URL") %>" data-site="<%= ENV.fetch("ANALYTICS") %>" defer></script>
    <% end %>

    <% if signed_in? %>
      <%= render "layouts/hide_drip_widget_for_signed_in_users" %>
    <% end %>
  </head>

  <body class="
    <%= body_class %>
    <%= yield(:additional_body_classes) %>
    ">
    <%= render "shared/environment_banner" %>
    <%= render "layouts/header" %>

    <div class="header-flash">
      <%= render "shared/flashes" %>
    </div>

    <section class="content <%= yield(:additional_content_classes) %>">
      <% if content_for?(:subject) %>
        <h1 class="subject"><%= yield(:subject) %></h1>
      <% end %>
      <% if content_for?(:subject_block) %>
        <section class="subject"><%= yield(:subject_block) %></section>
      <% end %>

      <%= yield %>
    </section>

    <% if content_for?(:sticky_header_height) %>
      <script type="text/javascript">
        window.stickyHeaderStart = <%= yield(:sticky_header_height) %>;
      </script>
    <% end %>

    <%= yield(:outside) %>

    <%= render "shared/javascript" %>
    <%= render "layouts/footer" %>
  </body>
</html>
