<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>thoughtbot workshops</title>
    <%= stylesheet_link_tag 'application' %>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta http-equiv="Description" name="Description" content="<%= t(".meta-description", :default => "Workshops to help you get a job as a designer or developer at a web startup.") %>" />
    <meta http-equiv="Keywords" name="Keywords" content="<%= t(".meta-keywords", :default => "web designer job, web design job, web development job, startup designer, startup developer, web startup job, startup job") %>" />
    <script type="text/javascript" src="http://use.typekit.com/jes4mbj.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body class="<%= body_class %>">
    <%= yield :page_header  %>

    <section id="container">
        <%= render 'shared/flashes' %>

        <%= yield :content_header %>
        <%= yield %>

        <footer>
          <p><a href="http://thoughtbot.com">thoughtbot</a> is a web design and development company based in Boston, MA. We build sites for local startups, run our own services, and share what we learn along the way with other designers and developers.</p>
        </footer>
    </section>

    <%= render :partial => 'shared/javascript' %>
  </body>
</html>
