<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>thoughtbot workshops</title>
    <%= stylesheet_link_tag 'reset', 'defaults', 'type', 'forms', 'tables', 'lists', 'screen', :cache => true %>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta http-equiv="Description" name="Description" content="<%= t(".meta-description", :default => "Workshops to help you get a job as a designer or developer at a web startup.") %>" />
    <meta http-equiv="Keywords" name="Keywords" content="<%= t(".meta-keywords", :default => "web designer job, web design job, web development job, startup designer, startup developer, web startup job, startup job") %>" />
  </head>
  <body class="<%= body_class %>">
    <%= render :partial => 'shared/header' %>

    <div class="top">
      <div class="wrapper">
        <%= yield :page_header  %>
      </div>
    </div>

    <div id="content">
      <div class="wrapper">
        <% if yield(:nav) -%>
          <div id="nav" class="clearfix">
            <%= yield :nav %>
          </div>
        <% end %>

        <%= yield :content_header %>

        <div class="dark-content clearfix">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render :partial => 'shared/javascript' %>
  </body>
</html>
