<!DOCTYPE html>
<html>
  <head>
    <%= render :partial => 'shared/meta' %>
  </head>
  <body class="<%= body_class %>">
    <%= render :partial => 'shared/header' %>
    <%= yield %>
    <%= render :partial => 'shared/javascript' %>
  </body>
</html>
