<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <%= render 'application/head_contents' %>
    <meta name="google-site-verification" content="pFoYtgbd6tc74KGxv5yWxu2QTH0oKllYLrYbTt35iNM" />
  </head>

  <body class="<%= body_class %> <%= yield(:additional_body_classes) %>">
    <%= yield %>
    <%= render 'shared/javascript' %>
    <%= render 'chat' %>
  </body>
</html>

