<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <%= render 'application/head_contents' %>
  </head>

  <body class="<%= body_class %> <%= yield(:additional_body_classes) %>">
    <section id="header-wrapper" class="<%= "subscriber" if current_user_has_active_subscription? %>">
      <div class="header-container">
        <h1 class="small-logo">
          <%= link_to root_path do %>
            <%= image_tag("upcase/upcase-header-logo-small.svg") %>
          <% end %>
        </h1>
        <nav>
          <ul>
            <li class="view-plans">
              <%= link_to t("subscriptions.join_cta"), "#price" %>
            </li>
            <li>
              <% if signed_in? %>
                <%= link_to 'Account', my_account_path %>
              <% else %>
                <%= link_to 'Sign In', sign_in_path %>
              <% end %>
            </li>
          </ul>
        </nav>
      </div>
    </section>

    <div class="header-flash">
      <%= render 'shared/flashes' %>
    </div>

    <section class="content">
      <% if content_for?(:subject_block) %>
        <section class="subject"><%= yield(:subject_block) %></section>
      <% end %>
      <%= yield %>
    </section>

    <%= render 'shared/footer' %>
    <%= render 'shared/javascript' %>
  </body>
</html>
