<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <%= render "application/head_contents" %>
  </head>

  <body class="viewed-by-visitor <%= body_class %> <%= yield(:additional_body_classes) %>">
    <section id="header-wrapper"
      data-role="header">
      <div class="header-container">
        <%= link_to root_path, class: "branding" do %>
          <h1 class="small-logo"><%= image_tag("upcase/upcase-header-logo-small.svg") %></h1>
          <%= image_tag("ralph.svg", class: "ralph-header-logo") %>
          <span class="header-tagline"><%= t("shared.header.tagline") %></span>
        <% end %>
        </h1>
        <nav>
          <ul>
            <li>
              <%= link_to t("shared.header.explore"), "#",
                class: "table-of-contents-toggle",
                data: { role: "table-of-contents-toggle" } %>
            </li>
            <% if signed_out? %>
              <li>
                <%= link_to "Sign In", sign_in_path %>
              </li>
            <% end %>
            <li class="header-cta">
              <%= link_to professional_checkout_path, class: "header-cta-link" do %>
                <%= t("subscriptions.join_cta") %>
              <% end %>
            </li>
          </ul>
        </nav>
      </div>
    </section>

    <div class="header-flash">
      <%= render "shared/flashes" %>
    </div>

    <section class="content">
      <% if content_for?(:subject_block) %>
        <section class="subject"><%= yield(:subject_block) %></section>
      <% end %>

      <%= yield %>
    </section>

    <% if content_for?(:sticky_header_height) %>
      <script type="text/javascript">
        window.stickyHeaderStart = <%= yield(:sticky_header_height) %>;
      </script>
    <% end %>

    <%= render "shared/footer" %>
    <%= render "shared/javascript" %>
    <%= render "shared/table_of_contents" %>
  </body>
</html>
