<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="ROBOTS" content="NOODP" />
    <meta name="viewport" content="width=device-width, initial-scale=1,
      shrink-to-fit=no" />
    <title>Upcase</title>
    <%= stylesheet_link_tag :marketing, media: "all" %>
    <%= favicon_link_tag "favicon.ico" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= body_class %>">
    <%= render "shared/flashes" %>
    <%= yield %>
  </body>

  <%= render "shared/javascript" %>
</html>
