<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.optimizely.com/js/8273439110.js"></script>
    <meta charset="utf-8" />
    <meta name="ROBOTS" content="NOODP" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Upcase</title>
    <%= stylesheet_link_tag :marketing, media: "all" %>
    <%= favicon_link_tag "favicon.ico" %>
    <link rel="canonical" href="https://thoughtbot.com/upcase" />
    <%= csrf_meta_tags %>
    <%= render "facebook_pixel" %>
  </head>

  <body class="<%= body_class %>">
    <%= render "shared/flashes" %>
    <%= yield %>
  </body>

  <%= render "shared/javascript" %>
</html>
