<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="ROBOTS" content="NOODP" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="Description" http-equiv="Description"
      content="<%= t(".description") %>" />
    <meta name="google-site-verification"
      content="<%= ENV.fetch("GOOGLE_SITE_VERIFICATION") %>" />
    <%= open_graph_tags %>
    <title>
      <%= content_for(:page_title).presence || t(".page_title") %>
    </title>
    <%= stylesheet_link_tag :marketing, media: "all" %>
    <%= favicon_link_tag "favicon.ico" %>
    <link rel="canonical" href="https://thoughtbot.com/upcase" />
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= body_class %>">
    <%= render "shared/flashes" %>
    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>

  <%= render "shared/javascript" %>
  <%= render "application/visitor_analytics" %>
</html>
