<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <%= render 'application/head_contents' %>
  </head>

  <body class="<%= body_class %> <%= yield(:additional_body_classes) %>">
    <section id="header-wrapper" data-role="header">
      <div class="header-container">
        <%= link_to root_path, class: "branding" do %>
          <h1 class="small-logo"><%= image_tag("upcase/upcase-header-logo-small.svg") %></h1>
          <span class="header-tagline"><%= t("shared.header.tagline") %></span>
        <% end %>
        </h1>
      </div>
    </section>

    <div class="header-flash">
      <%= render "shared/flashes" %>
    </div>

    <section class="content">
      <%= yield %>
    </section>

    <%= render 'shared/javascript' %>
  </body>
</html>
