<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <%= render "application/head_contents" %>
    <%= render "layouts/hide_drip_widget_for_signed_in_users" %>
  </head>

  <body class="<%= body_class %> <%= yield(:additional_body_classes) %>">
    <%= render "shared/environment_banner" %>
    <%= render "layouts/signed_in_header" %>
    <%= render "shared/flashes" %>

    <div class="content <%= yield(:additional_content_classes) %>">
      <% if content_for?(:subject) %>
        <h1 class="subject"><%= yield(:subject) %></h1>
      <% end %>
      <% if content_for?(:subject_block) %>
        <section class="subject"><%= yield(:subject_block) %></section>
      <% end %>
      <%= yield %>
    </div>

    <%= yield(:outside) %>

    <%= render "shared/footer" %>
    <%= render "shared/javascript" %>
  </body>
</html>
