<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Description" name="Description" content="" />
    <meta http-equiv="Keywords" name="Keywords" content="" />
    <title>Test-Driven Rails Resources &amp; Recommended Reading</title>
    <script type="text/javascript" src="//use.typekit.net/goi6gvo.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="/assets/design-for-developers.css" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body class="<%= content_for?(:body_class) ? yield(:body_class) : params[:id] %>">
    <header class="title">
      <%= render 'test_driven_rails_resources_navigation' %>
    </header>

    <section class="container">
      <%= yield %>
    </section>

    <footer>
      <%= render 'test_driven_rails_resources_navigation' %>
    </footer>

    <% if Rails.env.staging? || Rails.env.production? %>
      <%= render 'javascript_olark' %>
    <% end %>
    <%= render 'shared/google_analytics' %>
  </body>
</html>
